.preview .runner-s-empty > * > * > .runner-toprow > .runner-cl img
{
height: 0px
}
.preview .runner-s-empty > * > * > .runner-toprow > .runner-cr img
{
height: 0px
}
.preview .runner-s-empty > * > * > .runner-bottomrow > .runner-cl img
{
height: 0px
}
.preview .runner-s-empty > * > * > .runner-bottomrow > .runner-cr img
{
height: 0px
}
.preview .runner-s-empty > * > * > * > .runner-cl ,
.preview .runner-s-empty > * > * > * > .runner-cl  > img,
.preview .runner-s-empty > * > * > * > .runner-cr ,
.preview .runner-s-empty > * > * > * > .runner-cr  > img
{
width: 0px
}
.preview .runner-s-empty > * > * > .runner-toprow.style1 > .runner-cl ,
.preview .runner-s-empty > * > * > .runner-toprow.style2 > .runner-cl ,
.preview .runner-s-empty > * > * > .runner-toprow.style3 > .runner-cl ,
.preview .runner-s-empty > * > * > .runner-toprow > .runner-cl.alt ,
.preview .runner-s-empty > * > * > .runner-toprow.style1 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-toprow.style2 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-toprow.style3 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-toprow > .runner-cc.alt ,
.preview .runner-s-empty > * > * > .runner-toprow.style1 > .runner-cr ,
.preview .runner-s-empty > * > * > .runner-toprow.style2 > .runner-cr ,
.preview .runner-s-empty > * > * > .runner-toprow.style3 > .runner-cr ,
.preview .runner-s-empty > * > * > .runner-toprow > .runner-cr.alt ,
.preview .runner-s-empty > * > * > .runner-row.style1 > .runner-cl ,
.preview .runner-s-empty > * > * > .runner-row.style2 > .runner-cl ,
.preview .runner-s-empty > * > * > .runner-row.style3 > .runner-cl ,
.preview .runner-s-empty > * > * > .runner-row > .runner-cl.alt ,
.preview .runner-s-empty > * > * > .runner-row.style1 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-row.style2 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-row > .runner-cc.alt ,
.preview .runner-s-empty > * > * > .runner-row.style1 > .runner-cr ,
.preview .runner-s-empty > * > * > .runner-row.style2 > .runner-cr ,
.preview .runner-s-empty > * > * > .runner-row.style3 > .runner-cr ,
.preview .runner-s-empty > * > * > .runner-row > .runner-cr.alt ,
.preview .runner-s-empty > * > * > .runner-bottomrow.style1 > .runner-cl ,
.preview .runner-s-empty > * > * > .runner-bottomrow.style2 > .runner-cl ,
.preview .runner-s-empty > * > * > .runner-bottomrow.style3 > .runner-cl ,
.preview .runner-s-empty > * > * > .runner-bottomrow > .runner-cl.alt ,
.preview .runner-s-empty > * > * > .runner-bottomrow.style1 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-bottomrow.style2 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-bottomrow > .runner-cc.alt ,
.preview .runner-s-empty > * > * > .runner-bottomrow.style1 > .runner-cr ,
.preview .runner-s-empty > * > * > .runner-bottomrow.style2 > .runner-cr ,
.preview .runner-s-empty > * > * > .runner-bottomrow.style3 > .runner-cr ,
.preview .runner-s-empty > * > * > .runner-bottomrow > .runner-cr.alt 
{
background:none
}
.preview .runner-s-empty > * > * > .runner-bottomrow
{
display:none;
}
.preview .runner-s-empty > * > * > .runner-toprow.style1 > *.runner-cc
{
color: #333333
}
.preview .runner-s-empty > * > * > .runner-row.style1 > *.runner-cc
{
color: #333333
}
.preview .runner-s-empty > * > * > .runner-toprow.style1 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-empty > * > * > .runner-row.style1 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-empty .runner-row.style1 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-empty > * > * > .runner-toprow.header.style1 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-empty > * > * > .runner-row.style1 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-empty > * > * > .runner-bottomrow.style1 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-empty > * > * > .runner-toprow.style2 > *.runner-cc
{
color: #333333
}
.preview .runner-s-empty > * > * > .runner-row.style2 > *.runner-cc
{
color: #333333
}
.preview .runner-s-empty > * > * > .runner-toprow.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-empty > * > * > .runner-row.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-empty .runner-row.style2 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-empty > * > * > .runner-toprow.header.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-empty > * > * > .runner-row.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-empty > * > * > .runner-bottomrow.style2 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-empty > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-empty > * > * > .runner-toprow > *.runner-cc.alt
{
color: #333333
}
.preview .runner-s-empty > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-empty > * > * > .runner-row > *.runner-cc.alt
{
color: #333333
}
.preview .runner-s-empty > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-empty > * > * > .runner-toprow > *.runner-cc.alt
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-empty > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-empty > * > * > .runner-row > *.runner-cc.alt
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-empty .runner-row.style3 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-empty > * > * > .runner-toprow.header.style3 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-toprow.header > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-empty > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-row > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-empty > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-empty > * > * > .runner-bottomrow > .runner-cc.alt 
{
padding: 0px;
}
.preview .runner-s-empty .runner-cc  .runner-btnframe > .runner-button-img img,
.preview  .runner-wrapper .runner-s-empty .runner-cc  .runner-btnframe > .runner-button-img img
{
margin: 8px
}
.preview .runner-s-empty .runner-cc  a.runner-button,
.preview  .runner-wrapper .runner-s-empty .runner-cc  a.runner-button
{
line-height:27px; padding: 0 8px;
}
.preview .runner-s-empty .runner-cc  span.runner-btnframe,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe
{
height:27px;
}
.preview .runner-s-empty .runner-cc  .runner-btnleft,
.preview .runner-s-empty .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-empty .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-empty .runner-cc  .runner-btnright
{
background-image: url('btnbutton2/sprite1.png?63440906')
}
.preview .runner-s-empty .runner-cc  .runner-btnleft,
.preview .runner-s-empty .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-empty .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-empty .runner-cc  .runner-btnright
{
background-position:0px 0px;
}
.preview .runner-s-empty .runner-cc  span.runner-btnframe.hover .runner-btnleft,
.preview .runner-s-empty .runner-cc  span.runner-btnframe.hover .runner-btnright,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe.hover .runner-btnleft,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe.hover .runner-btnright
{
background-position:0px -27px;
}
.preview .runner-s-empty .runner-cc  span.runner-btnframe.press .runner-btnleft,
.preview .runner-s-empty .runner-cc  span.runner-btnframe.press .runner-btnright,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe.press .runner-btnleft,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe.press .runner-btnright
{
background-position:0px -54px;
}
.preview .runner-s-empty .runner-cc  span.runner-btnframe.disabled .runner-btnleft,
.preview .runner-s-empty .runner-cc  span.runner-btnframe.disabled .runner-btnright,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe.disabled .runner-btnleft,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe.disabled .runner-btnright
{
background-position:0px -81px;
}
.preview .runner-s-empty .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-empty .runner-cc  .runner-btnleft
{
height:27px; top:0; left:0; right:6px;
}
.preview .runner-s-empty .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-empty .runner-cc  .runner-btnright
{
width:500px; right:0; clip:rect(auto, auto, auto, 494px); height:27px;
}
.preview .runner-s-empty .runner-cc  span.runner-btnframe a.runner-button,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe a.runner-button
{
color: #FF9900
}
.preview .runner-s-empty .runner-cc  span.runner-btnframe.hover a.runner-button,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe.hover a.runner-button
{
color: #F66C13
}
.preview .runner-s-empty .runner-cc  span.runner-btnframe.press a.runner-button,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe.press a.runner-button
{
color: #F66C13
}
.preview .runner-s-empty .runner-cc  span.runner-btnframe.disabled a.runner-button,
.preview  .runner-wrapper .runner-s-empty .runner-cc  span.runner-btnframe.disabled a.runner-button
{
color: #404040
}
.preview .runner-s-empty .runner-cc  a.runner-button,
.preview  .runner-wrapper .runner-s-empty .runner-cc  a.runner-button
{
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow > .runner-cl img
{
height: 0px
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow > .runner-cr img
{
height: 0px
}
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow > .runner-cl img
{
height: 0px
}
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow > .runner-cr img
{
height: 0px
}
.preview .runner-s-disabled-empty > * > * > * > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > * > .runner-cl  > img,
.preview .runner-s-disabled-empty > * > * > * > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > * > .runner-cr  > img
{
width: 0px
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style1 > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style2 > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style3 > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow > .runner-cl.alt ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style1 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style2 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style3 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow > .runner-cc.alt ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style1 > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style2 > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style3 > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow > .runner-cr.alt ,
.preview .runner-s-disabled-empty > * > * > .runner-row.style1 > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > .runner-row.style2 > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > .runner-row.style3 > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > .runner-row > .runner-cl.alt ,
.preview .runner-s-disabled-empty > * > * > .runner-row.style1 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-row.style2 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-row > .runner-cc.alt ,
.preview .runner-s-disabled-empty > * > * > .runner-row.style1 > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > .runner-row.style2 > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > .runner-row.style3 > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > .runner-row > .runner-cr.alt ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style1 > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style2 > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style3 > .runner-cl ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow > .runner-cl.alt ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style1 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style2 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow > .runner-cc.alt ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style1 > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style2 > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style3 > .runner-cr ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow > .runner-cr.alt 
{
background:none
}
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow
{
display:none;
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style1 > *.runner-cc
{
color: #B3B3B3
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style1 > *.runner-cc
{
color: #B3B3B3
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style1 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style1 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-empty .runner-row.style1 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.header.style1 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style1 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style1 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style2 > *.runner-cc
{
color: #B3B3B3
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style2 > *.runner-cc
{
color: #B3B3B3
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-empty .runner-row.style2 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.header.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style2 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-disabled-empty > * > * > .runner-toprow > *.runner-cc.alt
{
color: #B3B3B3
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-disabled-empty > * > * > .runner-row > *.runner-cc.alt
{
color: #B3B3B3
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-disabled-empty > * > * > .runner-toprow > *.runner-cc.alt
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-disabled-empty > * > * > .runner-row > *.runner-cc.alt
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-empty .runner-row.style3 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.header.style3 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-toprow.header > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-row > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-disabled-empty > * > * > .runner-bottomrow > .runner-cc.alt 
{
padding: 0px;
}
.preview .runner-s-disabled-empty .runner-cc  .runner-btnframe > .runner-button-img img,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  .runner-btnframe > .runner-button-img img
{
margin: 8px
}
.preview .runner-s-disabled-empty .runner-cc  a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  a.runner-button
{
line-height:27px; padding: 0 8px;
}
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe
{
height:27px;
}
.preview .runner-s-disabled-empty .runner-cc  .runner-btnleft,
.preview .runner-s-disabled-empty .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  .runner-btnright
{
background-image: url('btndisabledbutton2/sprite1.png?63440921')
}
.preview .runner-s-disabled-empty .runner-cc  .runner-btnleft,
.preview .runner-s-disabled-empty .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  .runner-btnright
{
background-position:0px 0px;
}
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe.hover .runner-btnleft,
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe.hover .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe.hover .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe.hover .runner-btnright
{
background-position:0px -27px;
}
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe.press .runner-btnleft,
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe.press .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe.press .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe.press .runner-btnright
{
background-position:0px -54px;
}
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe.disabled .runner-btnleft,
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe.disabled .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe.disabled .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe.disabled .runner-btnright
{
background-position:0px -81px;
}
.preview .runner-s-disabled-empty .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  .runner-btnleft
{
height:27px; top:0; left:0; right:6px;
}
.preview .runner-s-disabled-empty .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  .runner-btnright
{
width:500px; right:0; clip:rect(auto, auto, auto, 494px); height:27px;
}
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe a.runner-button
{
color: #CCCCCC
}
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe.hover a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe.hover a.runner-button
{
color: #C9C9C9
}
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe.press a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe.press a.runner-button
{
color: #C9C9C9
}
.preview .runner-s-disabled-empty .runner-cc  span.runner-btnframe.disabled a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  span.runner-btnframe.disabled a.runner-button
{
color: #B7B7B7
}
.preview .runner-s-disabled-empty .runner-cc  a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-empty .runner-cc  a.runner-button
{
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
