<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Category">
	{$Category_editcontrol}
	</control>
	<control field="Subject">
	{$Subject_editcontrol}
	</control>
	<control field="FromDate">
	{$FromDate_editcontrol}
	</control>
	<control field="ToDate">
	{$ToDate_editcontrol}
	</control>
	<control field="FromTime">
	{$FromTime_editcontrol}
	</control>
	<control field="ToTime">
	{$ToTime_editcontrol}
	</control>
	<control field="Location">
	{$Location_editcontrol}
	</control>
	<control field="Map">
	{$Map_editcontrol}
	</control>
	<control field="Price">
	{$Price_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>