{BEGIN mainmenu_block}
	<ul class="rnr-b-vmenu simple {$menustyle}">
	{BEGIN item1_menulink}
	<li class="{$item1_current} menuLeaf">
		<div>
<div>
<a {$item1_menulink_attrs}>{$item1_title}</a>
</div>
</div>



	</li>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<li class="{$item2_current} menuLeaf">
		<div>
<div>
<a {$item2_menulink_attrs}>{$item2_title}</a>
</div>
</div>



	</li>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<li class="{$item3_current} menuLeaf">
		<div>
<div>
<a {$item3_menulink_attrs}>{$item3_title}</a>
</div>
</div>



	</li>
	{END item3_menulink}
</ul>
{END mainmenu_block}


