<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN SetWithdrawDate_tabfieldblock}
<tr class="{$fielddispclass_SetWithdrawDate}" data-fieldname="SetWithdrawDate">
	<td class="style1 rnr-label">
		{BEGIN SetWithdrawDate_label}{$label accounts SetWithdrawDate}{END SetWithdrawDate_label}
	</td>
	<td class="rnr-control style3">
		{$SetWithdrawDate_editcontrol}&nbsp;
	</td>
</tr>
{END SetWithdrawDate_tabfieldblock}
{BEGIN AccountType_tabfieldblock}
<tr class="{$fielddispclass_AccountType}" data-fieldname="AccountType">
	<td class="style1 rnr-label">
		{BEGIN AccountType_label}{$label accounts AccountType}{END AccountType_label}
	</td>
	<td class="rnr-control style3">
		{$AccountType_editcontrol}&nbsp;
	</td>
</tr>
{END AccountType_tabfieldblock}
{BEGIN AccountHolderKey_tabfieldblock}
<tr class="{$fielddispclass_AccountHolderKey}" data-fieldname="AccountHolderKey">
	<td class="style1 rnr-label">
		{BEGIN AccountHolderKey_label}{$label accounts AccountHolderKey}{END AccountHolderKey_label}
	</td>
	<td class="rnr-control style3">
		{$AccountHolderKey_editcontrol}&nbsp;
	</td>
</tr>
{END AccountHolderKey_tabfieldblock}
{BEGIN ClientNo_tabfieldblock}
<tr class="{$fielddispclass_ClientNo}" data-fieldname="ClientNo">
	<td class="style1 rnr-label">
		{BEGIN ClientNo_label}{$label accounts ClientNo}{END ClientNo_label}
	</td>
	<td class="rnr-control style3">
		{$ClientNo_editcontrol}&nbsp;
	</td>
</tr>
{END ClientNo_tabfieldblock}
{BEGIN LastModifiedBy_tabfieldblock}
<tr class="{$fielddispclass_LastModifiedBy}" data-fieldname="LastModifiedBy">
	<td class="style1 rnr-label">
		{BEGIN LastModifiedBy_label}{$label accounts LastModifiedBy}{END LastModifiedBy_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedBy_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedBy_tabfieldblock}
{BEGIN LastModifiedDate_tabfieldblock}
<tr class="{$fielddispclass_LastModifiedDate}" data-fieldname="LastModifiedDate">
	<td class="style1 rnr-label">
		{BEGIN LastModifiedDate_label}{$label accounts LastModifiedDate}{END LastModifiedDate_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedDate_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedDate_tabfieldblock}
{BEGIN AccountName_tabfieldblock}
<tr class="{$fielddispclass_AccountName}" data-fieldname="AccountName">
	<td class="style1 rnr-label">
		{BEGIN AccountName_label}{$label accounts AccountName}{END AccountName_label}
	</td>
	<td class="rnr-control style3">
		{$AccountName_editcontrol}&nbsp;
	</td>
</tr>
{END AccountName_tabfieldblock}
{BEGIN LoanCreditPaymentPurpose_tabfieldblock}
<tr class="{$fielddispclass_LoanCreditPaymentPurpose}" data-fieldname="LoanCreditPaymentPurpose">
	<td class="style1 rnr-label">
		{BEGIN LoanCreditPaymentPurpose_label}{$label accounts LoanCreditPaymentPurpose}{END LoanCreditPaymentPurpose_label}
	</td>
	<td class="rnr-control style3">
		{$LoanCreditPaymentPurpose_editcontrol}&nbsp;
	</td>
</tr>
{END LoanCreditPaymentPurpose_tabfieldblock}
</table>




{END container_1}

</div>