<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="AccountNumber">
	{$AccountNumber_editcontrol}
	</control>
	<control 
	field="AccountBalance">
	{$AccountBalance_editcontrol}
	</control>
	<control 
	field="AccountHolder">
	{$AccountHolder_editcontrol}
	</control>
	<control 
	field="LastTransactionDate">
	{$LastTransactionDate_editcontrol}
	</control>
	<control 
	field="OpeningBalance">
	{$OpeningBalance_editcontrol}
	</control>
	<control 
	field="InterestRate">
	{$InterestRate_editcontrol}
	</control>
	<control 
	field="SetWithdrawDate">
	{$SetWithdrawDate_editcontrol}
	</control>
	<control 
	field="AccountName">
	{$AccountName_editcontrol}
	</control>
	<control 
	field="AccountType">
	{$AccountType_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
