<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN EmergencyContactPerson_tabfieldblock}
<tr class="{$fielddispclass_EmergencyContactPerson}" data-fieldname="EmergencyContactPerson">
	<td class="style1 rnr-label">
		{BEGIN EmergencyContactPerson_label}{$label admin_users EmergencyContactPerson}{END EmergencyContactPerson_label}
	</td>
	<td class="rnr-control style3">
		{$EmergencyContactPerson_editcontrol}&nbsp;
	</td>
</tr>
{END EmergencyContactPerson_tabfieldblock}
{BEGIN EmergencyContactRelation_tabfieldblock}
<tr class="{$fielddispclass_EmergencyContactRelation}" data-fieldname="EmergencyContactRelation">
	<td class="style1 rnr-label">
		{BEGIN EmergencyContactRelation_label}{$label admin_users EmergencyContactRelation}{END EmergencyContactRelation_label}
	</td>
	<td class="rnr-control style3">
		{$EmergencyContactRelation_editcontrol}&nbsp;
	</td>
</tr>
{END EmergencyContactRelation_tabfieldblock}
{BEGIN EmergencyContactTel_tabfieldblock}
<tr class="{$fielddispclass_EmergencyContactTel}" data-fieldname="EmergencyContactTel">
	<td class="style1 rnr-label">
		{BEGIN EmergencyContactTel_label}{$label admin_users EmergencyContactTel}{END EmergencyContactTel_label}
	</td>
	<td class="rnr-control style3">
		{$EmergencyContactTel_editcontrol}&nbsp;
	</td>
</tr>
{END EmergencyContactTel_tabfieldblock}
{BEGIN LastModifiedBy_tabfieldblock}
<tr class="{$fielddispclass_LastModifiedBy}" data-fieldname="LastModifiedBy">
	<td class="style1 rnr-label">
		{BEGIN LastModifiedBy_label}{$label admin_users LastModifiedBy}{END LastModifiedBy_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedBy_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedBy_tabfieldblock}
{BEGIN LastModifiedDate_tabfieldblock}
<tr class="{$fielddispclass_LastModifiedDate}" data-fieldname="LastModifiedDate">
	<td class="style1 rnr-label">
		{BEGIN LastModifiedDate_label}{$label admin_users LastModifiedDate}{END LastModifiedDate_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedDate_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedDate_tabfieldblock}
</table>




{END container_1}

</div>