<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN ProfilePhoto_tabfieldblock}
<tr class="{$fielddispclass_ProfilePhoto}" data-fieldname="ProfilePhoto">
	<td class="style1 rnr-label">
		{BEGIN ProfilePhoto_label}{$label admin_users ProfilePhoto}{END ProfilePhoto_label}
	</td>
	<td class="rnr-control style3">
		{$ProfilePhoto_editcontrol}&nbsp;
	</td>
</tr>
{END ProfilePhoto_tabfieldblock}
{BEGIN AttachedFile_tabfieldblock}
<tr class="{$fielddispclass_AttachedFile}" data-fieldname="AttachedFile">
	<td class="style1 rnr-label">
		{BEGIN AttachedFile_label}{$label admin_users AttachedFile}{END AttachedFile_label}
	</td>
	<td class="rnr-control style3">
		{$AttachedFile_editcontrol}&nbsp;
	</td>
</tr>
{END AttachedFile_tabfieldblock}
{BEGIN UserAccountName_tabfieldblock}
<tr class="{$fielddispclass_UserAccountName}" data-fieldname="UserAccountName">
	<td class="style1 rnr-label">
		{BEGIN UserAccountName_label}{$label admin_users UserAccountName}{END UserAccountName_label}
	</td>
	<td class="rnr-control style3">
		{$UserAccountName_editcontrol}&nbsp;
	</td>
</tr>
{END UserAccountName_tabfieldblock}
{BEGIN UserAccountNo_tabfieldblock}
<tr class="{$fielddispclass_UserAccountNo}" data-fieldname="UserAccountNo">
	<td class="style1 rnr-label">
		{BEGIN UserAccountNo_label}{$label admin_users UserAccountNo}{END UserAccountNo_label}
	</td>
	<td class="rnr-control style3">
		{$UserAccountNo_editcontrol}&nbsp;
	</td>
</tr>
{END UserAccountNo_tabfieldblock}
</table>




{END container_1}

</div>