<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN PlaceOfBirth_tabfieldblock}
<tr class="{$fielddispclass_PlaceOfBirth}" data-fieldname="PlaceOfBirth">
	<td class="style1 rnr-label">
		{BEGIN PlaceOfBirth_label}{$label ClientAccounts PlaceOfBirth}{END PlaceOfBirth_label}
	</td>
	<td class="rnr-control style3">
		{$PlaceOfBirth_editcontrol}&nbsp;
	</td>
</tr>
{END PlaceOfBirth_tabfieldblock}
{BEGIN PassportOrID_tabfieldblock}
<tr class="{$fielddispclass_PassportOrID}" data-fieldname="PassportOrID">
	<td class="style1 rnr-label">
		{BEGIN PassportOrID_label}{$label ClientAccounts PassportOrID}{END PassportOrID_label}
	</td>
	<td class="rnr-control style3">
		{$PassportOrID_editcontrol}&nbsp;
	</td>
</tr>
{END PassportOrID_tabfieldblock}
{BEGIN ClientNo_tabfieldblock}
<tr class="{$fielddispclass_ClientNo}" data-fieldname="ClientNo">
	<td class="style1 rnr-label">
		{BEGIN ClientNo_label}{$label ClientAccounts ClientNo}{END ClientNo_label}
	</td>
	<td class="rnr-control style3">
		{$ClientNo_editcontrol}&nbsp;
	</td>
</tr>
{END ClientNo_tabfieldblock}
{BEGIN EmergencyContactPerson_tabfieldblock}
<tr class="{$fielddispclass_EmergencyContactPerson}" data-fieldname="EmergencyContactPerson">
	<td class="style1 rnr-label">
		{BEGIN EmergencyContactPerson_label}{$label ClientAccounts EmergencyContactPerson}{END EmergencyContactPerson_label}
	</td>
	<td class="rnr-control style3">
		{$EmergencyContactPerson_editcontrol}&nbsp;
	</td>
</tr>
{END EmergencyContactPerson_tabfieldblock}
{BEGIN EmergencyContactRelation_tabfieldblock}
<tr class="{$fielddispclass_EmergencyContactRelation}" data-fieldname="EmergencyContactRelation">
	<td class="style1 rnr-label">
		{BEGIN EmergencyContactRelation_label}{$label ClientAccounts EmergencyContactRelation}{END EmergencyContactRelation_label}
	</td>
	<td class="rnr-control style3">
		{$EmergencyContactRelation_editcontrol}&nbsp;
	</td>
</tr>
{END EmergencyContactRelation_tabfieldblock}
{BEGIN EmergencyContactTel_tabfieldblock}
<tr class="{$fielddispclass_EmergencyContactTel}" data-fieldname="EmergencyContactTel">
	<td class="style1 rnr-label">
		{BEGIN EmergencyContactTel_label}{$label ClientAccounts EmergencyContactTel}{END EmergencyContactTel_label}
	</td>
	<td class="rnr-control style3">
		{$EmergencyContactTel_editcontrol}&nbsp;
	</td>
</tr>
{END EmergencyContactTel_tabfieldblock}
</table>




{END container_1}

</div>