<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN Username_tabfieldblock}
<tr class="{$fielddispclass_Username}" data-fieldname="Username">
	<td class="style1 rnr-label">
		{BEGIN Username_label}{$label ClientAccounts Username}{END Username_label}
	</td>
	<td class="rnr-control style3">
		{$Username_editcontrol}&nbsp;
	</td>
</tr>
{END Username_tabfieldblock}
{BEGIN Password_tabfieldblock}
<tr class="{$fielddispclass_Password}" data-fieldname="Password">
	<td class="style1 rnr-label">
		{BEGIN Password_label}{$label ClientAccounts Password}{END Password_label}
	</td>
	<td class="rnr-control style3">
		{$Password_editcontrol}&nbsp;
	</td>
</tr>
{END Password_tabfieldblock}
	{BEGIN confirm_block}
<tr class="{$fielddispclass_Password}" data-fieldname="Password">
	<td class="style1 rnr-label">
		{BEGIN confirm_label}Re-enter password{END confirm_label}
	</td>
	<td class="rnr-control style3">
		{$confirm_editcontrol1}
	</td>
</tr>
{END confirm_block}
{BEGIN UserLevel_tabfieldblock}
<tr class="{$fielddispclass_UserLevel}" data-fieldname="UserLevel">
	<td class="style1 rnr-label">
		{BEGIN UserLevel_label}{$label ClientAccounts UserLevel}{END UserLevel_label}
	</td>
	<td class="rnr-control style3">
		{$UserLevel_editcontrol}&nbsp;
	</td>
</tr>
{END UserLevel_tabfieldblock}
{BEGIN LastModifiedBy_tabfieldblock}
<tr class="{$fielddispclass_LastModifiedBy}" data-fieldname="LastModifiedBy">
	<td class="style1 rnr-label">
		{BEGIN LastModifiedBy_label}{$label ClientAccounts LastModifiedBy}{END LastModifiedBy_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedBy_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedBy_tabfieldblock}
{BEGIN LastModifiedDate_tabfieldblock}
<tr class="{$fielddispclass_LastModifiedDate}" data-fieldname="LastModifiedDate">
	<td class="style1 rnr-label">
		{BEGIN LastModifiedDate_label}{$label ClientAccounts LastModifiedDate}{END LastModifiedDate_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedDate_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedDate_tabfieldblock}
{BEGIN id_tabfieldblock}
<tr class="{$fielddispclass_id}" data-fieldname="id">
	<td class="style1 rnr-label">
		{BEGIN id_label}{$label ClientAccounts id}{END id_label}
	</td>
	<td class="rnr-control style3">
		{$id_editcontrol}&nbsp;
	</td>
</tr>
{END id_tabfieldblock}
</table>




{END container_1}

</div>