<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN AccountName_tabfieldblock}
<tr class="{$fielddispclass_AccountName}" data-fieldname="AccountName">
	<td class="style1 rnr-label">
		{BEGIN AccountName_label}{$label ClientAccounts AccountName}{END AccountName_label}
	</td>
	<td class="rnr-control style3">
		{$AccountName_editcontrol}&nbsp;
	</td>
</tr>
{END AccountName_tabfieldblock}
{BEGIN AccountNumber_tabfieldblock}
<tr class="{$fielddispclass_AccountNumber}" data-fieldname="AccountNumber">
	<td class="style1 rnr-label">
		{BEGIN AccountNumber_label}{$label ClientAccounts AccountNumber}{END AccountNumber_label}
	</td>
	<td class="rnr-control style3">
		{$AccountNumber_editcontrol}&nbsp;
	</td>
</tr>
{END AccountNumber_tabfieldblock}
{BEGIN OpeningAccountDate_tabfieldblock}
<tr class="{$fielddispclass_OpeningAccountDate}" data-fieldname="OpeningAccountDate">
	<td class="style1 rnr-label">
		{BEGIN OpeningAccountDate_label}{$label ClientAccounts OpeningAccountDate}{END OpeningAccountDate_label}
	</td>
	<td class="rnr-control style3">
		{$OpeningAccountDate_editcontrol}&nbsp;
	</td>
</tr>
{END OpeningAccountDate_tabfieldblock}
{BEGIN OpeningAccountBalance_tabfieldblock}
<tr class="{$fielddispclass_OpeningAccountBalance}" data-fieldname="OpeningAccountBalance">
	<td class="style1 rnr-label">
		{BEGIN OpeningAccountBalance_label}{$label ClientAccounts OpeningAccountBalance}{END OpeningAccountBalance_label}
	</td>
	<td class="rnr-control style3">
		{$OpeningAccountBalance_editcontrol}&nbsp;
	</td>
</tr>
{END OpeningAccountBalance_tabfieldblock}
{BEGIN SetWithdrawDate_tabfieldblock}
<tr class="{$fielddispclass_SetWithdrawDate}" data-fieldname="SetWithdrawDate">
	<td class="style1 rnr-label">
		{BEGIN SetWithdrawDate_label}{$label ClientAccounts SetWithdrawDate}{END SetWithdrawDate_label}
	</td>
	<td class="rnr-control style3">
		{$SetWithdrawDate_editcontrol}&nbsp;
	</td>
</tr>
{END SetWithdrawDate_tabfieldblock}
{BEGIN InterestRate_tabfieldblock}
<tr class="{$fielddispclass_InterestRate}" data-fieldname="InterestRate">
	<td class="style1 rnr-label">
		{BEGIN InterestRate_label}{$label ClientAccounts InterestRate}{END InterestRate_label}
	</td>
	<td class="rnr-control style3">
		{$InterestRate_editcontrol}&nbsp;
	</td>
</tr>
{END InterestRate_tabfieldblock}
</table>




{END container_1}

</div>