<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN FirstName_tabfieldblock}
<tr class="{$fielddispclass_FirstName}" data-fieldname="FirstName">
	<td class="style1 rnr-label">
		{BEGIN FirstName_label}{$label ClientAccounts FirstName}{END FirstName_label}
	</td>
	<td class="rnr-control style3">
		{$FirstName_editcontrol}&nbsp;
	</td>
</tr>
{END FirstName_tabfieldblock}
{BEGIN LastName_tabfieldblock}
<tr class="{$fielddispclass_LastName}" data-fieldname="LastName">
	<td class="style1 rnr-label">
		{BEGIN LastName_label}{$label ClientAccounts LastName}{END LastName_label}
	</td>
	<td class="rnr-control style3">
		{$LastName_editcontrol}&nbsp;
	</td>
</tr>
{END LastName_tabfieldblock}
{BEGIN Sex_tabfieldblock}
<tr class="{$fielddispclass_Sex}" data-fieldname="Sex">
	<td class="style1 rnr-label">
		{BEGIN Sex_label}{$label ClientAccounts Sex}{END Sex_label}
	</td>
	<td class="rnr-control style3">
		{$Sex_editcontrol}&nbsp;
	</td>
</tr>
{END Sex_tabfieldblock}
{BEGIN DateOfBirth_tabfieldblock}
<tr class="{$fielddispclass_DateOfBirth}" data-fieldname="DateOfBirth">
	<td class="style1 rnr-label">
		{BEGIN DateOfBirth_label}{$label ClientAccounts DateOfBirth}{END DateOfBirth_label}
	</td>
	<td class="rnr-control style3">
		{$DateOfBirth_editcontrol}&nbsp;
	</td>
</tr>
{END DateOfBirth_tabfieldblock}
{BEGIN TelephoneNo_tabfieldblock}
<tr class="{$fielddispclass_TelephoneNo}" data-fieldname="TelephoneNo">
	<td class="style1 rnr-label">
		{BEGIN TelephoneNo_label}{$label ClientAccounts TelephoneNo}{END TelephoneNo_label}
	</td>
	<td class="rnr-control style3">
		{$TelephoneNo_editcontrol}&nbsp;
	</td>
</tr>
{END TelephoneNo_tabfieldblock}
{BEGIN EmailAddress_tabfieldblock}
<tr class="{$fielddispclass_EmailAddress}" data-fieldname="EmailAddress">
	<td class="style1 rnr-label">
		{BEGIN EmailAddress_label}{$label ClientAccounts EmailAddress}{END EmailAddress_label}
	</td>
	<td class="rnr-control style3">
		{$EmailAddress_editcontrol}&nbsp;
	</td>
</tr>
{END EmailAddress_tabfieldblock}
{BEGIN CurrentAddress_tabfieldblock}
<tr class="{$fielddispclass_CurrentAddress}" data-fieldname="CurrentAddress">
	<td class="style1 rnr-label">
		{BEGIN CurrentAddress_label}{$label ClientAccounts CurrentAddress}{END CurrentAddress_label}
	</td>
	<td class="rnr-control style3">
		{$CurrentAddress_editcontrol}&nbsp;
	</td>
</tr>
{END CurrentAddress_tabfieldblock}
</table>




{END container_1}

</div>