<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel loan add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN LoanID_fieldblock}
<tr class="{$fielddispclass_LoanID}" data-fieldname="LoanID">
	<td class="rnr-label">
		{BEGIN LoanID_label}{$label loan LoanID}{END LoanID_label}
	</td>
	<td class="rnr-control style3">
		{$LoanID_editcontrol}&nbsp;
	</td>
</tr>
{END LoanID_fieldblock}
	{BEGIN AccountName_fieldblock}
<tr class="{$fielddispclass_AccountName}" data-fieldname="AccountName">
	<td class="rnr-label">
		{BEGIN AccountName_label}{$label loan AccountName}{END AccountName_label}
	</td>
	<td class="rnr-control style3">
		{$AccountName_editcontrol}&nbsp;
	</td>
</tr>
{END AccountName_fieldblock}
	{BEGIN ClientNo_fieldblock}
<tr class="{$fielddispclass_ClientNo}" data-fieldname="ClientNo">
	<td class="rnr-label">
		{BEGIN ClientNo_label}{$label loan ClientNo}{END ClientNo_label}
	</td>
	<td class="rnr-control style3">
		{$ClientNo_editcontrol}&nbsp;
	</td>
</tr>
{END ClientNo_fieldblock}
	{BEGIN AccountNumber_fieldblock}
<tr class="{$fielddispclass_AccountNumber}" data-fieldname="AccountNumber">
	<td class="rnr-label">
		{BEGIN AccountNumber_label}{$label loan AccountNumber}{END AccountNumber_label}
	</td>
	<td class="rnr-control style3">
		{$AccountNumber_editcontrol}&nbsp;
	</td>
</tr>
{END AccountNumber_fieldblock}
	{BEGIN TelephoneNo_fieldblock}
<tr class="{$fielddispclass_TelephoneNo}" data-fieldname="TelephoneNo">
	<td class="rnr-label">
		{BEGIN TelephoneNo_label}{$label loan TelephoneNo}{END TelephoneNo_label}
	</td>
	<td class="rnr-control style3">
		{$TelephoneNo_editcontrol}&nbsp;
	</td>
</tr>
{END TelephoneNo_fieldblock}
	{BEGIN DateLoanApproved_fieldblock}
<tr class="{$fielddispclass_DateLoanApproved}" data-fieldname="DateLoanApproved">
	<td class="rnr-label">
		{BEGIN DateLoanApproved_label}{$label loan DateLoanApproved}{END DateLoanApproved_label}
	</td>
	<td class="rnr-control style3">
		{$DateLoanApproved_editcontrol}&nbsp;
	</td>
</tr>
{END DateLoanApproved_fieldblock}
	{BEGIN LoanAmount_fieldblock}
<tr class="{$fielddispclass_LoanAmount}" data-fieldname="LoanAmount">
	<td class="rnr-label">
		{BEGIN LoanAmount_label}{$label loan LoanAmount}{END LoanAmount_label}
	</td>
	<td class="rnr-control style3">
		{$LoanAmount_editcontrol}&nbsp;
	</td>
</tr>
{END LoanAmount_fieldblock}
	{BEGIN LoanInterest_fieldblock}
<tr class="{$fielddispclass_LoanInterest}" data-fieldname="LoanInterest">
	<td class="rnr-label">
		{BEGIN LoanInterest_label}{$label loan LoanInterest}{END LoanInterest_label}
	</td>
	<td class="rnr-control style3">
		{$LoanInterest_editcontrol}&nbsp;
	</td>
</tr>
{END LoanInterest_fieldblock}
	{BEGIN LoanPeriod_fieldblock}
<tr class="{$fielddispclass_LoanPeriod}" data-fieldname="LoanPeriod">
	<td class="rnr-label">
		{BEGIN LoanPeriod_label}{$label loan LoanPeriod}{END LoanPeriod_label}
	</td>
	<td class="rnr-control style3">
		{$LoanPeriod_editcontrol}&nbsp;
	</td>
</tr>
{END LoanPeriod_fieldblock}
	{BEGIN FirstPaymentDate_fieldblock}
<tr class="{$fielddispclass_FirstPaymentDate}" data-fieldname="FirstPaymentDate">
	<td class="rnr-label">
		{BEGIN FirstPaymentDate_label}{$label loan FirstPaymentDate}{END FirstPaymentDate_label}
	</td>
	<td class="rnr-control style3">
		{$FirstPaymentDate_editcontrol}&nbsp;
	</td>
</tr>
{END FirstPaymentDate_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}"><div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" id="saveButton{$id}" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
	{END reset_button}
	{BEGIN cancel_button}
	<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}
	{BEGIN back_button}
	<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
	{END back_button}
	{BEGIN backToMenu_button}
	<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
	{END backToMenu_button}
</div>
</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
