<div {$pageattrs}>

{BEGIN container_1}



<div class="rnr-simplefields">
{BEGIN LastTransactionDate_tabfieldblock}
<div class="{$fielddispclass_LastTransactionDate} rnr-field style1" data-fieldname="LastTransactionDate">
	<span class="rnr-label">{$label loanaccounts LastTransactionDate}:</span>
	<span class="rnr-control style3 fieldvalue_LastTransactionDate">{$LastTransactionDate_value}</span>
</div>
{END LastTransactionDate_tabfieldblock}
{BEGIN LoanCreditPaymentPurpose_tabfieldblock}
<div class="{$fielddispclass_LoanCreditPaymentPurpose} rnr-field style1" data-fieldname="LoanCreditPaymentPurpose">
	<span class="rnr-label">{$label loanaccounts LoanCreditPaymentPurpose}:</span>
	<span class="rnr-control style3 fieldvalue_LoanCreditPaymentPurpose">{$LoanCreditPaymentPurpose_value}</span>
</div>
{END LoanCreditPaymentPurpose_tabfieldblock}
{BEGIN SetWithdrawDate_tabfieldblock}
<div class="{$fielddispclass_SetWithdrawDate} rnr-field style1" data-fieldname="SetWithdrawDate">
	<span class="rnr-label">{$label loanaccounts SetWithdrawDate}:</span>
	<span class="rnr-control style3 fieldvalue_SetWithdrawDate">{$SetWithdrawDate_value}</span>
</div>
{END SetWithdrawDate_tabfieldblock}
{BEGIN LastModifiedBy_tabfieldblock}
<div class="{$fielddispclass_LastModifiedBy} rnr-field style1" data-fieldname="LastModifiedBy">
	<span class="rnr-label">{$label loanaccounts LastModifiedBy}:</span>
	<span class="rnr-control style3 fieldvalue_LastModifiedBy">{$LastModifiedBy_value}</span>
</div>
{END LastModifiedBy_tabfieldblock}
{BEGIN LastModifiedDate_tabfieldblock}
<div class="{$fielddispclass_LastModifiedDate} rnr-field style1" data-fieldname="LastModifiedDate">
	<span class="rnr-label">{$label loanaccounts LastModifiedDate}:</span>
	<span class="rnr-control style3 fieldvalue_LastModifiedDate">{$LastModifiedDate_value}</span>
</div>
{END LastModifiedDate_tabfieldblock}
</div>




{END container_1}

</div>