<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel loan masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$LoanID_class}">{$label loan LoanID}</th>
			<th class="{$AccountName_class}">{$label loan AccountName}</th>
			<th class="{$ClientNo_class}">{$label loan ClientNo}</th>
			<th class="{$AccountNumber_class}">{$label loan AccountNumber}</th>
			<th class="{$TelephoneNo_class}">{$label loan TelephoneNo}</th>
			<th class="{$DateLoanApproved_class}">{$label loan DateLoanApproved}</th>
			<th class="{$LoanAmount_class}">{$label loan LoanAmount}</th>
			<th class="{$LoanInterest_class}">{$label loan LoanInterest}</th>
			<th class="{$LoanPeriod_class}">{$label loan LoanPeriod}</th>
			<th class="{$FirstPaymentDate_class}">{$label loan FirstPaymentDate}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$LoanID_class}">{$LoanID_mastervalue}</td>
			<td class="{$AccountName_class}">{$AccountName_mastervalue}</td>
			<td class="{$ClientNo_class}">{$ClientNo_mastervalue}</td>
			<td class="{$AccountNumber_class}">{$AccountNumber_mastervalue}</td>
			<td class="{$TelephoneNo_class}">{$TelephoneNo_mastervalue}</td>
			<td class="{$DateLoanApproved_class}">{$DateLoanApproved_mastervalue}</td>
			<td class="{$LoanAmount_class}">{$LoanAmount_mastervalue}</td>
			<td class="{$LoanInterest_class}">{$LoanInterest_mastervalue}</td>
			<td class="{$LoanPeriod_class}">{$LoanPeriod_mastervalue}</td>
			<td class="{$FirstPaymentDate_class}">{$FirstPaymentDate_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>