<div {$pageattrs}>

{BEGIN container_1}



<div class="rnr-simplefields">
{BEGIN AccountName_tabfieldblock}
<div class="{$fielddispclass_AccountName} rnr-field style1" data-fieldname="AccountName">
	<span class="rnr-label">{$label loanaccounts AccountName}:</span>
	<span class="rnr-control style3 fieldvalue_AccountName">{$AccountName_value}</span>
</div>
{END AccountName_tabfieldblock}
{BEGIN ClientNo_tabfieldblock}
<div class="{$fielddispclass_ClientNo} rnr-field style1" data-fieldname="ClientNo">
	<span class="rnr-label">{$label loanaccounts ClientNo}:</span>
	<span class="rnr-control style3 fieldvalue_ClientNo">{$ClientNo_value}</span>
</div>
{END ClientNo_tabfieldblock}
{BEGIN AccountNumber_tabfieldblock}
<div class="{$fielddispclass_AccountNumber} rnr-field style1" data-fieldname="AccountNumber">
	<span class="rnr-label">{$label loanaccounts AccountNumber}:</span>
	<span class="rnr-control style3 fieldvalue_AccountNumber">{$AccountNumber_value}</span>
</div>
{END AccountNumber_tabfieldblock}
{BEGIN OpeningBalance_tabfieldblock}
<div class="{$fielddispclass_OpeningBalance} rnr-field style1" data-fieldname="OpeningBalance">
	<span class="rnr-label">{$label loanaccounts OpeningBalance}:</span>
	<span class="rnr-control style3 fieldvalue_OpeningBalance">{$OpeningBalance_value}</span>
</div>
{END OpeningBalance_tabfieldblock}
{BEGIN InterestRate_tabfieldblock}
<div class="{$fielddispclass_InterestRate} rnr-field style1" data-fieldname="InterestRate">
	<span class="rnr-label">{$label loanaccounts InterestRate}:</span>
	<span class="rnr-control style3 fieldvalue_InterestRate">{$InterestRate_value}</span>
</div>
{END InterestRate_tabfieldblock}
</div>




{END container_1}

</div>