<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="LoanID">
	{$LoanID_editcontrol}
	</control>
	<control 
	field="AccountName">
	{$AccountName_editcontrol}
	</control>
	<control 
	field="ClientNo">
	{$ClientNo_editcontrol}
	</control>
	<control 
	field="AccountNumber">
	{$AccountNumber_editcontrol}
	</control>
	<control 
	field="TelephoneNo">
	{$TelephoneNo_editcontrol}
	</control>
	<control 
	field="DateLoanApproved">
	{$DateLoanApproved_editcontrol}
	</control>
	<control 
	field="LoanAmount">
	{$LoanAmount_editcontrol}
	</control>
	<control 
	field="LoanInterest">
	{$LoanInterest_editcontrol}
	</control>
	<control 
	field="LoanPeriod">
	{$LoanPeriod_editcontrol}
	</control>
	<control 
	field="FirstPaymentDate">
	{$FirstPaymentDate_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
