<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel NEFTTransfer edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN AccountName_fieldblock}
<tr class="{$fielddispclass_AccountName}" data-fieldname="AccountName">
	<td class="rnr-label">
		{BEGIN AccountName_label}{$label NEFTTransfer AccountName}{END AccountName_label}
	</td>
	<td class="rnr-control style3">
		{$AccountName_editcontrol}&nbsp;
	</td>
</tr>
{END AccountName_fieldblock}
	{BEGIN ClientNo_fieldblock}
<tr class="{$fielddispclass_ClientNo}" data-fieldname="ClientNo">
	<td class="rnr-label">
		{BEGIN ClientNo_label}{$label NEFTTransfer ClientNo}{END ClientNo_label}
	</td>
	<td class="rnr-control style3">
		{$ClientNo_editcontrol}&nbsp;
	</td>
</tr>
{END ClientNo_fieldblock}
	{BEGIN AccountNumber_fieldblock}
<tr class="{$fielddispclass_AccountNumber}" data-fieldname="AccountNumber">
	<td class="rnr-label">
		{BEGIN AccountNumber_label}{$label NEFTTransfer AccountNumber}{END AccountNumber_label}
	</td>
	<td class="rnr-control style3">
		{$AccountNumber_editcontrol}&nbsp;
	</td>
</tr>
{END AccountNumber_fieldblock}
	{BEGIN NEFTTransferNo_fieldblock}
<tr class="{$fielddispclass_NEFTTransferNo}" data-fieldname="NEFTTransferNo">
	<td class="rnr-label">
		{BEGIN NEFTTransferNo_label}{$label NEFTTransfer NEFTTransferNo}{END NEFTTransferNo_label}
	</td>
	<td class="rnr-control style3">
		{$NEFTTransferNo_editcontrol}&nbsp;
	</td>
</tr>
{END NEFTTransferNo_fieldblock}
	{BEGIN NEFTTransferStatus_fieldblock}
<tr class="{$fielddispclass_NEFTTransferStatus}" data-fieldname="NEFTTransferStatus">
	<td class="rnr-label">
		{BEGIN NEFTTransferStatus_label}{$label NEFTTransfer NEFTTransferStatus}{END NEFTTransferStatus_label}
	</td>
	<td class="rnr-control style3">
		{$NEFTTransferStatus_editcontrol}&nbsp;
	</td>
</tr>
{END NEFTTransferStatus_fieldblock}
	{BEGIN DateTime_fieldblock}
<tr class="{$fielddispclass_DateTime}" data-fieldname="DateTime">
	<td class="rnr-label">
		{BEGIN DateTime_label}{$label NEFTTransfer DateTime}{END DateTime_label}
	</td>
	<td class="rnr-control style3">
		{$DateTime_editcontrol}&nbsp;
	</td>
</tr>
{END DateTime_fieldblock}
	{BEGIN Amount_fieldblock}
<tr class="{$fielddispclass_Amount}" data-fieldname="Amount">
	<td class="rnr-label">
		{BEGIN Amount_label}{$label NEFTTransfer Amount}{END Amount_label}
	</td>
	<td class="rnr-control style3">
		{$Amount_editcontrol}&nbsp;
	</td>
</tr>
{END Amount_fieldblock}
	{BEGIN Balance_fieldblock}
<tr class="{$fielddispclass_Balance}" data-fieldname="Balance">
	<td class="rnr-label">
		{BEGIN Balance_label}{$label NEFTTransfer Balance}{END Balance_label}
	</td>
	<td class="rnr-control style3">
		{$Balance_editcontrol}&nbsp;
	</td>
</tr>
{END Balance_fieldblock}
	{BEGIN Description_fieldblock}
<tr class="{$fielddispclass_Description}" data-fieldname="Description">
	<td class="rnr-label">
		{BEGIN Description_label}{$label NEFTTransfer Description}{END Description_label}
	</td>
	<td class="rnr-control style3">
		{$Description_editcontrol}&nbsp;
	</td>
</tr>
{END Description_fieldblock}
	{BEGIN InterestAmount_fieldblock}
<tr class="{$fielddispclass_InterestAmount}" data-fieldname="InterestAmount">
	<td class="rnr-label">
		{BEGIN InterestAmount_label}{$label NEFTTransfer InterestAmount}{END InterestAmount_label}
	</td>
	<td class="rnr-control style3">
		{$InterestAmount_editcontrol}&nbsp;
	</td>
</tr>
{END InterestAmount_fieldblock}
	{BEGIN PrincipalAmount_fieldblock}
<tr class="{$fielddispclass_PrincipalAmount}" data-fieldname="PrincipalAmount">
	<td class="rnr-label">
		{BEGIN PrincipalAmount_label}{$label NEFTTransfer PrincipalAmount}{END PrincipalAmount_label}
	</td>
	<td class="rnr-control style3">
		{$PrincipalAmount_editcontrol}&nbsp;
	</td>
</tr>
{END PrincipalAmount_fieldblock}
	{BEGIN LastModifiedBy_fieldblock}
<tr class="{$fielddispclass_LastModifiedBy}" data-fieldname="LastModifiedBy">
	<td class="rnr-label">
		{BEGIN LastModifiedBy_label}{$label NEFTTransfer LastModifiedBy}{END LastModifiedBy_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedBy_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedBy_fieldblock}
	{BEGIN LastModifiedDate_fieldblock}
<tr class="{$fielddispclass_LastModifiedDate}" data-fieldname="LastModifiedDate">
	<td class="rnr-label">
		{BEGIN LastModifiedDate_label}{$label NEFTTransfer LastModifiedDate}{END LastModifiedDate_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedDate_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedDate_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
