{BEGIN mainmenu_block}
<table class="runner-hmenu" cellpadding="0">
	<tr>
{BEGIN simpleTypeMenu}
	{BEGIN item1_menulink}
	<td id="item1" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group1">
			{BEGIN item2_menulink}
			<li id="item2" parent="group1" class="Leaf{BEGIN item2_current} current{END item2_current}">
			&nbsp;<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>&nbsp;


			</li>
			{END item2_menulink}
					{BEGIN item3_menulink}
			<li id="item3" parent="group1" class="Leaf{BEGIN item3_current} current{END item3_current}">
			&nbsp;<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>&nbsp;


			</li>
			{END item3_menulink}
					{BEGIN item4_menulink}
			<li id="item4" parent="group1" class="Leaf{BEGIN item4_current} current{END item4_current}">
			&nbsp;<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>&nbsp;


			</li>
			{END item4_menulink}
					{BEGIN item5_menulink}
			<li id="item5" parent="group1" class="Leaf{BEGIN item5_current} current{END item5_current}">
			&nbsp;<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>&nbsp;


			</li>
			{END item5_menulink}
			</ul>
	</td>
	{END item1_menulink}
	{BEGIN item6_menulink}
	<td id="item6" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item6_current} current{END item6_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group6">
			{BEGIN item7_menulink}
			<li id="item7" parent="group6" class="Leaf{BEGIN item7_current} current{END item7_current}">
			&nbsp;<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>&nbsp;


			</li>
			{END item7_menulink}
					{BEGIN item8_menulink}
			<li id="item8" parent="group6" class="Leaf{BEGIN item8_current} current{END item8_current}">
			&nbsp;<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>&nbsp;


			</li>
			{END item8_menulink}
					{BEGIN item9_menulink}
			<li id="item9" parent="group6" class="Leaf{BEGIN item9_current} current{END item9_current}">
			&nbsp;<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>&nbsp;


			</li>
			{END item9_menulink}
					{BEGIN item10_menulink}
			<li id="item10" parent="group6" class="Leaf{BEGIN item10_current} current{END item10_current}">
			&nbsp;<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>&nbsp;


			</li>
			{END item10_menulink}
					{BEGIN item11_menulink}
			<li id="item11" parent="group6" class="Leaf{BEGIN item11_current} current{END item11_current}">
			&nbsp;<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>&nbsp;


			</li>
			{END item11_menulink}
					{BEGIN item12_menulink}
			<li id="item12" parent="group6" class="Leaf{BEGIN item12_current} current{END item12_current}">
			&nbsp;<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>&nbsp;


			</li>
			{END item12_menulink}
			</ul>
	</td>
	{END item6_menulink}
	{BEGIN item13_menulink}
	<td id="item13" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item13_current} current{END item13_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group13">
			{BEGIN item14_menulink}
			<li id="item14" parent="group13" class="Leaf{BEGIN item14_current} current{END item14_current}">
			&nbsp;<a {$item14_menulink_attrs} {BEGIN item14_current}class="curlink"{END item14_current}>{$item14_title}</a>&nbsp;


			</li>
			{END item14_menulink}
					{BEGIN item15_menulink}
			<li id="item15" parent="group13" class="Leaf{BEGIN item15_current} current{END item15_current}">
			&nbsp;<a {$item15_menulink_attrs} {BEGIN item15_current}class="curlink"{END item15_current}>{$item15_title}</a>&nbsp;


			</li>
			{END item15_menulink}
					{BEGIN item16_menulink}
			<li id="item16" parent="group13" class="Leaf{BEGIN item16_current} current{END item16_current}">
			&nbsp;<a {$item16_menulink_attrs} {BEGIN item16_current}class="curlink"{END item16_current}>{$item16_title}</a>&nbsp;


			</li>
			{END item16_menulink}
			</ul>
	</td>
	{END item13_menulink}
	{BEGIN item17_menulink}
	<td id="item17" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item17_current} current{END item17_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item17_menulink_attrs} {BEGIN item17_current}class="curlink"{END item17_current}>{$item17_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group17">
			{BEGIN item18_menulink}
			<li id="item18" parent="group17" class="Leaf{BEGIN item18_current} current{END item18_current}">
			&nbsp;<a {$item18_menulink_attrs} {BEGIN item18_current}class="curlink"{END item18_current}>{$item18_title}</a>&nbsp;


			</li>
			{END item18_menulink}
					{BEGIN item19_menulink}
			<li id="item19" parent="group17" class="Leaf{BEGIN item19_current} current{END item19_current}">
			&nbsp;<a {$item19_menulink_attrs} {BEGIN item19_current}class="curlink"{END item19_current}>{$item19_title}</a>&nbsp;


			</li>
			{END item19_menulink}
			</ul>
	</td>
	{END item17_menulink}
	{BEGIN item20_menulink}
	<td id="item20" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item20_current} current{END item20_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item20_menulink_attrs} {BEGIN item20_current}class="curlink"{END item20_current}>{$item20_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group20">
			{BEGIN item21_menulink}
			<li id="item21" parent="group20" class="Leaf{BEGIN item21_current} current{END item21_current}">
			&nbsp;<a {$item21_menulink_attrs} {BEGIN item21_current}class="curlink"{END item21_current}>{$item21_title}</a>&nbsp;


			</li>
			{END item21_menulink}
					{BEGIN item22_menulink}
			<li id="item22" parent="group20" class="Leaf{BEGIN item22_current} current{END item22_current}">
			&nbsp;<a {$item22_menulink_attrs} {BEGIN item22_current}class="curlink"{END item22_current}>{$item22_title}</a>&nbsp;


			</li>
			{END item22_menulink}
			</ul>
	</td>
	{END item20_menulink}
	{BEGIN item23_menulink}
	<td id="item23" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item23_current} current{END item23_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item23_menulink_attrs} {BEGIN item23_current}class="curlink"{END item23_current}>{$item23_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group23">
			{BEGIN item24_menulink}
			<li id="item24" parent="group23" class="Leaf{BEGIN item24_current} current{END item24_current}">
			&nbsp;<a {$item24_menulink_attrs} {BEGIN item24_current}class="curlink"{END item24_current}>{$item24_title}</a>&nbsp;


			</li>
			{END item24_menulink}
					{BEGIN item25_menulink}
			<li id="item25" parent="group23" class="Leaf{BEGIN item25_current} current{END item25_current}">
			&nbsp;<a {$item25_menulink_attrs} {BEGIN item25_current}class="curlink"{END item25_current}>{$item25_title}</a>&nbsp;


			</li>
			{END item25_menulink}
			</ul>
	</td>
	{END item23_menulink}
	{BEGIN item26_menulink}
	<td id="item26" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item26_current} current{END item26_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item26_menulink_attrs} {BEGIN item26_current}class="curlink"{END item26_current}>{$item26_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group26">
			{BEGIN item27_menulink}
			<li id="item27" parent="group26" class="Leaf{BEGIN item27_current} current{END item27_current}">
			&nbsp;<a {$item27_menulink_attrs} {BEGIN item27_current}class="curlink"{END item27_current}>{$item27_title}</a>&nbsp;


			</li>
			{END item27_menulink}
					{BEGIN item28_menulink}
			<li id="item28" parent="group26" class="Leaf{BEGIN item28_current} current{END item28_current}">
			&nbsp;<a {$item28_menulink_attrs} {BEGIN item28_current}class="curlink"{END item28_current}>{$item28_title}</a>&nbsp;


			</li>
			{END item28_menulink}
			</ul>
	</td>
	{END item26_menulink}
	{BEGIN adminarea_link}
	<td id="itemAA" view="topitem" class="Leaf">
	<table class="runner-c" cellpadding="0">
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>	
	{END adminarea_link}
{END simpleTypeMenu}

{BEGIN adminAreaTypeMenu}
{BEGIN item1_menulink}
<td id="item1" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item1_menulink_attrs} class="curlink">{$item1_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item1_menulink}
{BEGIN item2_menulink}
<td id="item2" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item2_current} current{END item2_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item2_menulink_attrs} class="curlink">{$item2_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item2_menulink}
{BEGIN item3_menulink}
<td id="item3" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item3_current} current{END item3_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item3_menulink_attrs} class="curlink">{$item3_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item3_menulink}


{END adminAreaTypeMenu}
	</tr>
</table>	
{END mainmenu_block}
