<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="AccountNumber">
	{$AccountNumber_editcontrol}
	</control>
	<control field="PaymentNo">
	{$PaymentNo_editcontrol}
	</control>
	<control field="PaymentDate">
	{$PaymentDate_editcontrol}
	</control>
	<control field="PaymentAmount">
	{$PaymentAmount_editcontrol}
	</control>
	<control field="LoanInterest">
	{$LoanInterest_editcontrol}
	</control>
	<control field="Depreciation">
	{$Depreciation_editcontrol}
	</control>
	<control field="AmountPay">
	{$AmountPay_editcontrol}
	</control>
	<control field="Remark">
	{$Remark_editcontrol}
	</control>
	<control field="LoanID">
	{$LoanID_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>