<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="DebitAccount">
	{$DebitAccount_editcontrol}
	</control>
	<control 
	field="CreditAccount">
	{$CreditAccount_editcontrol}
	</control>
	<control 
	field="DebitAccountTransactionCharge">
	{$DebitAccountTransactionCharge_editcontrol}
	</control>
	<control 
	field="CreditAccountTransactionCharge">
	{$CreditAccountTransactionCharge_editcontrol}
	</control>
	<control 
	field="Amount">
	{$Amount_editcontrol}
	</control>
	<control 
	field="DateTime">
	{$DateTime_editcontrol}
	</control>
	<control 
	field="Description">
	{$Description_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
