<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel transactions search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_id}">
	{BEGIN id_fieldblock}		
	<td>
		{$label transactions id}
	</td>
	<td>
		<input type="checkbox" {$id_notbox}>
	</td>
	<td>
		{$searchtype_id}
	</td>
	<td>
		{$id_editcontrol}&nbsp;
	</td>
	<td>
		{$id_editcontrol1}&nbsp;
	</td>
{END id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Amount}">
	{BEGIN Amount_fieldblock}		
	<td>
		{$label transactions Amount}
	</td>
	<td>
		<input type="checkbox" {$Amount_notbox}>
	</td>
	<td>
		{$searchtype_Amount}
	</td>
	<td>
		{$Amount_editcontrol}&nbsp;
	</td>
	<td>
		{$Amount_editcontrol1}&nbsp;
	</td>
{END Amount_fieldblock}
	</tr>
	<tr class="{$fielddispclass_DateTime}">
	{BEGIN DateTime_fieldblock}		
	<td>
		{$label transactions DateTime}
	</td>
	<td>
		<input type="checkbox" {$DateTime_notbox}>
	</td>
	<td>
		{$searchtype_DateTime}
	</td>
	<td>
		{$DateTime_editcontrol}&nbsp;
	</td>
	<td>
		{$DateTime_editcontrol1}&nbsp;
	</td>
{END DateTime_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Description}">
	{BEGIN Description_fieldblock}		
	<td>
		{$label transactions Description}
	</td>
	<td>
		<input type="checkbox" {$Description_notbox}>
	</td>
	<td>
		{$searchtype_Description}
	</td>
	<td>
		{$Description_editcontrol}&nbsp;
	</td>
	<td>
		{$Description_editcontrol1}&nbsp;
	</td>
{END Description_fieldblock}
	</tr>
	<tr class="{$fielddispclass_CashDepositNo}">
	{BEGIN CashDepositNo_fieldblock}		
	<td>
		{$label transactions CashDepositNo}
	</td>
	<td>
		<input type="checkbox" {$CashDepositNo_notbox}>
	</td>
	<td>
		{$searchtype_CashDepositNo}
	</td>
	<td>
		{$CashDepositNo_editcontrol}&nbsp;
	</td>
	<td>
		{$CashDepositNo_editcontrol1}&nbsp;
	</td>
{END CashDepositNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_CashDepositType}">
	{BEGIN CashDepositType_fieldblock}		
	<td>
		{$label transactions CashDepositType}
	</td>
	<td>
		<input type="checkbox" {$CashDepositType_notbox}>
	</td>
	<td>
		{$searchtype_CashDepositType}
	</td>
	<td>
		{$CashDepositType_editcontrol}&nbsp;
	</td>
	<td>
		{$CashDepositType_editcontrol1}&nbsp;
	</td>
{END CashDepositType_fieldblock}
	</tr>
	<tr class="{$fielddispclass_WithdrawlNo}">
	{BEGIN WithdrawlNo_fieldblock}		
	<td>
		{$label transactions WithdrawlNo}
	</td>
	<td>
		<input type="checkbox" {$WithdrawlNo_notbox}>
	</td>
	<td>
		{$searchtype_WithdrawlNo}
	</td>
	<td>
		{$WithdrawlNo_editcontrol}&nbsp;
	</td>
	<td>
		{$WithdrawlNo_editcontrol1}&nbsp;
	</td>
{END WithdrawlNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_WithdrawlName}">
	{BEGIN WithdrawlName_fieldblock}		
	<td>
		{$label transactions WithdrawlName}
	</td>
	<td>
		<input type="checkbox" {$WithdrawlName_notbox}>
	</td>
	<td>
		{$searchtype_WithdrawlName}
	</td>
	<td>
		{$WithdrawlName_editcontrol}&nbsp;
	</td>
	<td>
		{$WithdrawlName_editcontrol1}&nbsp;
	</td>
{END WithdrawlName_fieldblock}
	</tr>
	<tr class="{$fielddispclass_WithdrawlType}">
	{BEGIN WithdrawlType_fieldblock}		
	<td>
		{$label transactions WithdrawlType}
	</td>
	<td>
		<input type="checkbox" {$WithdrawlType_notbox}>
	</td>
	<td>
		{$searchtype_WithdrawlType}
	</td>
	<td>
		{$WithdrawlType_editcontrol}&nbsp;
	</td>
	<td>
		{$WithdrawlType_editcontrol1}&nbsp;
	</td>
{END WithdrawlType_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LoanPaymentNo}">
	{BEGIN LoanPaymentNo_fieldblock}		
	<td>
		{$label transactions LoanPaymentNo}
	</td>
	<td>
		<input type="checkbox" {$LoanPaymentNo_notbox}>
	</td>
	<td>
		{$searchtype_LoanPaymentNo}
	</td>
	<td>
		{$LoanPaymentNo_editcontrol}&nbsp;
	</td>
	<td>
		{$LoanPaymentNo_editcontrol1}&nbsp;
	</td>
{END LoanPaymentNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LoanPaymentName}">
	{BEGIN LoanPaymentName_fieldblock}		
	<td>
		{$label transactions LoanPaymentName}
	</td>
	<td>
		<input type="checkbox" {$LoanPaymentName_notbox}>
	</td>
	<td>
		{$searchtype_LoanPaymentName}
	</td>
	<td>
		{$LoanPaymentName_editcontrol}&nbsp;
	</td>
	<td>
		{$LoanPaymentName_editcontrol1}&nbsp;
	</td>
{END LoanPaymentName_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LoanPaymentPurpose}">
	{BEGIN LoanPaymentPurpose_fieldblock}		
	<td>
		{$label transactions LoanPaymentPurpose}
	</td>
	<td>
		<input type="checkbox" {$LoanPaymentPurpose_notbox}>
	</td>
	<td>
		{$searchtype_LoanPaymentPurpose}
	</td>
	<td>
		{$LoanPaymentPurpose_editcontrol}&nbsp;
	</td>
	<td>
		{$LoanPaymentPurpose_editcontrol1}&nbsp;
	</td>
{END LoanPaymentPurpose_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LoanCreditPaymentNo}">
	{BEGIN LoanCreditPaymentNo_fieldblock}		
	<td>
		{$label transactions LoanCreditPaymentNo}
	</td>
	<td>
		<input type="checkbox" {$LoanCreditPaymentNo_notbox}>
	</td>
	<td>
		{$searchtype_LoanCreditPaymentNo}
	</td>
	<td>
		{$LoanCreditPaymentNo_editcontrol}&nbsp;
	</td>
	<td>
		{$LoanCreditPaymentNo_editcontrol1}&nbsp;
	</td>
{END LoanCreditPaymentNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LoanCreditPaymentName}">
	{BEGIN LoanCreditPaymentName_fieldblock}		
	<td>
		{$label transactions LoanCreditPaymentName}
	</td>
	<td>
		<input type="checkbox" {$LoanCreditPaymentName_notbox}>
	</td>
	<td>
		{$searchtype_LoanCreditPaymentName}
	</td>
	<td>
		{$LoanCreditPaymentName_editcontrol}&nbsp;
	</td>
	<td>
		{$LoanCreditPaymentName_editcontrol1}&nbsp;
	</td>
{END LoanCreditPaymentName_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LoanCreditPaymentPurpose}">
	{BEGIN LoanCreditPaymentPurpose_fieldblock}		
	<td>
		{$label transactions LoanCreditPaymentPurpose}
	</td>
	<td>
		<input type="checkbox" {$LoanCreditPaymentPurpose_notbox}>
	</td>
	<td>
		{$searchtype_LoanCreditPaymentPurpose}
	</td>
	<td>
		{$LoanCreditPaymentPurpose_editcontrol}&nbsp;
	</td>
	<td>
		{$LoanCreditPaymentPurpose_editcontrol1}&nbsp;
	</td>
{END LoanCreditPaymentPurpose_fieldblock}
	</tr>
	<tr class="{$fielddispclass_AccountType}">
	{BEGIN AccountType_fieldblock}		
	<td>
		{$label transactions AccountType}
	</td>
	<td>
		<input type="checkbox" {$AccountType_notbox}>
	</td>
	<td>
		{$searchtype_AccountType}
	</td>
	<td>
		{$AccountType_editcontrol}&nbsp;
	</td>
	<td>
		{$AccountType_editcontrol1}&nbsp;
	</td>
{END AccountType_fieldblock}
	</tr>
	<tr class="{$fielddispclass_InterestAmount}">
	{BEGIN InterestAmount_fieldblock}		
	<td>
		{$label transactions InterestAmount}
	</td>
	<td>
		<input type="checkbox" {$InterestAmount_notbox}>
	</td>
	<td>
		{$searchtype_InterestAmount}
	</td>
	<td>
		{$InterestAmount_editcontrol}&nbsp;
	</td>
	<td>
		{$InterestAmount_editcontrol1}&nbsp;
	</td>
{END InterestAmount_fieldblock}
	</tr>
	<tr class="{$fielddispclass_PrincipalAmount}">
	{BEGIN PrincipalAmount_fieldblock}		
	<td>
		{$label transactions PrincipalAmount}
	</td>
	<td>
		<input type="checkbox" {$PrincipalAmount_notbox}>
	</td>
	<td>
		{$searchtype_PrincipalAmount}
	</td>
	<td>
		{$PrincipalAmount_editcontrol}&nbsp;
	</td>
	<td>
		{$PrincipalAmount_editcontrol1}&nbsp;
	</td>
{END PrincipalAmount_fieldblock}
	</tr>
	<tr class="{$fielddispclass_WithdrawlStatus}">
	{BEGIN WithdrawlStatus_fieldblock}		
	<td>
		{$label transactions WithdrawlStatus}
	</td>
	<td>
		<input type="checkbox" {$WithdrawlStatus_notbox}>
	</td>
	<td>
		{$searchtype_WithdrawlStatus}
	</td>
	<td>
		{$WithdrawlStatus_editcontrol}&nbsp;
	</td>
	<td>
		{$WithdrawlStatus_editcontrol1}&nbsp;
	</td>
{END WithdrawlStatus_fieldblock}
	</tr>
	<tr class="{$fielddispclass_NEFTTransferStatus}">
	{BEGIN NEFTTransferStatus_fieldblock}		
	<td>
		{$label transactions NEFTTransferStatus}
	</td>
	<td>
		<input type="checkbox" {$NEFTTransferStatus_notbox}>
	</td>
	<td>
		{$searchtype_NEFTTransferStatus}
	</td>
	<td>
		{$NEFTTransferStatus_editcontrol}&nbsp;
	</td>
	<td>
		{$NEFTTransferStatus_editcontrol1}&nbsp;
	</td>
{END NEFTTransferStatus_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LoanCreditApplicationStatus}">
	{BEGIN LoanCreditApplicationStatus_fieldblock}		
	<td>
		{$label transactions LoanCreditApplicationStatus}
	</td>
	<td>
		<input type="checkbox" {$LoanCreditApplicationStatus_notbox}>
	</td>
	<td>
		{$searchtype_LoanCreditApplicationStatus}
	</td>
	<td>
		{$LoanCreditApplicationStatus_editcontrol}&nbsp;
	</td>
	<td>
		{$LoanCreditApplicationStatus_editcontrol1}&nbsp;
	</td>
{END LoanCreditApplicationStatus_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LoanCreditWitness}">
	{BEGIN LoanCreditWitness_fieldblock}		
	<td>
		{$label transactions LoanCreditWitness}
	</td>
	<td>
		<input type="checkbox" {$LoanCreditWitness_notbox}>
	</td>
	<td>
		{$searchtype_LoanCreditWitness}
	</td>
	<td>
		{$LoanCreditWitness_editcontrol}&nbsp;
	</td>
	<td>
		{$LoanCreditWitness_editcontrol1}&nbsp;
	</td>
{END LoanCreditWitness_fieldblock}
	</tr>
	<tr class="{$fielddispclass_NEFTTransferNo}">
	{BEGIN NEFTTransferNo_fieldblock}		
	<td>
		{$label transactions NEFTTransferNo}
	</td>
	<td>
		<input type="checkbox" {$NEFTTransferNo_notbox}>
	</td>
	<td>
		{$searchtype_NEFTTransferNo}
	</td>
	<td>
		{$NEFTTransferNo_editcontrol}&nbsp;
	</td>
	<td>
		{$NEFTTransferNo_editcontrol1}&nbsp;
	</td>
{END NEFTTransferNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_NEFTTransferDepositorName}">
	{BEGIN NEFTTransferDepositorName_fieldblock}		
	<td>
		{$label transactions NEFTTransferDepositorName}
	</td>
	<td>
		<input type="checkbox" {$NEFTTransferDepositorName_notbox}>
	</td>
	<td>
		{$searchtype_NEFTTransferDepositorName}
	</td>
	<td>
		{$NEFTTransferDepositorName_editcontrol}&nbsp;
	</td>
	<td>
		{$NEFTTransferDepositorName_editcontrol1}&nbsp;
	</td>
{END NEFTTransferDepositorName_fieldblock}
	</tr>
	<tr class="{$fielddispclass_TransactionType}">
	{BEGIN TransactionType_fieldblock}		
	<td>
		{$label transactions TransactionType}
	</td>
	<td>
		<input type="checkbox" {$TransactionType_notbox}>
	</td>
	<td>
		{$searchtype_TransactionType}
	</td>
	<td>
		{$TransactionType_editcontrol}&nbsp;
	</td>
	<td>
		{$TransactionType_editcontrol1}&nbsp;
	</td>
{END TransactionType_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Balance}">
	{BEGIN Balance_fieldblock}		
	<td>
		{$label transactions Balance}
	</td>
	<td>
		<input type="checkbox" {$Balance_notbox}>
	</td>
	<td>
		{$searchtype_Balance}
	</td>
	<td>
		{$Balance_editcontrol}&nbsp;
	</td>
	<td>
		{$Balance_editcontrol1}&nbsp;
	</td>
{END Balance_fieldblock}
	</tr>
	<tr class="{$fielddispclass_AccountNumber}">
	{BEGIN AccountNumber_fieldblock}		
	<td>
		{$label transactions AccountNumber}
	</td>
	<td>
		<input type="checkbox" {$AccountNumber_notbox}>
	</td>
	<td>
		{$searchtype_AccountNumber}
	</td>
	<td>
		{$AccountNumber_editcontrol}&nbsp;
	</td>
	<td>
		{$AccountNumber_editcontrol1}&nbsp;
	</td>
{END AccountNumber_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ClientNo}">
	{BEGIN ClientNo_fieldblock}		
	<td>
		{$label transactions ClientNo}
	</td>
	<td>
		<input type="checkbox" {$ClientNo_notbox}>
	</td>
	<td>
		{$searchtype_ClientNo}
	</td>
	<td>
		{$ClientNo_editcontrol}&nbsp;
	</td>
	<td>
		{$ClientNo_editcontrol1}&nbsp;
	</td>
{END ClientNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LastModifiedBy}">
	{BEGIN LastModifiedBy_fieldblock}		
	<td>
		{$label transactions LastModifiedBy}
	</td>
	<td>
		<input type="checkbox" {$LastModifiedBy_notbox}>
	</td>
	<td>
		{$searchtype_LastModifiedBy}
	</td>
	<td>
		{$LastModifiedBy_editcontrol}&nbsp;
	</td>
	<td>
		{$LastModifiedBy_editcontrol1}&nbsp;
	</td>
{END LastModifiedBy_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LastModifiedDate}">
	{BEGIN LastModifiedDate_fieldblock}		
	<td>
		{$label transactions LastModifiedDate}
	</td>
	<td>
		<input type="checkbox" {$LastModifiedDate_notbox}>
	</td>
	<td>
		{$searchtype_LastModifiedDate}
	</td>
	<td>
		{$LastModifiedDate_editcontrol}&nbsp;
	</td>
	<td>
		{$LastModifiedDate_editcontrol1}&nbsp;
	</td>
{END LastModifiedDate_fieldblock}
	</tr>
	<tr class="{$fielddispclass_AccountName}">
	{BEGIN AccountName_fieldblock}		
	<td>
		{$label transactions AccountName}
	</td>
	<td>
		<input type="checkbox" {$AccountName_notbox}>
	</td>
	<td>
		{$searchtype_AccountName}
	</td>
	<td>
		{$AccountName_editcontrol}&nbsp;
	</td>
	<td>
		{$AccountName_editcontrol1}&nbsp;
	</td>
{END AccountName_fieldblock}
	</tr>
	<tr class="{$fielddispclass_TransactionNo}">
	{BEGIN TransactionNo_fieldblock}		
	<td>
		{$label transactions TransactionNo}
	</td>
	<td>
		<input type="checkbox" {$TransactionNo_notbox}>
	</td>
	<td>
		{$searchtype_TransactionNo}
	</td>
	<td>
		{$TransactionNo_editcontrol}&nbsp;
	</td>
	<td>
		{$TransactionNo_editcontrol1}&nbsp;
	</td>
{END TransactionNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_TransactionStatus}">
	{BEGIN TransactionStatus_fieldblock}		
	<td>
		{$label transactions TransactionStatus}
	</td>
	<td>
		<input type="checkbox" {$TransactionStatus_notbox}>
	</td>
	<td>
		{$searchtype_TransactionStatus}
	</td>
	<td>
		{$TransactionStatus_editcontrol}&nbsp;
	</td>
	<td>
		{$TransactionStatus_editcontrol1}&nbsp;
	</td>
{END TransactionStatus_fieldblock}
	</tr>
	<tr class="{$fielddispclass_SelectedClientNo}">
	{BEGIN SelectedClientNo_fieldblock}		
	<td>
		{$label transactions SelectedClientNo}
	</td>
	<td>
		<input type="checkbox" {$SelectedClientNo_notbox}>
	</td>
	<td>
		{$searchtype_SelectedClientNo}
	</td>
	<td>
		{$SelectedClientNo_editcontrol}&nbsp;
	</td>
	<td>
		{$SelectedClientNo_editcontrol1}&nbsp;
	</td>
{END SelectedClientNo_fieldblock}
	</tr>
	<tr class="{$fielddispclass_LoanPaymentStatus}">
	{BEGIN LoanPaymentStatus_fieldblock}		
	<td>
		{$label transactions LoanPaymentStatus}
	</td>
	<td>
		<input type="checkbox" {$LoanPaymentStatus_notbox}>
	</td>
	<td>
		{$searchtype_LoanPaymentStatus}
	</td>
	<td>
		{$LoanPaymentStatus_editcontrol}&nbsp;
	</td>
	<td>
		{$LoanPaymentStatus_editcontrol1}&nbsp;
	</td>
{END LoanPaymentStatus_fieldblock}
	</tr>
	<tr class="{$fielddispclass_CashDepositStatus}">
	{BEGIN CashDepositStatus_fieldblock}		
	<td>
		{$label transactions CashDepositStatus}
	</td>
	<td>
		<input type="checkbox" {$CashDepositStatus_notbox}>
	</td>
	<td>
		{$searchtype_CashDepositStatus}
	</td>
	<td>
		{$CashDepositStatus_editcontrol}&nbsp;
	</td>
	<td>
		{$CashDepositStatus_editcontrol1}&nbsp;
	</td>
{END CashDepositStatus_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
