<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="FirstName">
	{$FirstName_editcontrol}
	</control>
	<control 
	field="LastName">
	{$LastName_editcontrol}
	</control>
	<control 
	field="Sex">
	{$Sex_editcontrol}
	</control>
	<control 
	field="DateOfBirth">
	{$DateOfBirth_editcontrol}
	</control>
	<control 
	field="TelephoneNo">
	{$TelephoneNo_editcontrol}
	</control>
	<control 
	field="EmailAddress">
	{$EmailAddress_editcontrol}
	</control>
	<control 
	field="CurrentAddress">
	{$CurrentAddress_editcontrol}
	</control>
	<control 
	field="PlaceOfBirth">
	{$PlaceOfBirth_editcontrol}
	</control>
	<control 
	field="PassportOrID">
	{$PassportOrID_editcontrol}
	</control>
	<control 
	field="ProfilePhoto">
	{$ProfilePhoto_editcontrol}
	</control>
	<control 
	field="AttachedFile">
	{$AttachedFile_editcontrol}
	</control>
	<control 
	field="AccountName">
	{$AccountName_editcontrol}
	</control>
	<control 
	field="AccountNo">
	{$AccountNo_editcontrol}
	</control>
	<control 
	field="InterestRate">
	{$InterestRate_editcontrol}
	</control>
	<control 
	field="SetWithdrawDate">
	{$SetWithdrawDate_editcontrol}
	</control>
	<control 
	field="EmergencyContactPerson">
	{$EmergencyContactPerson_editcontrol}
	</control>
	<control 
	field="EmergencyContactRelation">
	{$EmergencyContactRelation_editcontrol}
	</control>
	<control 
	field="EmergencyContactTel">
	{$EmergencyContactTel_editcontrol}
	</control>
	<control 
	field="Username">
	{$Username_editcontrol}
	</control>
	<control 
	field="Password">
	{$Password_editcontrol}
	</control>
	<control 
	field="UserType">
	{$UserType_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
