<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel users edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN SetWithdrawDate_fieldblock}
<tr class="{$fielddispclass_SetWithdrawDate}" data-fieldname="SetWithdrawDate">
	<td class="rnr-label">
		{BEGIN SetWithdrawDate_label}{$label users SetWithdrawDate}{END SetWithdrawDate_label}
	</td>
	<td class="rnr-control style3">
		{$SetWithdrawDate_editcontrol}&nbsp;
	</td>
</tr>
{END SetWithdrawDate_fieldblock}
	{BEGIN InterestRate_fieldblock}
<tr class="{$fielddispclass_InterestRate}" data-fieldname="InterestRate">
	<td class="rnr-label">
		{BEGIN InterestRate_label}{$label users InterestRate}{END InterestRate_label}
	</td>
	<td class="rnr-control style3">
		{$InterestRate_editcontrol}&nbsp;
	</td>
</tr>
{END InterestRate_fieldblock}
	{BEGIN FirstName_fieldblock}
<tr class="{$fielddispclass_FirstName}" data-fieldname="FirstName">
	<td class="rnr-label">
		{BEGIN FirstName_label}{$label users FirstName}{END FirstName_label}
	</td>
	<td class="rnr-control style3">
		{$FirstName_editcontrol}&nbsp;
	</td>
</tr>
{END FirstName_fieldblock}
	{BEGIN LastName_fieldblock}
<tr class="{$fielddispclass_LastName}" data-fieldname="LastName">
	<td class="rnr-label">
		{BEGIN LastName_label}{$label users LastName}{END LastName_label}
	</td>
	<td class="rnr-control style3">
		{$LastName_editcontrol}&nbsp;
	</td>
</tr>
{END LastName_fieldblock}
	{BEGIN Sex_fieldblock}
<tr class="{$fielddispclass_Sex}" data-fieldname="Sex">
	<td class="rnr-label">
		{BEGIN Sex_label}{$label users Sex}{END Sex_label}
	</td>
	<td class="rnr-control style3">
		{$Sex_editcontrol}&nbsp;
	</td>
</tr>
{END Sex_fieldblock}
	{BEGIN DateOfBirth_fieldblock}
<tr class="{$fielddispclass_DateOfBirth}" data-fieldname="DateOfBirth">
	<td class="rnr-label">
		{BEGIN DateOfBirth_label}{$label users DateOfBirth}{END DateOfBirth_label}
	</td>
	<td class="rnr-control style3">
		{$DateOfBirth_editcontrol}&nbsp;
	</td>
</tr>
{END DateOfBirth_fieldblock}
	{BEGIN TelephoneNo_fieldblock}
<tr class="{$fielddispclass_TelephoneNo}" data-fieldname="TelephoneNo">
	<td class="rnr-label">
		{BEGIN TelephoneNo_label}{$label users TelephoneNo}{END TelephoneNo_label}
	</td>
	<td class="rnr-control style3">
		{$TelephoneNo_editcontrol}&nbsp;
	</td>
</tr>
{END TelephoneNo_fieldblock}
	{BEGIN EmailAddress_fieldblock}
<tr class="{$fielddispclass_EmailAddress}" data-fieldname="EmailAddress">
	<td class="rnr-label">
		{BEGIN EmailAddress_label}{$label users EmailAddress}{END EmailAddress_label}
	</td>
	<td class="rnr-control style3">
		{$EmailAddress_editcontrol}&nbsp;
	</td>
</tr>
{END EmailAddress_fieldblock}
	{BEGIN CurrentAddress_fieldblock}
<tr class="{$fielddispclass_CurrentAddress}" data-fieldname="CurrentAddress">
	<td class="rnr-label">
		{BEGIN CurrentAddress_label}{$label users CurrentAddress}{END CurrentAddress_label}
	</td>
	<td class="rnr-control style3">
		{$CurrentAddress_editcontrol}&nbsp;
	</td>
</tr>
{END CurrentAddress_fieldblock}
	{BEGIN PlaceOfBirth_fieldblock}
<tr class="{$fielddispclass_PlaceOfBirth}" data-fieldname="PlaceOfBirth">
	<td class="rnr-label">
		{BEGIN PlaceOfBirth_label}{$label users PlaceOfBirth}{END PlaceOfBirth_label}
	</td>
	<td class="rnr-control style3">
		{$PlaceOfBirth_editcontrol}&nbsp;
	</td>
</tr>
{END PlaceOfBirth_fieldblock}
	{BEGIN PassportOrID_fieldblock}
<tr class="{$fielddispclass_PassportOrID}" data-fieldname="PassportOrID">
	<td class="rnr-label">
		{BEGIN PassportOrID_label}{$label users PassportOrID}{END PassportOrID_label}
	</td>
	<td class="rnr-control style3">
		{$PassportOrID_editcontrol}&nbsp;
	</td>
</tr>
{END PassportOrID_fieldblock}
	{BEGIN ProfilePhoto_fieldblock}
<tr class="{$fielddispclass_ProfilePhoto}" data-fieldname="ProfilePhoto">
	<td class="rnr-label">
		{BEGIN ProfilePhoto_label}{$label users ProfilePhoto}{END ProfilePhoto_label}
	</td>
	<td class="rnr-control style3">
		{$ProfilePhoto_editcontrol}&nbsp;
	</td>
</tr>
{END ProfilePhoto_fieldblock}
	{BEGIN AttachedFile_fieldblock}
<tr class="{$fielddispclass_AttachedFile}" data-fieldname="AttachedFile">
	<td class="rnr-label">
		{BEGIN AttachedFile_label}{$label users AttachedFile}{END AttachedFile_label}
	</td>
	<td class="rnr-control style3">
		{$AttachedFile_editcontrol}&nbsp;
	</td>
</tr>
{END AttachedFile_fieldblock}
	{BEGIN ClientNo_fieldblock}
<tr class="{$fielddispclass_ClientNo}" data-fieldname="ClientNo">
	<td class="rnr-label">
		{BEGIN ClientNo_label}{$label users ClientNo}{END ClientNo_label}
	</td>
	<td class="rnr-control style3">
		{$ClientNo_editcontrol}&nbsp;
	</td>
</tr>
{END ClientNo_fieldblock}
	{BEGIN EmergencyContactPerson_fieldblock}
<tr class="{$fielddispclass_EmergencyContactPerson}" data-fieldname="EmergencyContactPerson">
	<td class="rnr-label">
		{BEGIN EmergencyContactPerson_label}{$label users EmergencyContactPerson}{END EmergencyContactPerson_label}
	</td>
	<td class="rnr-control style3">
		{$EmergencyContactPerson_editcontrol}&nbsp;
	</td>
</tr>
{END EmergencyContactPerson_fieldblock}
	{BEGIN EmergencyContactRelation_fieldblock}
<tr class="{$fielddispclass_EmergencyContactRelation}" data-fieldname="EmergencyContactRelation">
	<td class="rnr-label">
		{BEGIN EmergencyContactRelation_label}{$label users EmergencyContactRelation}{END EmergencyContactRelation_label}
	</td>
	<td class="rnr-control style3">
		{$EmergencyContactRelation_editcontrol}&nbsp;
	</td>
</tr>
{END EmergencyContactRelation_fieldblock}
	{BEGIN EmergencyContactTel_fieldblock}
<tr class="{$fielddispclass_EmergencyContactTel}" data-fieldname="EmergencyContactTel">
	<td class="rnr-label">
		{BEGIN EmergencyContactTel_label}{$label users EmergencyContactTel}{END EmergencyContactTel_label}
	</td>
	<td class="rnr-control style3">
		{$EmergencyContactTel_editcontrol}&nbsp;
	</td>
</tr>
{END EmergencyContactTel_fieldblock}
	{BEGIN AccountName_fieldblock}
<tr class="{$fielddispclass_AccountName}" data-fieldname="AccountName">
	<td class="rnr-label">
		{BEGIN AccountName_label}{$label users AccountName}{END AccountName_label}
	</td>
	<td class="rnr-control style3">
		{$AccountName_editcontrol}&nbsp;
	</td>
</tr>
{END AccountName_fieldblock}
	{BEGIN AccountNumber_fieldblock}
<tr class="{$fielddispclass_AccountNumber}" data-fieldname="AccountNumber">
	<td class="rnr-label">
		{BEGIN AccountNumber_label}{$label users AccountNumber}{END AccountNumber_label}
	</td>
	<td class="rnr-control style3">
		{$AccountNumber_editcontrol}&nbsp;
	</td>
</tr>
{END AccountNumber_fieldblock}
	{BEGIN OpeningAccountDate_fieldblock}
<tr class="{$fielddispclass_OpeningAccountDate}" data-fieldname="OpeningAccountDate">
	<td class="rnr-label">
		{BEGIN OpeningAccountDate_label}{$label users OpeningAccountDate}{END OpeningAccountDate_label}
	</td>
	<td class="rnr-control style3">
		{$OpeningAccountDate_editcontrol}&nbsp;
	</td>
</tr>
{END OpeningAccountDate_fieldblock}
	{BEGIN OpeningAccountBalance_fieldblock}
<tr class="{$fielddispclass_OpeningAccountBalance}" data-fieldname="OpeningAccountBalance">
	<td class="rnr-label">
		{BEGIN OpeningAccountBalance_label}{$label users OpeningAccountBalance}{END OpeningAccountBalance_label}
	</td>
	<td class="rnr-control style3">
		{$OpeningAccountBalance_editcontrol}&nbsp;
	</td>
</tr>
{END OpeningAccountBalance_fieldblock}
	{BEGIN Username_fieldblock}
<tr class="{$fielddispclass_Username}" data-fieldname="Username">
	<td class="rnr-label">
		{BEGIN Username_label}{$label users Username}{END Username_label}
	</td>
	<td class="rnr-control style3">
		{$Username_editcontrol}&nbsp;
	</td>
</tr>
{END Username_fieldblock}
	{BEGIN Password_fieldblock}
<tr class="{$fielddispclass_Password}" data-fieldname="Password">
	<td class="rnr-label">
		{BEGIN Password_label}{$label users Password}{END Password_label}
	</td>
	<td class="rnr-control style3">
		{$Password_editcontrol}&nbsp;
	</td>
</tr>
{END Password_fieldblock}
	{BEGIN UserLevel_fieldblock}
<tr class="{$fielddispclass_UserLevel}" data-fieldname="UserLevel">
	<td class="rnr-label">
		{BEGIN UserLevel_label}{$label users UserLevel}{END UserLevel_label}
	</td>
	<td class="rnr-control style3">
		{$UserLevel_editcontrol}&nbsp;
	</td>
</tr>
{END UserLevel_fieldblock}
	{BEGIN LastModifiedBy_fieldblock}
<tr class="{$fielddispclass_LastModifiedBy}" data-fieldname="LastModifiedBy">
	<td class="rnr-label">
		{BEGIN LastModifiedBy_label}{$label users LastModifiedBy}{END LastModifiedBy_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedBy_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedBy_fieldblock}
	{BEGIN LastModifiedDate_fieldblock}
<tr class="{$fielddispclass_LastModifiedDate}" data-fieldname="LastModifiedDate">
	<td class="rnr-label">
		{BEGIN LastModifiedDate_label}{$label users LastModifiedDate}{END LastModifiedDate_label}
	</td>
	<td class="rnr-control style3">
		{$LastModifiedDate_editcontrol}&nbsp;
	</td>
</tr>
{END LastModifiedDate_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
