.preview .runner-s-empty > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-empty > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #404040
}
.preview .runner-s-empty > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-empty > * > * > .runner-row.style1 > *.runner-cc a
{
color: #404040
}
.preview .runner-s-empty > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-empty > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #000000
}
.preview .runner-s-empty > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-empty > * > * > .runner-row.style2 > *.runner-cc a
{
color: #000000
}
.preview .runner-s-empty > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-empty > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-empty > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-empty > * > * > .runner-toprow > *.runner-cc a
{
color: #696969
}
.preview .runner-s-empty > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-empty > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-empty > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-empty > * > * > .runner-row > *.runner-cc a
{
color: #696969
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-empty > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-empty > * > * > .runner-row.style1 > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-empty > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-empty > * > * > .runner-row.style2 > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-empty > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-disabled-empty > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-empty > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-empty > * > * > .runner-toprow > *.runner-cc a
{
color: #C3C3C3
}
.preview .runner-s-disabled-empty > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-disabled-empty > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-empty > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-empty > * > * > .runner-row > *.runner-cc a
{
color: #C3C3C3
}
