.preview span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-wrapper span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
.preview .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab > *.runner-cc a,
.preview  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab > *.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.active > *.runner-cc a,
.preview  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.active > *.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.active > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.current > *.runner-cc a,
.preview  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.current > *.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.current > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.expanded > *.runner-cc a,
.preview  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.expanded > *.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   .runner-menutab.expanded > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-wrapper .runner-hmenu.runner-hmenu.runner-hmenu.runner-hmenu   span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
.preview .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.preview .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a
{
color: #404040
}
.preview .runner-s-grid > table > * > tr.style1.runner-toprow > th.runner-cc a,
.preview .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-toprow > th.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-toprow > th.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-toprow > th.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-toprow > th.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-toprow > th.runner-cc a
{
color: #FFFFFF
}
.preview .runner-s-grid > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.preview .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.footer > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.footer > td.runner-cc a
{
color: #FFFFFF
}
.preview .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.preview .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row > td.runner-cc a
{
color: #404040
}
.preview .runner-s-grid > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.preview .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.preview .runner-s-grid > table > * > tr > td.runner-cg > table > * > .runner-row > td.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > .runner-row > td.runner-cc a.alt,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.interlaced > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > .runner-row > td.runner-cc a.alt
{
color: #404040
}
.preview .runner-s-grid > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.preview .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.hovered > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered > td.runner-cc a
{
color: #404040
}
.preview .runner-s-grid > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.preview .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.preview  .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid > table > * > tr > td.runner-cg > table > * > tr.style1.runner-row.hovered.interlaced > td.runner-cc a
{
color: #404040
}
.preview .runner-s-grid  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-grid  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-wrapper .runner-s-grid  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
.preview span.mainbutton.mainbutton.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper span.mainbutton.mainbutton.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-wrapper span.mainbutton.mainbutton.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
 .rnr-left, .rnr-center {
 background: #ffffff !important;
 }
 