.preview .runner-s-1 > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-s-1 > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-row.style1 > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-s-1 > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-s-1 > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-row.style2 > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-s-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-1 > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-toprow > *.runner-cc a
{
color: #276A36
}
.preview .runner-s-1 > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-1 > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-row > *.runner-cc a
{
color: #276A36
}
.preview .runner-s-1  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-1  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
.preview .runner-s-disabled-1 > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #F1F1F1
}
.preview .runner-s-disabled-1 > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-row.style1 > *.runner-cc a
{
color: #F1F1F1
}
.preview .runner-s-disabled-1 > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #F1F1F1
}
.preview .runner-s-disabled-1 > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-row.style2 > *.runner-cc a
{
color: #F1F1F1
}
.preview .runner-s-disabled-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-disabled-1 > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-toprow > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-1 > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-disabled-1 > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-row > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-1  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-1  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
