.preview .runner-s-undermenu > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-s-undermenu > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-undermenu > * > * > .runner-row.style1 > *.runner-cc a
{
color: #FFFFFF
}
.preview .runner-s-undermenu > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #000000
}
.preview .runner-s-undermenu > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-undermenu > * > * > .runner-row.style2 > *.runner-cc a
{
color: #000000
}
.preview .runner-s-undermenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-undermenu > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-undermenu > * > * > .runner-toprow > *.runner-cc a
{
color: #000000
}
.preview .runner-s-undermenu > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-undermenu > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-undermenu > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-undermenu > * > * > .runner-row > *.runner-cc a
{
color: #000000
}
.preview .runner-s-undermenu  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-undermenu  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
.preview .runner-s-disabled-undermenu > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-undermenu > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #F1F1F1
}
.preview .runner-s-disabled-undermenu > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-undermenu > * > * > .runner-row.style1 > *.runner-cc a
{
color: #F1F1F1
}
.preview .runner-s-disabled-undermenu > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-undermenu > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-undermenu > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-undermenu > * > * > .runner-row.style2 > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-undermenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-disabled-undermenu > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-undermenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-undermenu > * > * > .runner-toprow > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-undermenu > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-disabled-undermenu > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-undermenu > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-undermenu > * > * > .runner-row > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-undermenu  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-undermenu  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
