<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel jobsjobs add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN Title_fieldblock}
<tr class="{$fielddispclass_Title}" data-fieldname="Title">
	<td class="rnr-label">
		{BEGIN Title_label}{$label jobsjobs Title}{END Title_label}
	</td>
	<td class="rnr-control style3">
		{$Title_editcontrol}&nbsp;
	</td>
</tr>
{END Title_fieldblock}
	{BEGIN TypeID_fieldblock}
<tr class="{$fielddispclass_TypeID}" data-fieldname="TypeID">
	<td class="rnr-label">
		{BEGIN TypeID_label}{$label jobsjobs TypeID}{END TypeID_label}
	</td>
	<td class="rnr-control style3">
		{$TypeID_editcontrol}&nbsp;
	</td>
</tr>
{END TypeID_fieldblock}
	{BEGIN Description_fieldblock}
<tr class="{$fielddispclass_Description}" data-fieldname="Description">
	<td class="rnr-label">
		{BEGIN Description_label}{$label jobsjobs Description}{END Description_label}
	</td>
	<td class="rnr-control style3">
		{$Description_editcontrol}&nbsp;
	</td>
</tr>
{END Description_fieldblock}
	{BEGIN HowToApply_fieldblock}
<tr class="{$fielddispclass_HowToApply}" data-fieldname="HowToApply">
	<td class="rnr-label">
		{BEGIN HowToApply_label}{$label jobsjobs HowToApply}{END HowToApply_label}
	</td>
	<td class="rnr-control style3">
		{$HowToApply_editcontrol}&nbsp;
	</td>
</tr>
{END HowToApply_fieldblock}
	{BEGIN Zip_fieldblock}
<tr class="{$fielddispclass_Zip}" data-fieldname="Zip">
	<td class="rnr-label">
		{BEGIN Zip_label}{$label jobsjobs Zip}{END Zip_label}
	</td>
	<td class="rnr-control style3">
		{$Zip_editcontrol}&nbsp;
	</td>
</tr>
{END Zip_fieldblock}
	{BEGIN City_fieldblock}
<tr class="{$fielddispclass_City}" data-fieldname="City">
	<td class="rnr-label">
		{BEGIN City_label}{$label jobsjobs City}{END City_label}
	</td>
	<td class="rnr-control style3">
		{$City_editcontrol}&nbsp;
	</td>
</tr>
{END City_fieldblock}
	{BEGIN state_fieldblock}
<tr class="{$fielddispclass_state}" data-fieldname="state">
	<td class="rnr-label">
		{BEGIN state_label}{$label jobsjobs state}{END state_label}
	</td>
	<td class="rnr-control style3">
		{$state_editcontrol}&nbsp;
	</td>
</tr>
{END state_fieldblock}
	{BEGIN Country_fieldblock}
<tr class="{$fielddispclass_Country}" data-fieldname="Country">
	<td class="rnr-label">
		{BEGIN Country_label}{$label jobsjobs Country}{END Country_label}
	</td>
	<td class="rnr-control style3">
		{$Country_editcontrol}&nbsp;
	</td>
</tr>
{END Country_fieldblock}
	{BEGIN Website_fieldblock}
<tr class="{$fielddispclass_Website}" data-fieldname="Website">
	<td class="rnr-label">
		{BEGIN Website_label}{$label jobsjobs Website}{END Website_label}
	</td>
	<td class="rnr-control style3">
		{$Website_editcontrol}&nbsp;
	</td>
</tr>
{END Website_fieldblock}
	{BEGIN LogoURL_fieldblock}
<tr class="{$fielddispclass_LogoURL}" data-fieldname="LogoURL">
	<td class="rnr-label">
		{BEGIN LogoURL_label}{$label jobsjobs LogoURL}{END LogoURL_label}
	</td>
	<td class="rnr-control style3">
		{$LogoURL_editcontrol}&nbsp;
	</td>
</tr>
{END LogoURL_fieldblock}
	{BEGIN DateAdded_fieldblock}
<tr class="{$fielddispclass_DateAdded}" data-fieldname="DateAdded">
	<td class="rnr-label">
		{BEGIN DateAdded_label}{$label jobsjobs DateAdded}{END DateAdded_label}
	</td>
	<td class="rnr-control style3">
		{$DateAdded_editcontrol}&nbsp;
	</td>
</tr>
{END DateAdded_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
