body.page-preview
{
padding-top:10px; padding-left:10px;
}
.page-preview > .rnr-page
{
width: 400px;
}
.page-preview .rnr-c-menu,
  .rnr-pagewrapper .page-preview .rnr-c-menu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-menu
{
margin-bottom:5px;
}
.page-preview .rnr-c-menu,
  .rnr-pagewrapper .page-preview .rnr-c-menu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-menu
{
min-width: 400px; display:inline-block
}
.page-preview .rnr-cw-menu,
  .rnr-pagewrapper .page-preview .rnr-cw-menu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-cw-menu
{
text-align: center;
}
.page-preview .rnr-b-login_menu,
  .rnr-pagewrapper .page-preview .rnr-b-login_menu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-login_menu
{
white-space: nowrap;
}
.page-preview .rnr-b-login_menu,
  .rnr-pagewrapper .page-preview .rnr-b-login_menu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-login_menu
{
text-align: right;
}
.page-preview .rnr-b-login_menu > *,
  .rnr-pagewrapper .page-preview .rnr-b-login_menu > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-login_menu > *
{

}
.page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-vmenu
{
white-space: nowrap;
}
.page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-vmenu
{
text-align: right;
}
.page-preview .rnr-b-vmenu > *,
  .rnr-pagewrapper .page-preview .rnr-b-vmenu > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-vmenu > *
{

}
body.page-preview .rnr-toptable
{
width:100%;
}
body.page-preview .rnr-top
{
padding-right: 5px;
}
