.preview .runner-s-2 > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-2 > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #000000
}
.preview .runner-s-2 > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-2 > * > * > .runner-row.style1 > *.runner-cc a
{
color: #000000
}
.preview .runner-s-2 > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-2 > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #000000
}
.preview .runner-s-2 > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-2 > * > * > .runner-row.style2 > *.runner-cc a
{
color: #000000
}
.preview .runner-s-2 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-2 > * > * > .runner-toprow > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-2 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-2 > * > * > .runner-toprow > *.runner-cc a.alt
{
color: #000000
}
.preview .runner-s-2 > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-2 > * > * > .runner-row > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-2 > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-2 > * > * > .runner-row > *.runner-cc a.alt
{
color: #000000
}
.preview .runner-s-2  .runner-btnright,
.preview  .runner-wrapper .runner-s-2  .runner-btnright
{
clip:rect(auto auto auto 490px);
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-2 > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-2 > * > * > .runner-row.style1 > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-2 > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-2 > * > * > .runner-row.style2 > *.runner-cc a
{
color: #A3A3A3
}
.preview .runner-s-disabled-2 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-disabled-2 > * > * > .runner-toprow > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-disabled-2 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-2 > * > * > .runner-toprow > *.runner-cc a.alt
{
color: #A3A3A3
}
.preview .runner-s-disabled-2 > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-disabled-2 > * > * > .runner-row > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-disabled-2 > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-2 > * > * > .runner-row > *.runner-cc a.alt
{
color: #A3A3A3
}
.preview .runner-s-disabled-2  .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-2  .runner-btnright
{
clip:rect(auto auto auto 490px);
}
