.preview .runner-s-fields > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #404040
}
.preview .runner-s-fields > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-row.style1 > *.runner-cc a
{
color: #404040
}
.preview .runner-s-fields > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #404040
}
.preview .runner-s-fields > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-row.style2 > *.runner-cc a
{
color: #404040
}
.preview .runner-s-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-fields > * > * > .runner-toprow > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-toprow > *.runner-cc a.alt
{
color: #404040
}
.preview .runner-s-fields > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-fields > * > * > .runner-row > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-row > *.runner-cc a.alt
{
color: #404040
}
.preview .runner-s-fields  .runner-btnright,
.preview  .runner-wrapper .runner-s-fields  .runner-btnright
{
clip:rect(auto auto auto 490px);
}
.preview .runner-s-disabled-fields > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-fields > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-row.style1 > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-fields > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-fields > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-row.style2 > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-disabled-fields > * > * > .runner-toprow > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-toprow > *.runner-cc a.alt
{
color: #B7B7B7
}
.preview .runner-s-disabled-fields > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-disabled-fields > * > * > .runner-row > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-row > *.runner-cc a.alt
{
color: #B7B7B7
}
.preview .runner-s-disabled-fields  .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-fields  .runner-btnright
{
clip:rect(auto auto auto 490px);
}
