<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-admin_members_list" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			



{BEGIN container_toplinks}
<div class="rnr-c rnr-ch rnr-c-toplinks">


{BEGIN asearch_link}
<div  class="style1 rnr-bl rnr-b-toplinks_advsearch {$brickclass_toplinks_advsearch}">	<a href="admin_members_search.php" class="rnr-button" {$advsearchlink_attrs}>Advanced search</a>
</div>
{END asearch_link}




<div class="rnr-hfiller"></div>
</div>
{END container_toplinks}



{BEGIN container_search}
<div class="rnr-c rnr-ch rnr-c-search">

{BEGIN searchform_block}
<div  class="style1 rnr-bl rnr-b-search {$brickclass_search}">	<span>
		{BEGIN searchform_text}
		<input type="text" {$searchfor_attrs} size="25">
		{END searchform_text}
		{BEGIN searchform_search}
			<a href="#" class="rnr-button img" data-icon="search" {$searchbutton_attrs}></a>
		{END searchform_search}
		{BEGIN searchform_showall}	
		<a href="#" class="rnr-button" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</a>
		{END searchform_showall}
	</span>
</div>
{END searchform_block}

<div class="rnr-hfiller"></div>
{BEGIN details_block}
<div  class="style1 rnr-br rnr-b-details_found {$brickclass_details_found}">	<span {$details_attrs}>
			Details found: <b><span class="rnr-details_found_count">{$records_found}</span></b>
	</span>
</div>
{END details_block}


{BEGIN pages_block}
<div  class="style1 rnr-br rnr-b-page_of {$brickclass_page_of}">	<span {$pages_attrs}>
		Page <b>{$page}</b> of <b>{$maxpages}</b>
	</span>

</div>
{END pages_block}


{BEGIN recordspp_block}
<div  class="style1 rnr-br rnr-b-recsperpage {$brickclass_recsperpage}">	<span id="recordspp_block{$id}" name="recordspp_block{$id}">
			Records Per Page:&nbsp;{$recsPerPage}
	</span>	
</div>
{END recordspp_block}


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				

{BEGIN container_left}
<div class="rnr-c rnr-cv rnr-c-left">


{BEGIN security_block}
<div  class="rnr-brickcontents style1 rnr-b-loggedas {$brickclass_loggedas}"><div id="login_block{$id}">
	{BEGIN loggedas_message}
	<span>Logged on as&nbsp;<b>{$username}</b><br><br>
	</span>
	{END loggedas_message}
	{BEGIN guestloginbutton}
	<span>
	<a href="#" class="rnr-button" {$guestloginlink_attrs}>Login</a>
	</span>
	{END guestloginbutton}
	{BEGIN logoutbutton}
	<a class="rnr-button" href="login.php?a=logout" {$logoutlink_attrs}>Log out</a>
	{END logoutbutton}
<!-- Permissions -->
   {BEGIN exitadminarea_link}
<div>
	<a href="#" class="rnr-button" {$exitaalink_attrs}>Exit Admin Area</a>
</div>
  {END exitadminarea_link}
{BEGIN changepwd_link}
<div>
	<a class="rnr-button" href="changepwd.php" {$changepwdlink_attrs}>Change password</a>
</div>
{END changepwd_link}
</div>
</div>{END security_block}


{BEGIN menu_block}
{$menu main}
{END menu_block}


{BEGIN searchPanel}
<div  class="rnr-brickcontents style1 rnr-b-searchpanel {$brickclass_searchpanel}"><div class="searchPanelContainer">
<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="rnr-radio-button" {$all_checkbox}>&nbsp;{BEGIN all_checkbox_label}<span>all</span>{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="rnr-radio-button" {$any_checkbox}>&nbsp;{BEGIN any_checkbox_label}<span>any</span>{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="rnr-buttons-group">
			<a href="#" id="showHideControlChooseMenu{$id}" class="rnr-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		
		<a href="#" id="showHideSearchType{$id}" class="rnr-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
	</div>
	

	<table class="controlsBlock {$controls_block_class}">
				{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>	
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="rnr-searchtype">{$searchtype}</div>
				<div class="rnr-searchcontrol">{$searchcontrol}</div>
				<div class="rnr-searchcontrol">{$searchcontrol1}</div>
			</td>	
		</tr>
		{END searchCtrlBlock}
	</table>	


	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<a href="#" class="rnr-button" id="searchButton{$id}" {$searchbutton_attrs}>Search</a>
	</div>
</div>

</div></div>{END searchPanel}


</div>
{END container_left}


			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_ugcontrols}
<div class="rnr-c rnr-ch rnr-c-ugcontrols">

{BEGIN savebuttons_block}
<div  class="style1 rnr-bl rnr-b-ugbuttons {$brickclass_ugbuttons}"><a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
</div>
{END savebuttons_block}

<div class="rnr-hfiller"></div>
</div>
{END container_ugcontrols}



{BEGIN container_message}
<div class="rnr-c rnr-ch rnr-c-message">

{BEGIN message_block}
<div  class="style1 rnr-bc rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>
{END message_block}


</div>
{END container_message}



{BEGIN container_grid}


{BEGIN grid_block}
<table cellpadding="5" class="rnr-c">
	<tr class="rnr-toprow style1">
		<th class="rnr-cl"></th>
		<th class="rnr-cc" colspan=2>
			<a {$userheaderlink_attrs}>Users</a>
			{$users_orderimg}
		</th>
		<th class="rnr-cc">
			<a {$displayuserheaderlink_attrs}>Display name</a>
			{$displayusers_orderimg}
		</th>
		{BEGIN usergroup_header}
		<th class="rnr-cc" style="text-align: center;">
			<table>
			<tr>
			<td class="rnr-cc">
				<a {$groupheaderlink_attrs}>{$groupname}</a> {$groupheader_img}
			</td>
			</tr>
			<tr>
			<td class="rnr-cc">
				<input type="checkbox" {$groupheaderbox_attrs}>
			</td>
			</tr>
			</table>
		</th>
		{END usergroup_header}
		<th class="rnr-cr"></th>
	</tr>
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}> 
		<td class="rnr-cl"></td>
		<td class="rnr-cc rnr-cc1">
			<input type="checkbox" {$usercheckbox_attrs}>
		</td>
		<td class="rnr-cc rnr-cc1">
			{$username} 
		</td>
		<td class="rnr-cc rnr-cc1">
			{$displayusername} 
		</td>
		{BEGIN usergroup_boxes}
		<td class="rnr-cc rnr-cc2" >
			{BEGIN usergroup_box}
			<input type="checkbox" {$groupbox_attrs}>
			{END usergroup_box}
		</td>
		{END usergroup_boxes}
		<td class="rnr-cr"></td>
	</tr>
	{END grid_row}
	<tr class="rnr-bottomrow style1">
		<td class="rnr-cl"><img src="images/spacer.gif"></td>
		<td class="rnr-cc" colspan=2>
		</td>
		<td class="rnr-cc">
		</td>
		{BEGIN usergroup_header}
		<td class="rnr-cc"></td>
		{END usergroup_header}
		<td class="rnr-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>
{END grid_block}



{END container_grid}



{BEGIN container_pagination}
<div class="rnr-c rnr-ch rnr-c-pagination">

{BEGIN pagination_block}
<div  class="style1 rnr-bc rnr-b-pagination {$brickclass_pagination}">{$pagination}</div>
{END pagination_block}


</div>
{END container_pagination}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
