<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Customer</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="rnr-s-grid {$pageStyleName}">	
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable" cellpadding="0">
		<thead>
		{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN Id_fieldheadercolumn}
<th class="runner-cc {$Id_class}" {$Id_style}>
	{BEGIN Id_fieldheader}
	<b>{$label customer Id}</b>
	{END Id_fieldheader}
</th>
{END Id_fieldheadercolumn}
	{BEGIN Name_fieldheadercolumn}
<th class="runner-cc {$Name_class}" {$Name_style}>
	{BEGIN Name_fieldheader}
	<b>{$label customer Name}</b>
	{END Name_fieldheader}
</th>
{END Name_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN Id_fieldcolumn}
<td  class="runner-cc {$Id_class}" {$Id_style}>
	{$Id_value}
</td>
{END Id_fieldcolumn}
	{BEGIN Name_fieldcolumn}
<td  class="runner-cc {$Name_class}" {$Name_style}>
	{$Name_value}
</td>
{END Name_fieldcolumn}

		<td class="rnr-edge">&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
{END grid_row}


		
		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
