<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_Id}
			<a href="#" id="addSearchControl_Id" class="addSearchControl" {$addSearchControl_Id_attrs}>Id</a><br>
		{END addSearch_Id}
		{BEGIN addSearch_CustomerId}
			<a href="#" id="addSearchControl_CustomerId" class="addSearchControl" {$addSearchControl_CustomerId_attrs}>Customer Id</a><br>
		{END addSearch_CustomerId}
		{BEGIN addSearch_WasteId}
			<a href="#" id="addSearchControl_WasteId" class="addSearchControl" {$addSearchControl_WasteId_attrs}>Waste Id</a><br>
		{END addSearch_WasteId}
		{BEGIN addSearch_Year}
			<a href="#" id="addSearchControl_Year" class="addSearchControl" {$addSearchControl_Year_attrs}>Year</a><br>
		{END addSearch_Year}
		{BEGIN addSearch_Week}
			<a href="#" id="addSearchControl_Week" class="addSearchControl" {$addSearchControl_Week_attrs}>Week</a><br>
		{END addSearch_Week}
		{BEGIN addSearch_Amount}
			<a href="#" id="addSearchControl_Amount" class="addSearchControl" {$addSearchControl_Amount_attrs}>Amount</a><br>
		{END addSearch_Amount}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
