<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">


<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	{$pagetitlelabel user search}
</span></div>


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_Id}">
	{BEGIN Id_fieldblock}		
	<td>
		{$label user Id}
	</td>
	<td>
		<input type="checkbox" {$Id_notbox}>
	</td>
	<td>
		{$searchtype_Id}
	</td>
	<td>
		{$Id_editcontrol}&nbsp;
	</td>
	<td>
		{$Id_editcontrol1}&nbsp;
	</td>
{END Id_fieldblock}
	</tr>
	<tr class="{$fielddispclass_UserType}">
	{BEGIN UserType_fieldblock}		
	<td>
		{$label user UserType}
	</td>
	<td>
		<input type="checkbox" {$UserType_notbox}>
	</td>
	<td>
		{$searchtype_UserType}
	</td>
	<td>
		{$UserType_editcontrol}&nbsp;
	</td>
	<td>
		{$UserType_editcontrol1}&nbsp;
	</td>
{END UserType_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Username}">
	{BEGIN Username_fieldblock}		
	<td>
		{$label user Username}
	</td>
	<td>
		<input type="checkbox" {$Username_notbox}>
	</td>
	<td>
		{$searchtype_Username}
	</td>
	<td>
		{$Username_editcontrol}&nbsp;
	</td>
	<td>
		{$Username_editcontrol1}&nbsp;
	</td>
{END Username_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Password}">
	{BEGIN Password_fieldblock}		
	<td>
		{$label user Password}
	</td>
	<td>
		<input type="checkbox" {$Password_notbox}>
	</td>
	<td>
		{$searchtype_Password}
	</td>
	<td>
		{$Password_editcontrol}&nbsp;
	</td>
	<td>
		{$Password_editcontrol1}&nbsp;
	</td>
{END Password_fieldblock}
	</tr>
	<tr class="{$fielddispclass_CustomerId}">
	{BEGIN CustomerId_fieldblock}		
	<td>
		{$label user CustomerId}
	</td>
	<td>
		<input type="checkbox" {$CustomerId_notbox}>
	</td>
	<td>
		{$searchtype_CustomerId}
	</td>
	<td>
		{$CustomerId_editcontrol}&nbsp;
	</td>
	<td>
		{$CustomerId_editcontrol1}&nbsp;
	</td>
{END CustomerId_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Name}">
	{BEGIN Name_fieldblock}		
	<td>
		{$label user Name}
	</td>
	<td>
		<input type="checkbox" {$Name_notbox}>
	</td>
	<td>
		{$searchtype_Name}
	</td>
	<td>
		{$Name_editcontrol}&nbsp;
	</td>
	<td>
		{$Name_editcontrol1}&nbsp;
	</td>
{END Name_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Active}">
	{BEGIN Active_fieldblock}		
	<td>
		{$label user Active}
	</td>
	<td>
		<input type="checkbox" {$Active_notbox}>
	</td>
	<td>
		{$searchtype_Active}
	</td>
	<td>
		{$Active_editcontrol}&nbsp;
	</td>
	<td>
		{$Active_editcontrol1}&nbsp;
	</td>
{END Active_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Email}">
	{BEGIN Email_fieldblock}		
	<td>
		{$label user Email}
	</td>
	<td>
		<input type="checkbox" {$Email_notbox}>
	</td>
	<td>
		{$searchtype_Email}
	</td>
	<td>
		{$Email_editcontrol}&nbsp;
	</td>
	<td>
		{$Email_editcontrol1}&nbsp;
	</td>
{END Email_fieldblock}
	</tr>

</table></div>



<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
