.page-export,
  .runner-pagewrapper .page-export,
  .runner-pagewrapper .runner-pagewrapper .page-export
{
padding-top:10px; padding-left:10px;
}
.page-export .runner-c-export,
  .runner-pagewrapper .page-export .runner-c-export,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-c-export
{
margin-bottom:5px;
}
.page-export .runner-c-export,
  .runner-pagewrapper .page-export .runner-c-export,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-c-export
{
width:500px;
}
body.page-export .runner-c-export
{
margin-left:auto; margin-right:auto;
}
.page-export .runner-b-exportheader, .page-export .runner-b-exportheader,
.page-export .runner-b-exportheader, .page-export .runner-b-exportheader > *,
  .runner-pagewrapper .page-export .runner-b-exportheader, .page-export .runner-b-exportheader,
  .runner-pagewrapper .page-export .runner-b-exportheader, .page-export .runner-b-exportheader > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exportheader, .page-export .runner-b-exportheader,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exportheader, .page-export .runner-b-exportheader > *
{
white-space: nowrap;
}
.page-export .runner-b-exportheader, .page-export .runner-b-exportheader,
.page-export .runner-b-exportheader, .page-export .runner-b-exportheader > *,
  .runner-pagewrapper .page-export .runner-b-exportheader, .page-export .runner-b-exportheader,
  .runner-pagewrapper .page-export .runner-b-exportheader, .page-export .runner-b-exportheader > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exportheader, .page-export .runner-b-exportheader,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exportheader, .page-export .runner-b-exportheader > *
{
text-align: left;
}
.page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header,
.page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header > *,
  .runner-pagewrapper .page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header,
  .runner-pagewrapper .page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header > *
{
white-space: nowrap;
}
.page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header,
.page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header > *,
  .runner-pagewrapper .page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header,
  .runner-pagewrapper .page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exprange_header, .page-export .runner-b-exprange_header > *
{
text-align: left;
}
.page-export .runner-b-exprange, .page-export .runner-b-exprange,
.page-export .runner-b-exprange, .page-export .runner-b-exprange > *,
  .runner-pagewrapper .page-export .runner-b-exprange, .page-export .runner-b-exprange,
  .runner-pagewrapper .page-export .runner-b-exprange, .page-export .runner-b-exprange > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exprange, .page-export .runner-b-exprange,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exprange, .page-export .runner-b-exprange > *
{
white-space: nowrap;
}
.page-export .runner-b-exprange, .page-export .runner-b-exprange,
.page-export .runner-b-exprange, .page-export .runner-b-exprange > *,
  .runner-pagewrapper .page-export .runner-b-exprange, .page-export .runner-b-exprange,
  .runner-pagewrapper .page-export .runner-b-exprange, .page-export .runner-b-exprange > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exprange, .page-export .runner-b-exprange,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-exprange, .page-export .runner-b-exprange > *
{
text-align: left;
}
.page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header,
.page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header > *,
  .runner-pagewrapper .page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header,
  .runner-pagewrapper .page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header > *
{
white-space: nowrap;
}
.page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header,
.page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header > *,
  .runner-pagewrapper .page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header,
  .runner-pagewrapper .page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expoutput_header, .page-export .runner-b-expoutput_header > *
{
text-align: left;
}
.page-export .runner-b-expoutput, .page-export .runner-b-expoutput,
.page-export .runner-b-expoutput, .page-export .runner-b-expoutput > *,
  .runner-pagewrapper .page-export .runner-b-expoutput, .page-export .runner-b-expoutput,
  .runner-pagewrapper .page-export .runner-b-expoutput, .page-export .runner-b-expoutput > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expoutput, .page-export .runner-b-expoutput,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expoutput, .page-export .runner-b-expoutput > *
{
white-space: nowrap;
}
.page-export .runner-b-expoutput, .page-export .runner-b-expoutput,
.page-export .runner-b-expoutput, .page-export .runner-b-expoutput > *,
  .runner-pagewrapper .page-export .runner-b-expoutput, .page-export .runner-b-expoutput,
  .runner-pagewrapper .page-export .runner-b-expoutput, .page-export .runner-b-expoutput > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expoutput, .page-export .runner-b-expoutput,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expoutput, .page-export .runner-b-expoutput > *
{
text-align: left;
}
.page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons,
.page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons > *,
  .runner-pagewrapper .page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons,
  .runner-pagewrapper .page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons > *
{
white-space: nowrap;
}
.page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons,
.page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons > *,
  .runner-pagewrapper .page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons,
  .runner-pagewrapper .page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons > *,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons,
  .runner-pagewrapper .runner-pagewrapper .page-export .runner-b-expbuttons, .page-export .runner-b-expbuttons > *
{
text-align: left;
}
body.page-export .runner-toptable
{
width:100%;
}
body.page-export .runner-top
{
padding-right: 5px;
}
