body.page-edit2
{
padding-top:10px; padding-left:10px;
}
.page-edit2 .rnr-c-all,
  .rnr-pagewrapper .page-edit2 .rnr-c-all,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-c-all
{
margin-bottom:5px;
}
.page-edit2 .rnr-c-all,
  .rnr-pagewrapper .page-edit2 .rnr-c-all,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-c-all
{
min-width:500px; display:inline-block
}
.page-edit2 .rnr-cw-all,
  .rnr-pagewrapper .page-edit2 .rnr-cw-all,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-cw-all
{
text-align: center;
}
.page-edit2 .rnr-c-edit,
  .rnr-pagewrapper .page-edit2 .rnr-c-edit,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-c-edit
{
margin-bottom:5px;
}
.page-edit2 .rnr-c-edit,
  .rnr-pagewrapper .page-edit2 .rnr-c-edit,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-c-edit
{
min-width:500px; display:inline-block
}
.page-edit2 .rnr-cw-edit,
  .rnr-pagewrapper .page-edit2 .rnr-cw-edit,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-cw-edit
{
text-align: center;
}
.page-edit2 .rnr-b-editheader,
  .rnr-pagewrapper .page-edit2 .rnr-b-editheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editheader
{
white-space: nowrap;
}
.page-edit2 .rnr-b-editheader,
  .rnr-pagewrapper .page-edit2 .rnr-b-editheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editheader
{
text-align: right;
}
.page-edit2 .rnr-b-editheader > *,
  .rnr-pagewrapper .page-edit2 .rnr-b-editheader > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editheader > *
{
font-size: 120%;
}
.page-edit2 .rnr-b-message,
  .rnr-pagewrapper .page-edit2 .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-message
{
white-space: nowrap;
}
.page-edit2 .rnr-b-message,
  .rnr-pagewrapper .page-edit2 .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-message
{
text-align: right;
}
.page-edit2 .rnr-b-message > *,
  .rnr-pagewrapper .page-edit2 .rnr-b-message > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-message > *
{

}
.page-edit2 .rnr-c-fields,
  .rnr-pagewrapper .page-edit2 .rnr-c-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-c-fields
{
margin-bottom:5px;
}
.page-edit2 .rnr-b-editfields,
  .rnr-pagewrapper .page-edit2 .rnr-b-editfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editfields
{
white-space: nowrap;
}
.page-edit2 .rnr-b-editfields,
  .rnr-pagewrapper .page-edit2 .rnr-b-editfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editfields
{
text-align: right;
}
.page-edit2 .rnr-b-editfields > *,
  .rnr-pagewrapper .page-edit2 .rnr-b-editfields > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editfields > *
{

}
.page-edit2 .rnr-b-editbuttons,
  .rnr-pagewrapper .page-edit2 .rnr-b-editbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editbuttons
{
white-space: nowrap;
}
.page-edit2 .rnr-b-editbuttons,
  .rnr-pagewrapper .page-edit2 .rnr-b-editbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editbuttons
{
text-align: right;
}
.page-edit2 .rnr-b-editbuttons > *,
  .rnr-pagewrapper .page-edit2 .rnr-b-editbuttons > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editbuttons > *
{

}
.page-edit2 .rnr-c-details,
  .rnr-pagewrapper .page-edit2 .rnr-c-details,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-c-details
{
margin-bottom:5px;
}
.page-edit2 .rnr-c-details,
  .rnr-pagewrapper .page-edit2 .rnr-c-details,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-c-details
{
min-width:100px;
}
.page-edit2 .rnr-b-editdetails,
  .rnr-pagewrapper .page-edit2 .rnr-b-editdetails,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editdetails
{
white-space: nowrap;
}
.page-edit2 .rnr-b-editdetails,
  .rnr-pagewrapper .page-edit2 .rnr-b-editdetails,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editdetails
{
text-align: right;
}
.page-edit2 .rnr-b-editdetails > *,
  .rnr-pagewrapper .page-edit2 .rnr-b-editdetails > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-edit2 .rnr-b-editdetails > *
{

}
body.page-edit2 .rnr-top
{
padding-right: 5px;
}
