.preview .runner-s-hmenu > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-hmenu > * > * > .runner-row.style1 > *.runner-cc a
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-hmenu > * > * > .runner-row.style2 > *.runner-cc a
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-hmenu > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-hmenu > * > * > .runner-toprow > *.runner-cc a
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-hmenu > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-hmenu > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-hmenu > * > * > .runner-row > *.runner-cc a
{
color: #FFFF00
}
.preview .runner-s-hmenu  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-hmenu  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-hmenu > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-hmenu > * > * > .runner-row.style1 > *.runner-cc a
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-hmenu > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-hmenu > * > * > .runner-row.style2 > *.runner-cc a
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-hmenu > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-hmenu > * > * > .runner-toprow > *.runner-cc a
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-disabled-hmenu > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-hmenu > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-hmenu > * > * > .runner-row > *.runner-cc a
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-hmenu  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 498px);
}
