.RoundedOffice.rnr-s-empty > .rnr-c
{
background:none;

}
.RoundedOffice.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.RoundedOffice.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.RoundedOffice.rnr-s-empty > :not(.runner-c) > *.style1,
.RoundedOffice.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedOffice.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.RoundedOffice.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.RoundedOffice.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.RoundedOffice.rnr-s-empty > :not(.runner-c) > *.style2,
.RoundedOffice.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedOffice.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.RoundedOffice.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-empty > :not(.runner-c) > *.style3,
.RoundedOffice.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedOffice.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.RoundedOffice.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-menu > .rnr-c
{
border: solid #000000 1px;border-top-right-radius: 20px;border-top-left-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;
}
.RoundedOffice.rnr-s-menu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 19px; padding-right: 10px;
border-bottom-right-radius: 19px; padding-right: 10px;

}
.RoundedOffice.rnr-s-menu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 19px; padding-left: 10px;
border-bottom-left-radius: 19px; padding-left: 10px;

}
.RoundedOffice.rnr-s-menu > :not(.runner-c) > *.style1,
.RoundedOffice.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-color: #494949;
background: linear-gradient(0.000000turn, #A4A4A4, #494949);
;
color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-menu > .rnr-c.rnr-ch
{
background-color: #494949;
background: linear-gradient(0.000000turn, #A4A4A4, #494949);
;

}
.RoundedOffice.rnr-s-menu > :not(.runner-c) > *.style2,
.RoundedOffice.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3E3E3E;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-menu > :not(.runner-c) > *.style3,
.RoundedOffice.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #3E3E3E;color: #DCDCDC;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-s-menu > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedOffice .rnr-s-menu > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 6px 6px;
}
.RoundedOffice .rnr-s-menu > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedOffice .rnr-s-menu > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 6px 6px;
}
.RoundedOffice.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-right: 20px;
}
.RoundedOffice.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-left: 20px;
}
.RoundedOffice.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedOffice.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.RoundedOffice.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 8px 5px;
}
.RoundedOffice.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 20px; background:transparent;
}
.RoundedOffice.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 20px; background:transparent;
}
.RoundedOffice.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedOffice.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.RoundedOffice.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 7px 6px;
}
.RoundedOffice.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedOffice.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.RoundedOffice.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 7px 6px;
}
.RoundedOffice.rnr-s-hmenu > .rnr-c
{
background:none;

}
.RoundedOffice.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.RoundedOffice.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.RoundedOffice.rnr-s-hmenu > :not(.runner-c) > *.style1,
.RoundedOffice.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedOffice.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.RoundedOffice.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.RoundedOffice.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.RoundedOffice.rnr-s-hmenu > :not(.runner-c) > *.style2,
.RoundedOffice.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedOffice.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.RoundedOffice.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-hmenu > :not(.runner-c) > *.style3,
.RoundedOffice.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedOffice.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.RoundedOffice.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-undermenu > .rnr-c
{
border: solid #DCDCDC 1px;border-top-right-radius: 12px;border-top-left-radius: 12px;border-bottom-right-radius: 12px;border-bottom-left-radius: 12px;
}
.RoundedOffice.rnr-s-undermenu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 11px; padding-right: 6px;
border-bottom-right-radius: 11px; padding-right: 6px;

}
.RoundedOffice.rnr-s-undermenu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 11px; padding-left: 6px;
border-bottom-left-radius: 11px; padding-left: 6px;

}
.RoundedOffice.rnr-s-undermenu > :not(.runner-c) > *.style1,
.RoundedOffice.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #494949;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #494949;
}
.RoundedOffice.rnr-s-undermenu > :not(.runner-c) > *.style2,
.RoundedOffice.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-undermenu > :not(.runner-c) > *.style3,
.RoundedOffice.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-right: 12px;
}
.RoundedOffice.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-left: 12px;
}
.RoundedOffice.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedOffice.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.RoundedOffice.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 12px; background:transparent;
}
.RoundedOffice.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 12px; background:transparent;
}
.RoundedOffice.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedOffice.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.RoundedOffice.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedOffice.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.RoundedOffice.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-fields > .rnr-c
{
border: solid #C4B1A2 1px;border-top-right-radius: 13px;border-top-left-radius: 13px;border-bottom-right-radius: 13px;border-bottom-left-radius: 13px;
}
.RoundedOffice.rnr-s-fields > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 12px; padding-right: 6px;
border-bottom-right-radius: 12px; padding-right: 6px;

}
.RoundedOffice.rnr-s-fields > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 12px; padding-left: 6px;
border-bottom-left-radius: 12px; padding-left: 6px;

}
.RoundedOffice.rnr-s-fields > :not(.runner-c) > *.style1,
.RoundedOffice.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-fields > .rnr-c.rnr-ch
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;

}
.RoundedOffice.rnr-s-fields > :not(.runner-c) > *.style2,
.RoundedOffice.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-color: #494949;
background: linear-gradient(0.000000turn, #0F0F0F, #494949);
;
color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-fields > :not(.runner-c) > *.style3,
.RoundedOffice.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFFFF;color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-right: 13px;
}
.RoundedOffice.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-left: 13px;
}
.RoundedOffice.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedOffice.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.RoundedOffice.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 13px; background:transparent;
}
.RoundedOffice.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 13px; background:transparent;
}
.RoundedOffice.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedOffice.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.RoundedOffice.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 10px 5px;
}
.RoundedOffice.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedOffice.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.RoundedOffice.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-form > .rnr-c
{
border-top-right-radius: 18px;border-top-left-radius: 18px;border-bottom-right-radius: 18px;border-bottom-left-radius: 18px;
}
.RoundedOffice.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 18px; padding-right: 9px;
border-bottom-right-radius: 18px; padding-right: 9px;

}
.RoundedOffice.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 18px; padding-left: 9px;
border-bottom-left-radius: 18px; padding-left: 9px;

}
.RoundedOffice.rnr-s-form > :not(.runner-c) > *.style1,
.RoundedOffice.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #00CCCC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #00CCCC;
}
.RoundedOffice.rnr-s-form > :not(.runner-c) > *.style2,
.RoundedOffice.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FF9900;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-form > :not(.runner-c) > *.style3,
.RoundedOffice.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-s-form > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedOffice .rnr-s-form > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 6px 6px;
}
.RoundedOffice .rnr-s-form > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedOffice .rnr-s-form > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 6px 6px;
}
.RoundedOffice.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-right: 18px;
}
.RoundedOffice.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-left: 18px;
}
.RoundedOffice.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedOffice.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.RoundedOffice.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedOffice.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedOffice.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedOffice.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.RoundedOffice.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedOffice.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.RoundedOffice.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-1 > .rnr-c
{
border-top-right-radius: 14px;border-top-left-radius: 14px;border-bottom-right-radius: 14px;border-bottom-left-radius: 14px;
}
.RoundedOffice.rnr-s-1 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 14px; padding-right: 7px;
border-bottom-right-radius: 14px; padding-right: 7px;

}
.RoundedOffice.rnr-s-1 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 14px; padding-left: 7px;
border-bottom-left-radius: 14px; padding-left: 7px;

}
.RoundedOffice.rnr-s-1 > :not(.runner-c) > *.style1,
.RoundedOffice.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #494949;
background: linear-gradient(0.000000turn, #E1E1E1, #494949);
;
color: #DCDCDC;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-1 > .rnr-c.rnr-ch
{
background-color: #494949;
background: linear-gradient(0.000000turn, #E1E1E1, #494949);
;

}
.RoundedOffice.rnr-s-1 > :not(.runner-c) > *.style2,
.RoundedOffice.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #494949;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-1 > :not(.runner-c) > *.style3,
.RoundedOffice.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #494949;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-s-1 > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedOffice .rnr-s-1 > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 5px 5px;
}
.RoundedOffice .rnr-s-1 > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedOffice .rnr-s-1 > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 5px 5px;
}
.RoundedOffice.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-right: 14px;
}
.RoundedOffice.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-left: 14px;
}
.RoundedOffice.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedOffice.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.RoundedOffice.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 14px; background:transparent;
}
.RoundedOffice.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 14px; background:transparent;
}
.RoundedOffice.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedOffice.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.RoundedOffice.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedOffice.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.RoundedOffice.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.RoundedOffice.rnr-s-2 > .rnr-c
{
border: solid #C4B1A2 1px;border-top-right-radius: 18px;border-top-left-radius: 18px;border-bottom-right-radius: 18px;border-bottom-left-radius: 18px;
}
.RoundedOffice.rnr-s-2 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 17px; padding-right: 9px;
border-bottom-right-radius: 17px; padding-right: 9px;

}
.RoundedOffice.rnr-s-2 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 17px; padding-left: 9px;
border-bottom-left-radius: 17px; padding-left: 9px;

}
.RoundedOffice.rnr-s-2 > :not(.runner-c) > *.style1,
.RoundedOffice.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #F2F2F2;
background: linear-gradient(0.000000turn, #F8F8F8, #F2F2F2);
;
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-2 > .rnr-c.rnr-ch
{
background-color: #F2F2F2;
background: linear-gradient(0.000000turn, #F8F8F8, #F2F2F2);
;

}
.RoundedOffice.rnr-s-2 > :not(.runner-c) > *.style2,
.RoundedOffice.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #EDF1F3;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-2 > :not(.runner-c) > *.style3,
.RoundedOffice.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-s-2 > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedOffice .rnr-s-2 > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 6px 6px;
}
.RoundedOffice .rnr-s-2 > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedOffice .rnr-s-2 > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 6px 6px;
}
.RoundedOffice.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-right: 18px;
}
.RoundedOffice.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-left: 18px;
}
.RoundedOffice.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedOffice.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.RoundedOffice.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedOffice.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedOffice.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedOffice.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.RoundedOffice.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedOffice.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.RoundedOffice.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-3 > .rnr-c
{
border-top-right-radius: 18px;border-top-left-radius: 18px;border-bottom-right-radius: 18px;border-bottom-left-radius: 18px;
}
.RoundedOffice.rnr-s-3 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 18px; padding-right: 9px;
border-bottom-right-radius: 18px; padding-right: 9px;

}
.RoundedOffice.rnr-s-3 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 18px; padding-left: 9px;
border-bottom-left-radius: 18px; padding-left: 9px;

}
.RoundedOffice.rnr-s-3 > :not(.runner-c) > *.style1,
.RoundedOffice.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #494949;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #494949;
}
.RoundedOffice.rnr-s-3 > :not(.runner-c) > *.style2,
.RoundedOffice.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #000080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.rnr-s-3 > :not(.runner-c) > *.style3,
.RoundedOffice.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FF9900;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-s-3 > .rnr-c > .rnr-b-vmenu.tree.main > * > * > div ,
.RoundedOffice .rnr-s-3 > .rnr-c > .rnr-b-vmenu.simple.main > * > * > div 
{
padding: 6px 6px;
}
.RoundedOffice .rnr-s-3 > .rnr-c > .rnr-b-vmenu.tree.second > * > * > div ,
.RoundedOffice .rnr-s-3 > .rnr-c > .rnr-b-vmenu.simple.second > * > * > div 
{
padding: 6px 6px;
}
.RoundedOffice.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-right: 18px;
}
.RoundedOffice.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-left: 18px;
}
.RoundedOffice.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.RoundedOffice.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.RoundedOffice.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedOffice.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 18px; background:transparent;
}
.RoundedOffice.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.RoundedOffice.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.RoundedOffice.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.RoundedOffice.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.RoundedOffice.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 6px 5px;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #C4B1A2 1px;

}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #C4B1A2 1px;

}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-right: solid #C4B1A2 1px;

}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-left: solid #C4B1A2 1px;

}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:first-child,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:first-child,
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:first-child,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:first-child,
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + td,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + td,
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + th,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + th
{
border-top-right-radius: 4px;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:first-child,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:first-child,
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > th:first-child,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > th:first-child,
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + td,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + td,
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + th,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + th
{
border-bottom-right-radius: 4px;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > .rnr-edge,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > .rnr-edge
{
border-top-left-radius: 4px;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > .rnr-edge,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > .rnr-edge
{
border-bottom-left-radius: 4px;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > * > .rnr-edge,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > * > .rnr-edge
{
min-width: 4px;

}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #FFCD9B;
background: linear-gradient(0.000000turn, #FFE6CD, #FFCD9B);
;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #070400;padding: 5px 7px;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #FFCD9B; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #070400;padding: 5px 4px;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #EDF1F3; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;color: #333333;padding: 5px 4px;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;color: #333333;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #FFCD9B; background-image: none;color: #333333;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #FFCD9B; background-image: none;color: #333333;
}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > thead > tr:last-child > th:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > thead > tr:last-child > th:not(.rnr-cs)
{
border-bottom: solid #C4B1A2 1px;

}
.RoundedOffice.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs),
.RoundedOffice.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs)
{
border-top: solid #C4B1A2 1px;

}
.RoundedOffice .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.RoundedOffice .rnr-b-vmenu.simple.main > *,
.RoundedOffice .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-color: #494949;
background: linear-gradient(0.000000turn, #2B2B2B, #494949);
;
color:#FBFAE8;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.main > * > hr,
.RoundedOffice .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#FBFAE8;
}
.RoundedOffice .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.RoundedOffice .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-color: #3E3E3E;
background: linear-gradient(0.000000turn, #242424, #3E3E3E);
;
color:#FE4F29;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.main > *.current.current.current,
.RoundedOffice .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-color: #3E3E3E;
background: linear-gradient(0.000000turn, #242424, #3E3E3E);
;
color:#FE4F29;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-color: #3E3E3E;
background: linear-gradient(0.000000turn, #242424, #3E3E3E);
;
color:#FE4F29;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.main > * > ul li,
.RoundedOffice .rnr-b-vmenu.tree.main > *.subitem
{
background-color: #2C2D2D;
background: linear-gradient(0.000000turn, #222323, #2C2D2D);
;
color:#979696;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.main > * > ul li > hr,
.RoundedOffice .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#979696;
}
.RoundedOffice .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.RoundedOffice .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-color: #2C2D2D;
background: linear-gradient(0.000000turn, #222323, #2C2D2D);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.RoundedOffice .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-color: #2C2D2D;
background: linear-gradient(0.000000turn, #222323, #2C2D2D);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-color: #2C2D2D;
background: linear-gradient(0.000000turn, #222323, #2C2D2D);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 3px 3px; margin:1px 1px;
}
.RoundedOffice .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 3px 3px; margin:1px 1px;
}
.RoundedOffice .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 4px 6px; margin:1px 3px;
}
.RoundedOffice .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 4px 6px; margin:1px 3px;
}
.RoundedOffice .rnr-b-vmenu.simple.main >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedOffice .rnr-b-vmenu.simple.second > *,
.RoundedOffice .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #888888, #E8E8E8);
;
color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.second > * > hr,
.RoundedOffice .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#353535;
}
.RoundedOffice .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.RoundedOffice .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-color: #F1F1F1;
background: linear-gradient(0.000000turn, #8E8E8E, #F1F1F1);
;
color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.second > *.current.current.current,
.RoundedOffice .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-color: #004080;
background: linear-gradient(0.000000turn, #00254B, #004080);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-color: #F1F1F1;
background: linear-gradient(0.000000turn, #8E8E8E, #F1F1F1);
;
color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.second > * > ul li,
.RoundedOffice .rnr-b-vmenu.tree.second > *.subitem
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #B7B7B7, #E8E8E8);
;
color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.second > * > ul li > hr,
.RoundedOffice .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#353535;
}
.RoundedOffice .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.RoundedOffice .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-color: #F1F1F1;
background: linear-gradient(0.000000turn, #BEBEBE, #F1F1F1);
;
color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.RoundedOffice .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-color: #004080;
background: linear-gradient(0.000000turn, #003265, #004080);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-color: #F1F1F1;
background: linear-gradient(0.000000turn, #BEBEBE, #F1F1F1);
;
color:#353535;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 3px 3px; margin:1px 1px;
}
.RoundedOffice .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 3px 3px; margin:1px 1px;
}
.RoundedOffice .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 4px 6px; margin:1px 3px;
}
.RoundedOffice .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 4px 6px; margin:1px 3px;
}
.RoundedOffice .rnr-b-vmenu.simple.second >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedOffice .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background-color: #494949;
background: linear-gradient(0.000000turn, #303030, #494949);
;
color:#FBFAE8;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 6px 5px;border-top-right-radius: 16px;border-top-left-radius: 16px;border: solid #2B2A2A 1px;
}
.RoundedOffice .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#FBFAE8;
}
.RoundedOffice .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-color: #3E3E3E;
background: linear-gradient(0.000000turn, #282828, #3E3E3E);
;
color:#FE4F29;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background-color: #3E3E3E;
background: linear-gradient(0.000000turn, #282828, #3E3E3E);
;
color:#FE4F29;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background-color: #3E3E3E;
background: linear-gradient(0.000000turn, #282828, #3E3E3E);
;
color:#FE4F29;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #2C2D2D;color:#979696;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.main > ul li > hr
{
border-color:#979696;
}
.RoundedOffice .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #2C2D2D;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #2C2D2D;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #2C2D2D;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.main > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.RoundedOffice .rnr-b-hmenu.main ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedOffice .rnr-b-hmenu.main.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
.RoundedOffice .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background-color: #E8E8E8;
background: linear-gradient(0.000000turn, #999999, #E8E8E8);
;
color:#6F6F6F;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 6px 5px;border-top-right-radius: 16px;border-top-left-radius: 16px;border: solid #004080 1px;
}
.RoundedOffice .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#6F6F6F;
}
.RoundedOffice .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-color: #F2F2F2;
background: linear-gradient(0.000000turn, #9F9F9F, #F2F2F2);
;
color:#6F6F6F;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background-color: #004080;
background: linear-gradient(0.000000turn, #002A54, #004080);
;
color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background-color: #F2F2F2;
background: linear-gradient(0.000000turn, #9F9F9F, #F2F2F2);
;
color:#6F6F6F;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #E8E8E8;color:#000080;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.second > ul li > hr
{
border-color:#000080;
}
.RoundedOffice .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #004080;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #F6F6F6;color:#0000FF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.RoundedOffice .rnr-b-hmenu.second > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.RoundedOffice .rnr-b-hmenu.second ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedOffice .rnr-b-hmenu.second.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
body.RoundedOffice
{

background-color:#E6E6E6;
}
.RoundedOffice .rnr-list
{
color: #404040;background-color: #F2F2F2;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.RoundedOffice .rnr-tab.selected
{
background-color:#494949;
border-top-right-radius:4px;
border-top-left-radius:4px;

}
.RoundedOffice .rnr-tab
{
background-color:#C0C0C0;
border-top-right-radius:4px;
border-top-left-radius:4px;
border: solid #000000 1px; border-bottom-width:0;
}
.RoundedOffice .rnr-tab.selected > a
{
color: #FFFFFF;

}
.RoundedOffice .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .yui-navset .yui-content
{
border: solid #494949 1px;border-top-width: 5px;
}
.RoundedOffice .rnr-stepnav > a.active,
.RoundedOffice .rnr-stepnav > a:hover:not(.active),
.RoundedOffice .rnr-stepnav > a.active:after,
.RoundedOffice .rnr-stepnav > a:hover:not(.active):after
{
background-image: none; background-color: #C9C9C9;

}
.RoundedOffice .rnr-stepnav > a:not(.active),
.RoundedOffice .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #333333;

}
.RoundedOffice .rnr-stepnav > a:before
{
background-image: none; background: #DCDCDC;

}
.RoundedOffice .rnr-stepnav > a.active,
.RoundedOffice .rnr-stepnav > a:hover:not(.active)
{
color: #393939;

}
.RoundedOffice .rnr-stepnav > a:not(.active)
{
color: #FFFFFF;

}
.RoundedOffice .rnr-stepnav > a:before 
{
color: #CE1F00;

}
.RoundedOffice .rnr-stepnav > a,
 .rnr-pagewrapper .RoundedOffice .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .rnr-stepnav > a
{
font-family: Verdana, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice  .rnr-message
{
background-color: #F3EBDE;border:none;color: #393939;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .yui3-panel-content.yui3-panel-content
{
border-radius: 14px;
}
.RoundedOffice  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #494949; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.RoundedOffice  .yui3-widget-ft
{
background-color: #494949;
background: linear-gradient(0.000000turn, #0F0F0F, #494949);
;
font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.RoundedOffice .rnr-dbbordered
{
border-radius: 14px;
}
.RoundedOffice  .rnr-dbelemheader
{
background-color: #494949; background-image: none;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.RoundedOffice  .rnr-dbelemfooter
{
background-color: #D8D8D8;
background: linear-gradient(0.000000turn, #2D2D2D, #D8D8D8);
;
font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.RoundedOffice  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;color: #4C4951;
}
.RoundedOffice .rnr-dashboard
{
background-color: #FFFFFF;
}
.RoundedOffice .rnr-button.rnr-button,
.RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.RoundedOffice .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedOffice .rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 10px;padding: 3px 10px 3px;background-image: none; background-color: #C9C9C9;
border-color: #696969;color: #393939;
font-family: Verdana, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .rnr-button.rnr-button.img,
.RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.RoundedOffice .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedOffice .rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.RoundedOffice .rnr-button:hover,
.RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.RoundedOffice .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .RoundedOffice .rnr-button:hover,
 .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button:hover
{
background-image: none; background-color: #DCDCDC;
border-color: #CE1F00;color: #CE1F00;

}
.RoundedOffice .rnr-button:active,
.RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.RoundedOffice .button.button.button.rnr-button:active,
 .rnr-pagewrapper .RoundedOffice .rnr-button:active,
 .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button:active
{
background-image: none; background-color: #DDDDDD;
border-color: #696969;color: #808080;

}
.RoundedOffice .rnr-button.disabled,
.RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.RoundedOffice .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .RoundedOffice .rnr-button.disabled,
 .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .button.button.button.rnr-button.disabled
{
background-image: none; background-color: #333333;
border-color: #FE4F29;color: #FFFFFF;

}
.RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.RoundedOffice .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.RoundedOffice .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.RoundedOffice .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button:hover
{
color: #FE4F29;

}
.RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.RoundedOffice .link.link.link.rnr-button:active,
 .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button:active
{
color: #F66C13;

}
.RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.RoundedOffice .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .link.link.link.rnr-button.disabled
{
color: #404040;

}
.RoundedOffice .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button.rnr-button
{
border: solid 1px;border-radius: 10px;padding: 3px 10px 3px;background-image: none; background-color: #FE6F49;
border-color: #393939;color: #393939;
font-family: Verdana, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.RoundedOffice .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.RoundedOffice .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button:hover
{
background-image: none; background-color: #DCDCDC;
border-color: #CE1F00;color: #CE1F00;

}
.RoundedOffice .main.main.main.rnr-button:active,
 .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button:active
{
background-image: none; background-color: #DDDDDD;
border-color: #696969;color: #808080;

}
.RoundedOffice .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .RoundedOffice .main.main.main.rnr-button.disabled
{
background-image: none; background-color: #333333;
border-color: #FE4F29;color: #FFFFFF;

}
