.preview .runner-s-1 > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #404040
}
.preview .runner-s-1 > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-row.style1 > *.runner-cc a
{
color: #404040
}
.preview .runner-s-1 > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #696969
}
.preview .runner-s-1 > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-row.style2 > *.runner-cc a
{
color: #696969
}
.preview .runner-s-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-1 > * > * > .runner-toprow > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-toprow > *.runner-cc a.alt
{
color: #D1EEEE
}
.preview .runner-s-1 > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-1 > * > * > .runner-row > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-1 > * > * > .runner-row > *.runner-cc a.alt
{
color: #D1EEEE
}
.preview .runner-s-1  .runner-btnright,
.preview  .runner-wrapper .runner-s-1  .runner-btnright
{
clip:rect(auto auto auto 490px);
}
.preview .runner-s-disabled-1 > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-1 > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-row.style1 > *.runner-cc a
{
color: #B7B7B7
}
.preview .runner-s-disabled-1 > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #C3C3C3
}
.preview .runner-s-disabled-1 > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-row.style2 > *.runner-cc a
{
color: #C3C3C3
}
.preview .runner-s-disabled-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-disabled-1 > * > * > .runner-toprow > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-toprow > *.runner-cc a.alt
{
color: #E8E8E8
}
.preview .runner-s-disabled-1 > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-disabled-1 > * > * > .runner-row > *.runner-cc a.alt,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-1 > * > * > .runner-row > *.runner-cc a.alt
{
color: #E8E8E8
}
.preview .runner-s-disabled-1  .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-1  .runner-btnright
{
clip:rect(auto auto auto 490px);
}
