<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel findaride masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$Username_class}">{$label findaride Username}</th>
			<th class="{$id_class}">{$label findaride id}</th>
			<th class="{$FromLocation_class}">{$label findaride FromLocation}</th>
			<th class="{$ToLocation_class}">{$label findaride ToLocation}</th>
			<th class="{$DisplayRoute_class}">{$label findaride DisplayRoute}</th>
			<th class="{$FromDate_class}">{$label findaride FromDate}</th>
			<th class="{$ToDate_class}">{$label findaride ToDate}</th>
			<th class="{$TransportWhat_class}">{$label findaride TransportWhat}</th>
			<th class="{$TransportOfWhatPicture_class}">{$label findaride TransportOfWhatPicture}</th>
			<th class="{$TypeOfTransport_class}">{$label findaride TypeOfTransport}</th>
			<th class="{$Tons_class}">{$label findaride Tons}</th>
			<th class="{$WillingToPayPerDay_class}">{$label findaride WillingToPayPerDay}</th>
			<th class="{$CubicMeters_class}">{$label findaride CubicMeters}</th>
			<th class="{$WillingToPayPerHalfDay_class}">{$label findaride WillingToPayPerHalfDay}</th>
			<th class="{$WillingToPayPerTon_class}">{$label findaride WillingToPayPerTon}</th>
			<th class="{$WillingToPayCoverCharge_class}">{$label findaride WillingToPayCoverCharge}</th>
			<th class="{$WillingToPayPerCubicMeterPerKm_class}">{$label findaride WillingToPayPerCubicMeterPerKm}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$Username_class}">{$Username_mastervalue}</td>
			<td class="{$id_class}">{$id_mastervalue}</td>
			<td class="{$FromLocation_class}">{$FromLocation_mastervalue}</td>
			<td class="{$ToLocation_class}">{$ToLocation_mastervalue}</td>
			<td class="{$DisplayRoute_class}">{$DisplayRoute_mastervalue}</td>
			<td class="{$FromDate_class}">{$FromDate_mastervalue}</td>
			<td class="{$ToDate_class}">{$ToDate_mastervalue}</td>
			<td class="{$TransportWhat_class}">{$TransportWhat_mastervalue}</td>
			<td class="{$TransportOfWhatPicture_class}">{$TransportOfWhatPicture_mastervalue}</td>
			<td class="{$TypeOfTransport_class}">{$TypeOfTransport_mastervalue}</td>
			<td class="{$Tons_class}">{$Tons_mastervalue}</td>
			<td class="{$WillingToPayPerDay_class}">{$WillingToPayPerDay_mastervalue}</td>
			<td class="{$CubicMeters_class}">{$CubicMeters_mastervalue}</td>
			<td class="{$WillingToPayPerHalfDay_class}">{$WillingToPayPerHalfDay_mastervalue}</td>
			<td class="{$WillingToPayPerTon_class}">{$WillingToPayPerTon_mastervalue}</td>
			<td class="{$WillingToPayCoverCharge_class}">{$WillingToPayCoverCharge_mastervalue}</td>
			<td class="{$WillingToPayPerCubicMeterPerKm_class}">{$WillingToPayPerCubicMeterPerKm_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>