<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}



{BEGIN container_master}
<div class="rnr-c rnr-ch rnr-c-master">

{BEGIN mastertable_block}
<div  class="style1 rnr-bl rnr-b-masterinfoprint {$brickclass_masterinfoprint}">{$showmasterfile}
</div>
{END mastertable_block}

<div class="rnr-hfiller"></div>
</div>
{END container_master}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">

{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel findaridemessages print}</h1>
</div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN ID_fieldheadercolumn}
<th class="runner-cc {$ID_class}" {$ID_style}>
	{BEGIN ID_fieldheader}
	<b>{$label findaridemessages ID}</b>
	{END ID_fieldheader}
</th>
{END ID_fieldheadercolumn}
	{BEGIN FindARideID_fieldheadercolumn}
<th class="runner-cc {$FindARideID_class}" {$FindARideID_style}>
	{BEGIN FindARideID_fieldheader}
	<b>{$label findaridemessages FindARideID}</b>
	{END FindARideID_fieldheader}
</th>
{END FindARideID_fieldheadercolumn}
	{BEGIN Date_fieldheadercolumn}
<th class="runner-cc {$Date_class}" {$Date_style}>
	{BEGIN Date_fieldheader}
	<b>{$label findaridemessages Date}</b>
	{END Date_fieldheader}
</th>
{END Date_fieldheadercolumn}
	{BEGIN FromUsername_fieldheadercolumn}
<th class="runner-cc {$FromUsername_class}" {$FromUsername_style}>
	{BEGIN FromUsername_fieldheader}
	<b>{$label findaridemessages FromUsername}</b>
	{END FromUsername_fieldheader}
</th>
{END FromUsername_fieldheadercolumn}
	{BEGIN ToUsername_fieldheadercolumn}
<th class="runner-cc {$ToUsername_class}" {$ToUsername_style}>
	{BEGIN ToUsername_fieldheader}
	<b>{$label findaridemessages ToUsername}</b>
	{END ToUsername_fieldheader}
</th>
{END ToUsername_fieldheadercolumn}
	{BEGIN Message_fieldheadercolumn}
<th class="runner-cc {$Message_class}" {$Message_style}>
	{BEGIN Message_fieldheader}
	<b>{$label findaridemessages Message}</b>
	{END Message_fieldheader}
</th>
{END Message_fieldheadercolumn}
	{BEGIN SentOrReceived_fieldheadercolumn}
<th class="runner-cc {$SentOrReceived_class}" {$SentOrReceived_style}>
	{BEGIN SentOrReceived_fieldheader}
	<b>{$label findaridemessages SentOrReceived}</b>
	{END SentOrReceived_fieldheader}
</th>
{END SentOrReceived_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN ID_fieldcolumn}
<td  class="runner-cc {$ID_class}" {$ID_style} {$recordattrs}>
	{$ID_value}
</td>
{END ID_fieldcolumn}
	{BEGIN FindARideID_fieldcolumn}
<td  class="runner-cc {$FindARideID_class}" {$FindARideID_style} {$recordattrs}>
	{$FindARideID_value}
</td>
{END FindARideID_fieldcolumn}
	{BEGIN Date_fieldcolumn}
<td  class="runner-cc {$Date_class}" {$Date_style} {$recordattrs}>
	{$Date_value}
</td>
{END Date_fieldcolumn}
	{BEGIN FromUsername_fieldcolumn}
<td  class="runner-cc {$FromUsername_class}" {$FromUsername_style} {$recordattrs}>
	{$FromUsername_value}
</td>
{END FromUsername_fieldcolumn}
	{BEGIN ToUsername_fieldcolumn}
<td  class="runner-cc {$ToUsername_class}" {$ToUsername_style} {$recordattrs}>
	{$ToUsername_value}
</td>
{END ToUsername_fieldcolumn}
	{BEGIN Message_fieldcolumn}
<td  class="runner-cc {$Message_class}" {$Message_style} {$recordattrs}>
	{$Message_value}
</td>
{END Message_fieldcolumn}
	{BEGIN SentOrReceived_fieldcolumn}
<td  class="runner-cc {$SentOrReceived_class}" {$SentOrReceived_style} {$recordattrs}>
	{$SentOrReceived_value}
</td>
{END SentOrReceived_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
	{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
