<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_search}
<div class="rnr-c rnr-cv rnr-c-search">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel findaridemessages search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_ID}">
	{BEGIN ID_fieldblock}		
	<td>
		{$label findaridemessages ID}
	</td>
	<td>
		<input type="checkbox" {$ID_notbox}>
	</td>
	<td>
		{$searchtype_ID}
	</td>
	<td>
		{$ID_editcontrol}&nbsp;
	</td>
	<td>
		{$ID_editcontrol1}&nbsp;
	</td>
{END ID_fieldblock}
	</tr>
	<tr class="{$fielddispclass_FindARideID}">
	{BEGIN FindARideID_fieldblock}		
	<td>
		{$label findaridemessages FindARideID}
	</td>
	<td>
		<input type="checkbox" {$FindARideID_notbox}>
	</td>
	<td>
		{$searchtype_FindARideID}
	</td>
	<td>
		{$FindARideID_editcontrol}&nbsp;
	</td>
	<td>
		{$FindARideID_editcontrol1}&nbsp;
	</td>
{END FindARideID_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Date}">
	{BEGIN Date_fieldblock}		
	<td>
		{$label findaridemessages Date}
	</td>
	<td>
		<input type="checkbox" {$Date_notbox}>
	</td>
	<td>
		{$searchtype_Date}
	</td>
	<td>
		{$Date_editcontrol}&nbsp;
	</td>
	<td>
		{$Date_editcontrol1}&nbsp;
	</td>
{END Date_fieldblock}
	</tr>
	<tr class="{$fielddispclass_FromUsername}">
	{BEGIN FromUsername_fieldblock}		
	<td>
		{$label findaridemessages FromUsername}
	</td>
	<td>
		<input type="checkbox" {$FromUsername_notbox}>
	</td>
	<td>
		{$searchtype_FromUsername}
	</td>
	<td>
		{$FromUsername_editcontrol}&nbsp;
	</td>
	<td>
		{$FromUsername_editcontrol1}&nbsp;
	</td>
{END FromUsername_fieldblock}
	</tr>
	<tr class="{$fielddispclass_ToUsername}">
	{BEGIN ToUsername_fieldblock}		
	<td>
		{$label findaridemessages ToUsername}
	</td>
	<td>
		<input type="checkbox" {$ToUsername_notbox}>
	</td>
	<td>
		{$searchtype_ToUsername}
	</td>
	<td>
		{$ToUsername_editcontrol}&nbsp;
	</td>
	<td>
		{$ToUsername_editcontrol1}&nbsp;
	</td>
{END ToUsername_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Message}">
	{BEGIN Message_fieldblock}		
	<td>
		{$label findaridemessages Message}
	</td>
	<td>
		<input type="checkbox" {$Message_notbox}>
	</td>
	<td>
		{$searchtype_Message}
	</td>
	<td>
		{$Message_editcontrol}&nbsp;
	</td>
	<td>
		{$Message_editcontrol1}&nbsp;
	</td>
{END Message_fieldblock}
	</tr>
	<tr class="{$fielddispclass_SentOrReceived}">
	{BEGIN SentOrReceived_fieldblock}		
	<td>
		{$label findaridemessages SentOrReceived}
	</td>
	<td>
		<input type="checkbox" {$SentOrReceived_notbox}>
	</td>
	<td>
		{$searchtype_SentOrReceived}
	</td>
	<td>
		{$SentOrReceived_editcontrol}&nbsp;
	</td>
	<td>
		{$SentOrReceived_editcontrol1}&nbsp;
	</td>
{END SentOrReceived_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_search}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
