<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel lookups edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN Type_fieldblock}
<tr class="{$fielddispclass_Type}" data-fieldname="Type">
	<td class="rnr-label">
		{BEGIN Type_label}{$label lookups Type}{END Type_label}
	</td>
	<td class="rnr-control style3">
		{$Type_editcontrol}&nbsp;
	</td>
</tr>
{END Type_fieldblock}
	{BEGIN SubType_fieldblock}
<tr class="{$fielddispclass_SubType}" data-fieldname="SubType">
	<td class="rnr-label">
		{BEGIN SubType_label}{$label lookups SubType}{END SubType_label}
	</td>
	<td class="rnr-control style3">
		{$SubType_editcontrol}&nbsp;
	</td>
</tr>
{END SubType_fieldblock}
	{BEGIN Value_fieldblock}
<tr class="{$fielddispclass_Value}" data-fieldname="Value">
	<td class="rnr-label">
		{BEGIN Value_label}{$label lookups Value}{END Value_label}
	</td>
	<td class="rnr-control style3">
		{$Value_editcontrol}&nbsp;
	</td>
</tr>
{END Value_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
