<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Date">
	{$Date_editcontrol}
	</control>
	<control field="SentOrReceived">
	{$SentOrReceived_editcontrol}
	</control>
	<control field="OfferARideID">
	{$OfferARideID_editcontrol}
	</control>
	<control field="FromUsername">
	{$FromUsername_editcontrol}
	</control>
	<control field="ToUsername">
	{$ToUsername_editcontrol}
	</control>
	<control field="Message">
	{$Message_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>