<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_main} rnr-wrapper rnr-cbw-main">

{BEGIN container_main}
<div class="rnr-c rnr-cv rnr-c-main">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_master} rnr-wrapper rnr-cbw-master">

{BEGIN container_master}
<div class="rnr-c rnr-ch rnr-c-master">

{BEGIN mastertable_block}
<div  class="style1 rnr-bl rnr-b-masterinfo {$brickclass_masterinfo}">{$showmasterfile}
<a class="runner-link" {$backtomasterlink_attrs}>
	<b>Back to {$backtomasterlink_caption}</b>
</a></div>
{END mastertable_block}

<div class="rnr-hfiller"></div>
</div>
{END container_master}

</div>



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel offeraridemessages view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields {$brickclass_viewfields}"><table class="fieldGrid">
	{BEGIN SentOrReceived_fieldblock}
<tr class="{$fielddispclass_SentOrReceived}" data-fieldname="SentOrReceived">
	<td class="rnr-label">
		{$label offeraridemessages SentOrReceived}
	</td>
	<td class="rnr-control style3">
		{$SentOrReceived_value}&nbsp;
	</td>
</tr>
{END SentOrReceived_fieldblock}
	{BEGIN Date_fieldblock}
<tr class="{$fielddispclass_Date}" data-fieldname="Date">
	<td class="rnr-label">
		{$label offeraridemessages Date}
	</td>
	<td class="rnr-control style3">
		{$Date_value}&nbsp;
	</td>
</tr>
{END Date_fieldblock}
	{BEGIN ID_fieldblock}
<tr class="{$fielddispclass_ID}" data-fieldname="ID">
	<td class="rnr-label">
		{$label offeraridemessages ID}
	</td>
	<td class="rnr-control style3">
		{$ID_value}&nbsp;
	</td>
</tr>
{END ID_fieldblock}
	{BEGIN OfferARideID_fieldblock}
<tr class="{$fielddispclass_OfferARideID}" data-fieldname="OfferARideID">
	<td class="rnr-label">
		{$label offeraridemessages OfferARideID}
	</td>
	<td class="rnr-control style3">
		{$OfferARideID_value}&nbsp;
	</td>
</tr>
{END OfferARideID_fieldblock}
	{BEGIN FromUsername_fieldblock}
<tr class="{$fielddispclass_FromUsername}" data-fieldname="FromUsername">
	<td class="rnr-label">
		{$label offeraridemessages FromUsername}
	</td>
	<td class="rnr-control style3">
		{$FromUsername_value}&nbsp;
	</td>
</tr>
{END FromUsername_fieldblock}
	{BEGIN ToUsername_fieldblock}
<tr class="{$fielddispclass_ToUsername}" data-fieldname="ToUsername">
	<td class="rnr-label">
		{$label offeraridemessages ToUsername}
	</td>
	<td class="rnr-control style3">
		{$ToUsername_value}&nbsp;
	</td>
</tr>
{END ToUsername_fieldblock}
	{BEGIN Message_fieldblock}
<tr class="{$fielddispclass_Message}" data-fieldname="Message">
	<td class="rnr-label">
		{$label offeraridemessages Message}
	</td>
	<td class="rnr-control style3">
		{$Message_value}&nbsp;
	</td>
</tr>
{END Message_fieldblock}
</table></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_view}

</div>


</div>
{END container_main}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
