<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">

{BEGIN printheader}
<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel users print}</h1>
</div>{END printheader}


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Page <span class="rp-pageno">{$pageno}</span> of <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN ID_fieldheadercolumn}
<th class="runner-cc {$ID_class}" {$ID_style}>
	{BEGIN ID_fieldheader}
	<b>{$label users ID}</b>
	{END ID_fieldheader}
</th>
{END ID_fieldheadercolumn}
	{BEGIN Username_fieldheadercolumn}
<th class="runner-cc {$Username_class}" {$Username_style}>
	{BEGIN Username_fieldheader}
	<b>{$label users Username}</b>
	{END Username_fieldheader}
</th>
{END Username_fieldheadercolumn}
	{BEGIN Password_fieldheadercolumn}
<th class="runner-cc {$Password_class}" {$Password_style}>
	{BEGIN Password_fieldheader}
	<b>{$label users Password}</b>
	{END Password_fieldheader}
</th>
{END Password_fieldheadercolumn}
	{BEGIN Active_fieldheadercolumn}
<th class="runner-cc {$Active_class}" {$Active_style}>
	{BEGIN Active_fieldheader}
	<b>{$label users Active}</b>
	{END Active_fieldheader}
</th>
{END Active_fieldheadercolumn}
	{BEGIN Email_fieldheadercolumn}
<th class="runner-cc {$Email_class}" {$Email_style}>
	{BEGIN Email_fieldheader}
	<b>{$label users Email}</b>
	{END Email_fieldheader}
</th>
{END Email_fieldheadercolumn}
	{BEGIN Mobile_fieldheadercolumn}
<th class="runner-cc {$Mobile_class}" {$Mobile_style}>
	{BEGIN Mobile_fieldheader}
	<b>{$label users Mobile}</b>
	{END Mobile_fieldheader}
</th>
{END Mobile_fieldheadercolumn}
	{BEGIN UserType_fieldheadercolumn}
<th class="runner-cc {$UserType_class}" {$UserType_style}>
	{BEGIN UserType_fieldheader}
	<b>{$label users UserType}</b>
	{END UserType_fieldheader}
</th>
{END UserType_fieldheadercolumn}
	{BEGIN Address_fieldheadercolumn}
<th class="runner-cc {$Address_class}" {$Address_style}>
	{BEGIN Address_fieldheader}
	<b>{$label users Address}</b>
	{END Address_fieldheader}
</th>
{END Address_fieldheadercolumn}
	{BEGIN CurrentLocation_fieldheadercolumn}
<th class="runner-cc {$CurrentLocation_class}" {$CurrentLocation_style}>
	{BEGIN CurrentLocation_fieldheader}
	<b>{$label users CurrentLocation}</b>
	{END CurrentLocation_fieldheader}
</th>
{END CurrentLocation_fieldheadercolumn}
	{BEGIN Fullname_fieldheadercolumn}
<th class="runner-cc {$Fullname_class}" {$Fullname_style}>
	{BEGIN Fullname_fieldheader}
	<b>{$label users Fullname}</b>
	{END Fullname_fieldheader}
</th>
{END Fullname_fieldheadercolumn}
	{BEGIN DateOfBirth_fieldheadercolumn}
<th class="runner-cc {$DateOfBirth_class}" {$DateOfBirth_style}>
	{BEGIN DateOfBirth_fieldheader}
	<b>{$label users DateOfBirth}</b>
	{END DateOfBirth_fieldheader}
</th>
{END DateOfBirth_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN ID_fieldcolumn}
<td  class="runner-cc {$ID_class}" {$ID_style} {$recordattrs}>
	{$ID_value}
</td>
{END ID_fieldcolumn}
	{BEGIN Username_fieldcolumn}
<td  class="runner-cc {$Username_class}" {$Username_style} {$recordattrs}>
	{$Username_value}
</td>
{END Username_fieldcolumn}
	{BEGIN Password_fieldcolumn}
<td  class="runner-cc {$Password_class}" {$Password_style} {$recordattrs}>
	{$Password_value}
</td>
{END Password_fieldcolumn}
	{BEGIN Active_fieldcolumn}
<td  class="runner-cc {$Active_class}" {$Active_style} {$recordattrs}>
	{$Active_value}
</td>
{END Active_fieldcolumn}
	{BEGIN Email_fieldcolumn}
<td  class="runner-cc {$Email_class}" {$Email_style} {$recordattrs}>
	{$Email_value}
</td>
{END Email_fieldcolumn}
	{BEGIN Mobile_fieldcolumn}
<td  class="runner-cc {$Mobile_class}" {$Mobile_style} {$recordattrs}>
	{$Mobile_value}
</td>
{END Mobile_fieldcolumn}
	{BEGIN UserType_fieldcolumn}
<td  class="runner-cc {$UserType_class}" {$UserType_style} {$recordattrs}>
	{$UserType_value}
</td>
{END UserType_fieldcolumn}
	{BEGIN Address_fieldcolumn}
<td  class="runner-cc {$Address_class}" {$Address_style} {$recordattrs}>
	{$Address_value}
</td>
{END Address_fieldcolumn}
	{BEGIN CurrentLocation_fieldcolumn}
<td  class="runner-cc {$CurrentLocation_class}" {$CurrentLocation_style} {$recordattrs}>
	{$CurrentLocation_value}
</td>
{END CurrentLocation_fieldcolumn}
	{BEGIN Fullname_fieldcolumn}
<td  class="runner-cc {$Fullname_class}" {$Fullname_style} {$recordattrs}>
	{$Fullname_value}
</td>
{END Fullname_fieldcolumn}
	{BEGIN DateOfBirth_fieldcolumn}
<td  class="runner-cc {$DateOfBirth_class}" {$DateOfBirth_style} {$recordattrs}>
	{$DateOfBirth_value}
</td>
{END DateOfBirth_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
	{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
