<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Username">
	{$Username_editcontrol}
	</control>
	<control field="Password">
	{$Password_editcontrol}
	</control>
	<control field="Active">
	{$Active_editcontrol}
	</control>
	<control field="Email">
	{$Email_editcontrol}
	</control>
	<control field="Mobile">
	{$Mobile_editcontrol}
	</control>
	<control field="UserType">
	{$UserType_editcontrol}
	</control>
	<control field="Address">
	{$Address_editcontrol}
	</control>
	<control field="CurrentLocation">
	{$CurrentLocation_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>