.preview .runner-s-hmenu > * > * > .runner-toprow > .runner-cl img
{
height: 0px
}
.preview .runner-s-hmenu > * > * > .runner-toprow > .runner-cr img
{
height: 0px
}
.preview .runner-s-hmenu > * > * > .runner-bottomrow > .runner-cl img
{
height: 0px
}
.preview .runner-s-hmenu > * > * > .runner-bottomrow > .runner-cr img
{
height: 0px
}
.preview .runner-s-hmenu > * > * > * > .runner-cl ,
.preview .runner-s-hmenu > * > * > * > .runner-cl  > img,
.preview .runner-s-hmenu > * > * > * > .runner-cr ,
.preview .runner-s-hmenu > * > * > * > .runner-cr  > img
{
width: 0px
}
.preview .runner-s-hmenu > * > * > .runner-toprow.style1 > .runner-cl ,
.preview .runner-s-hmenu > * > * > .runner-toprow.style2 > .runner-cl ,
.preview .runner-s-hmenu > * > * > .runner-toprow.style3 > .runner-cl ,
.preview .runner-s-hmenu > * > * > .runner-toprow > .runner-cl.alt ,
.preview .runner-s-hmenu > * > * > .runner-toprow.style1 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-toprow.style2 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-toprow.style3 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-toprow > .runner-cc.alt ,
.preview .runner-s-hmenu > * > * > .runner-toprow.style1 > .runner-cr ,
.preview .runner-s-hmenu > * > * > .runner-toprow.style2 > .runner-cr ,
.preview .runner-s-hmenu > * > * > .runner-toprow.style3 > .runner-cr ,
.preview .runner-s-hmenu > * > * > .runner-toprow > .runner-cr.alt ,
.preview .runner-s-hmenu > * > * > .runner-row.style1 > .runner-cl ,
.preview .runner-s-hmenu > * > * > .runner-row.style2 > .runner-cl ,
.preview .runner-s-hmenu > * > * > .runner-row.style3 > .runner-cl ,
.preview .runner-s-hmenu > * > * > .runner-row > .runner-cl.alt ,
.preview .runner-s-hmenu > * > * > .runner-row.style1 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-row.style2 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-row > .runner-cc.alt ,
.preview .runner-s-hmenu > * > * > .runner-row.style1 > .runner-cr ,
.preview .runner-s-hmenu > * > * > .runner-row.style2 > .runner-cr ,
.preview .runner-s-hmenu > * > * > .runner-row.style3 > .runner-cr ,
.preview .runner-s-hmenu > * > * > .runner-row > .runner-cr.alt ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style1 > .runner-cl ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style2 > .runner-cl ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style3 > .runner-cl ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow > .runner-cl.alt ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style1 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style2 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow > .runner-cc.alt ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style1 > .runner-cr ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style2 > .runner-cr ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style3 > .runner-cr ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow > .runner-cr.alt 
{
background:none
}
.preview .runner-s-hmenu > * > * > .runner-bottomrow
{
display:none;
}
.preview .runner-s-hmenu > * > * > .runner-toprow.style1 > *.runner-cc
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-row.style1 > *.runner-cc
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-toprow.style1 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-hmenu > * > * > .runner-row.style1 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-hmenu .runner-row.style1 > * > .runner-hc > * > * > .runner-cc
{
padding: 0px 4px 0px 4px;
}
.preview .runner-s-hmenu > * > * > .runner-toprow.header.style1 > .runner-cc 
{
padding: 0px 4px;
}
.preview .runner-s-hmenu > * > * > .runner-row.style1 > .runner-cc 
{
padding: 0px 4px;
}
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style1 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-hmenu > * > * > .runner-toprow.style2 > *.runner-cc
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-row.style2 > *.runner-cc
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-toprow.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-hmenu > * > * > .runner-row.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-hmenu .runner-row.style2 > * > .runner-hc > * > * > .runner-cc
{
padding: 0px 4px 0px 4px;
}
.preview .runner-s-hmenu > * > * > .runner-toprow.header.style2 > .runner-cc 
{
padding: 0px 4px;
}
.preview .runner-s-hmenu > * > * > .runner-row.style2 > .runner-cc 
{
padding: 0px 4px;
}
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style2 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-hmenu > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-hmenu > * > * > .runner-toprow > *.runner-cc.alt
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-hmenu > * > * > .runner-row > *.runner-cc.alt
{
color: #FFFF00
}
.preview .runner-s-hmenu > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-hmenu > * > * > .runner-toprow > *.runner-cc.alt
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-hmenu > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-hmenu > * > * > .runner-row > *.runner-cc.alt
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-hmenu .runner-row.style3 > * > .runner-hc > * > * > .runner-cc
{
padding: 0px 4px 0px 4px;
}
.preview .runner-s-hmenu > * > * > .runner-toprow.header.style3 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-toprow.header > .runner-cc.alt 
{
padding: 0px 4px;
}
.preview .runner-s-hmenu > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-row > .runner-cc.alt 
{
padding: 0px 4px;
}
.preview .runner-s-hmenu > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-hmenu > * > * > .runner-bottomrow > .runner-cc.alt 
{
padding: 0px;
}
.preview .runner-s-hmenu .runner-cc  .runner-btnframe > .runner-button-img img,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  .runner-btnframe > .runner-button-img img
{
margin: 5px
}
.preview .runner-s-hmenu .runner-cc  a.runner-button,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  a.runner-button
{
line-height:23px; padding: 0 10px;
}
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe
{
height:23px;
}
.preview .runner-s-hmenu .runner-cc  .runner-btnleft,
.preview .runner-s-hmenu .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  .runner-btnright
{
background-image: url('btnbutton1/sprite1.png?63250375')
}
.preview .runner-s-hmenu .runner-cc  .runner-btnleft,
.preview .runner-s-hmenu .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  .runner-btnright
{
background-position:0px 0px;
}
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe.hover .runner-btnleft,
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe.hover .runner-btnright,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe.hover .runner-btnleft,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe.hover .runner-btnright
{
background-position:0px -23px;
}
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe.press .runner-btnleft,
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe.press .runner-btnright,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe.press .runner-btnleft,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe.press .runner-btnright
{
background-position:0px -46px;
}
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe.disabled .runner-btnleft,
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe.disabled .runner-btnright,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe.disabled .runner-btnleft,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe.disabled .runner-btnright
{
background-position:0px -69px;
}
.preview .runner-s-hmenu .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  .runner-btnleft
{
height:23px; top:0; left:0; right:2px;
}
.preview .runner-s-hmenu .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  .runner-btnright
{
width:500px; right:0; clip:rect(auto, auto, auto, 498px); height:23px;
}
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe a.runner-button,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe a.runner-button
{
color: #6F3101
}
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe.hover a.runner-button,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe.hover a.runner-button
{
color: #140900
}
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe.press a.runner-button,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe.press a.runner-button
{
color: #140900
}
.preview .runner-s-hmenu .runner-cc  span.runner-btnframe.disabled a.runner-button,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  span.runner-btnframe.disabled a.runner-button
{
color: #A9A9A9
}
.preview .runner-s-hmenu .runner-cc  a.runner-button,
.preview  .runner-wrapper .runner-s-hmenu .runner-cc  a.runner-button
{
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow > .runner-cl img
{
height: 0px
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow > .runner-cr img
{
height: 0px
}
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow > .runner-cl img
{
height: 0px
}
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow > .runner-cr img
{
height: 0px
}
.preview .runner-s-disabled-hmenu > * > * > * > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > * > .runner-cl  > img,
.preview .runner-s-disabled-hmenu > * > * > * > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > * > .runner-cr  > img
{
width: 0px
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style1 > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style2 > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style3 > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow > .runner-cl.alt ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style1 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style2 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style3 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow > .runner-cc.alt ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style1 > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style2 > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style3 > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow > .runner-cr.alt ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style1 > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style2 > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style3 > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row > .runner-cl.alt ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style1 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style2 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row > .runner-cc.alt ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style1 > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style2 > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style3 > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row > .runner-cr.alt ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style1 > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style2 > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style3 > .runner-cl ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow > .runner-cl.alt ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style1 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style2 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow > .runner-cc.alt ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style1 > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style2 > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style3 > .runner-cr ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow > .runner-cr.alt 
{
background:none
}
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow
{
display:none;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style1 > *.runner-cc
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style1 > *.runner-cc
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style1 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style1 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-hmenu .runner-row.style1 > * > .runner-hc > * > * > .runner-cc
{
padding: 6px 4px 6px 4px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.header.style1 > .runner-cc 
{
padding: 6px 4px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style1 > .runner-cc 
{
padding: 6px 4px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style1 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style2 > *.runner-cc
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style2 > *.runner-cc
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style2 > *.runner-cc
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-hmenu .runner-row.style2 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.header.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style2 > .runner-cc 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style2 > .runner-cc 
{
padding: 0px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow > *.runner-cc.alt
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-disabled-hmenu > * > * > .runner-row > *.runner-cc.alt
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.style3 > *.runner-cc,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow > *.runner-cc.alt
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style3 > *.runner-cc,
.preview .runner-s-disabled-hmenu > * > * > .runner-row > *.runner-cc.alt
{
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.preview .runner-s-disabled-hmenu .runner-row.style3 > * > .runner-hc > * > * > .runner-cc
{
padding: 5px 4px 5px 4px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.header.style3 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-toprow.header > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-row.style3 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-row > .runner-cc.alt 
{
padding: 5px 4px;
}
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow.style3 > .runner-cc ,
.preview .runner-s-disabled-hmenu > * > * > .runner-bottomrow > .runner-cc.alt 
{
padding: 0px;
}
.preview .runner-s-disabled-hmenu .runner-cc  .runner-btnframe > .runner-button-img img,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  .runner-btnframe > .runner-button-img img
{
margin: 5px
}
.preview .runner-s-disabled-hmenu .runner-cc  a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  a.runner-button
{
line-height:23px; padding: 0 10px;
}
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe
{
height:23px;
}
.preview .runner-s-disabled-hmenu .runner-cc  .runner-btnleft,
.preview .runner-s-disabled-hmenu .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  .runner-btnright
{
background-image: url('btndisabledbutton1/sprite1.png?63250468')
}
.preview .runner-s-disabled-hmenu .runner-cc  .runner-btnleft,
.preview .runner-s-disabled-hmenu .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  .runner-btnright
{
background-position:0px 0px;
}
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.hover .runner-btnleft,
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.hover .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.hover .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.hover .runner-btnright
{
background-position:0px -23px;
}
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.press .runner-btnleft,
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.press .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.press .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.press .runner-btnright
{
background-position:0px -46px;
}
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.disabled .runner-btnleft,
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.disabled .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.disabled .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.disabled .runner-btnright
{
background-position:0px -69px;
}
.preview .runner-s-disabled-hmenu .runner-cc  .runner-btnleft,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  .runner-btnleft
{
height:23px; top:0; left:0; right:2px;
}
.preview .runner-s-disabled-hmenu .runner-cc  .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  .runner-btnright
{
width:500px; right:0; clip:rect(auto, auto, auto, 498px); height:23px;
}
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe a.runner-button
{
color: #B3B3B3
}
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.hover a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.hover a.runner-button
{
color: #A6A6A6
}
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.press a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.press a.runner-button
{
color: #A6A6A6
}
.preview .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.disabled a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  span.runner-btnframe.disabled a.runner-button
{
color: #D6D6D6
}
.preview .runner-s-disabled-hmenu .runner-cc  a.runner-button,
.preview  .runner-wrapper .runner-s-disabled-hmenu .runner-cc  a.runner-button
{
font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
