<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{BEGIN container_menu}<nav {$menu_chiddenattr} data-pageid="{$pageid}" data-container="menu" class="navbar navbar-default ">					



{BEGIN container_hdr}
<div {$hdr_chiddenattr} data-pageid="{$pageid}" data-container="hdr" class=" navbar-header   "> 

{BEGIN logo_block}
<a href="{$home_link}" {$logo_hiddenattr} data-pageid="{$pageid}" data-brick="logo" class="navbar-brand" >{$logo}</a>
{END logo_block}


{BEGIN collapse_block}
<button {$bsnavbarcollapse_hiddenattr} data-pageid="{$pageid}" data-brick="bsnavbarcollapse" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target=".bs-navcontrolled">	
	<span class="sr-only">Toggle navigation</span>	
	<span class="icon-bar"></span>					
</button>												

{END collapse_block}



</div>
{END container_hdr}






{BEGIN container_menu_1}<div {$menu_1_chiddenattr} data-pageid="{$pageid}" data-container="menu_1" class="bs-navform navbar-collapse bs-navcontrolled bs-hidden-xs" aria-expanded="false" >												   
{BEGIN menu_block}
{$menu main horizontal}

{END menu_block}





{BEGIN container_more}
<div {$more_chiddenattr} data-pageid="{$pageid}" data-container="more" class=" navbar-right navbar-form   "> 

{BEGIN more_list}
<div {$morebutton_hiddenattr} data-pageid="{$pageid}" data-brick="morebutton" class="btn-group bs-navsection">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="glyphicon glyphicon-cog"></span>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
				{BEGIN editselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$editselectedlink_attrs} {$editselectedlink_span} >Edit selected</a></li>
		{END editselected_link}

				{BEGIN exportselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$exportselectedlink_attrs} {$exportselectedlink_span} >Export selected</a></li>
		{END exportselected_link}
		
				{BEGIN deleteselected_link}
		<li class="massButton{$id} disabled"><a href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>Delete selected</a></li>
		{END deleteselected_link}
		
				<li role="separator" class="divider"></li>	

				{BEGIN asearch_link}
		<li><a href="lead_search.php" {$advsearchlink_attrs}>Advanced search</a></li>
		{END asearch_link}

				{BEGIN searchPanelTopButtons}
		<li><a href=# id="showOptPanel{$id}">Show search panel</a></li>
		{END searchPanelTopButtons}	
		
				
				<li role="separator" class="divider"></li>	
		
				
				{BEGIN export_link}
		<li><a target="_blank" href="lead_export.php"  {$exportlink_attrs}>Export results</a></li>
		{END export_link}

				{BEGIN import_link}
		<li><a href="lead_import.php?{$crosstable_attrs}"  {$importlink_attrs}>Import</a></li>
		{END import_link}

				
	</ul>  
</div>

{END more_list}


{BEGIN security_block}
<span {$loggedas_hiddenattr} data-pageid="{$pageid}" data-brick="loggedas" id="login_block{$id}" class="bs-navsection">
	{BEGIN guestloginbutton}
		<button class="btn btn-info" type="button" {$guestloginlink_attrs}>Login</button>
	{END guestloginbutton}
	{BEGIN loggedas_message} 
		<span class="dropdown">
			<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"></span>	{$username}</button>
			<ul class="dropdown-menu">
		{BEGIN logoutbutton}
				<li><a href="#" {$logoutlink_attrs}>Log out</a></li>
		{END logoutbutton}
		

			</ul>
		</span>
	{END loggedas_message}
</span>
{END security_block}



</div>
{END container_more}








{BEGIN container_more_1}
<div {$more_1_chiddenattr} data-pageid="{$pageid}" data-container="more_1" class=" navbar-right navbar-form   "> 

{BEGIN searchform_block}
<span {$search_hiddenattr} data-pageid="{$pageid}" data-brick="search" class="form-group">

 <div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>
{END searchform_block}



</div>
{END container_more_1}




												</div>						{END container_menu_1}


									</nav>{END container_menu}
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				

{BEGIN container_breadcrumbs}
<div {$breadcrumbs_chiddenattr} data-pageid="{$pageid}" data-container="breadcrumbs" class="    "> 




{BEGIN container_bc}
<div {$bc_chiddenattr} data-pageid="{$pageid}" data-container="bc" class="    "> 

{BEGIN breadcrumbs}
<ol class="breadcrumb">
<li ><a href="{$home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumbs}



</div>
{END container_bc}






</div>
{END container_breadcrumbs}




			</div>
			<div class="bs-left" {$blockattr_left}>
				

{BEGIN container_left}
<div {$left_chiddenattr} data-pageid="{$pageid}" data-container="left" class="    "> 

{BEGIN searchPanel}
<div {$searchpanel_hiddenattr} data-pageid="{$pageid}" data-brick="searchpanel" class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} >
	<!-- Search panel content -->
	
	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in
			<span class="caret"></span>
			</button>
		</div>

		
		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>
	
		
		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}


	</div>
	
	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</button>
	</div>
</div>


{END searchPanel}




</div>
{END container_left}


			</div>
			<div class="bs-center bs-screenwidth bs-minwidth">
				

{BEGIN container_messagerow}
<div {$messagerow_chiddenattr} data-pageid="{$pageid}" data-container="messagerow" class="row rnr-rowcontainer ">




{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-12 "> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">{$message}</div>
{END message_block}



</div>
{END container_message}






</div>{END container_messagerow}



{BEGIN container_gridcontrols}
<div {$gridcontrols_chiddenattr} data-pageid="{$pageid}" data-container="gridcontrols" class="row rnr-rowcontainer bs-navcontrolled bs-hidden-xs">




{BEGIN container_add_delete}
<div {$add_delete_chiddenattr} data-pageid="{$pageid}" data-container="add_delete" class=" bottom-margin  col-md-6 "> 

{BEGIN newrecord_controls_block}
		{BEGIN add_link}
		<a {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$addlink_attrs}>Add new</a>
	{END add_link}

		{BEGIN inlineadd_link}
		<button {$add_hiddenattr} data-pageid="{$pageid}" data-brick="add" type="button" class="btn btn-primary" {$inlineaddlink_attrs}>Inline Add</button>
	{END inlineadd_link}

{END newrecord_controls_block}


{BEGIN record_controls_block}
<span {$recordcontrol_hiddenattr} data-pageid="{$pageid}" data-brick="recordcontrol">
		{BEGIN deleteselected_link}
	<button type="button" class="btn btn-default" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled>Delete</button>
	{END deleteselected_link}
			{BEGIN saveall_link}
		<button type="button" class="btn btn-primary" {$savealllink_attrs} {$savealllink_span}>Save all</button>
	{END saveall_link}
	{BEGIN cancelall_link}
		<button type="button" class="btn btn-default" {$cancelalllink_attrs} {$cancelalllink_span}>Cancel</button>
	{END cancelall_link}
</span>

{END record_controls_block}



</div>
{END container_add_delete}








{BEGIN container_gridinfo}
<div {$gridinfo_chiddenattr} data-pageid="{$pageid}" data-container="gridinfo" class=" bottom-margin pull-right text-right col-md-6 "> 

{BEGIN details_found}
<span {$details_found_hiddenattr} data-pageid="{$pageid}" data-brick="details_found" class="form-inline form-inline-always">
	{$records_indicator}
	<span>
	{BEGIN recordspp_block}
			{$recsPerPage}
	{END recordspp_block}
	</span>
</span>
{END details_found}


{BEGIN print_friendly}
<span {$printpanel_hiddenattr} data-pageid="{$pageid}" data-brick="printpanel" class="bs-printpanel" id="printpanelblock{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Print-friendly page">
		<span class="glyphicon glyphicon-print" ></span>
		<span class="caret"></span>
    </button>
	<ul class="dropdown-menu pull-right" >
		<li>
			<div class="container-fluid" id="print_friendly_scope{$id}">
				<div class="row">
					<div class="col-md-4">Scope:</div>
										{BEGIN print_friendly_all}
					<div class="col-md-8">
						<label for="printAll{$id}">
							<input type="radio" id="printAll{$id}" data-href="lead_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
							Print all pages
						</label>
					</div>
					{END print_friendly_all}
				</div>
				<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printPage{$id}">
							<input type="radio" id="printPage{$id}" data-href="lead_print.php?{$crosstable_attrs}" name="printScope" checked>
							Print this page
						</label>
					</div>
				</div>
								<div class="row">
					<div class="col-md-4">&nbsp;</div>
					<div class="col-md-8">
						<label for="printSelection{$id}" style="color: gray;">
							<input type="radio" id="printSelection{$id}" name="printScope" disabled="disabled">
							Print selected
						</label>
					</div>
				</div>
			</div>
		</li>
		<li class="divider" role="separator"></li>

		
				<li>	
			<div class="rnr-printdetails">
				<label for="printPerPage{$id}">
											Records Per Page:
				</label>
				<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
			</div>
		</li>
		<li class="divider" role="separator"></li>
		<li class="rnr-printbutton">				
			<button type="button" class="btn btn-primary" id="print_friendly_button{$id}" >Print</button>			
		</li>
	</ul>	
</span>

{END print_friendly}




</div>
{END container_gridinfo}






</div>{END container_gridcontrols}



{BEGIN container_center}
<div {$center_chiddenattr} data-pageid="{$pageid}" data-container="center" class="    "> 




{BEGIN container_grid}
<div {$grid_chiddenattr} data-pageid="{$pageid}" data-container="grid" class="bs-grid    "> 

{BEGIN grid_block}
	<style>
	.bs-gridcell[data-field=ID]:before {
		content: "{$label lead ID}";
	}
	.bs-gridcell[data-field=CompanyName]:before {
		content: "{$label lead CompanyName}";
	}
	.bs-gridcell[data-field=Address]:before {
		content: "{$label lead Address}";
	}
	.bs-gridcell[data-field=WhoSpokenToAndWhoIsPersonInCharge]:before {
		content: "{$label lead WhoSpokenToAndWhoIsPersonInCharge}";
	}
	.bs-gridcell[data-field=TelNoAndEmailAddress]:before {
		content: "{$label lead TelNoAndEmailAddress}";
	}
	.bs-gridcell[data-field=RenewalDateOfCurrentContract]:before {
		content: "{$label lead RenewalDateOfCurrentContract}";
	}
	.bs-gridcell[data-field=DateSeen]:before {
		content: "{$label lead DateSeen}";
	}
	.bs-gridcell[data-field=Interested]:before {
		content: "{$label lead Interested}";
	}
	.bs-gridcell[data-field=NumberOfBins]:before {
		content: "{$label lead NumberOfBins}";
	}
	.bs-gridcell[data-field=WeeksInMonth]:before {
		content: "{$label lead WeeksInMonth}";
	}
	.bs-gridcell[data-field=PickupsPerWeek]:before {
		content: "{$label lead PickupsPerWeek}";
	}
	.bs-gridcell[data-field=ChargePerPickupPerBin]:before {
		content: "{$label lead ChargePerPickupPerBin}";
	}
	.bs-gridcell[data-field=TotalExclVAT]:before {
		content: "{$label lead TotalExclVAT}";
	}
	.bs-gridcell[data-field=VAT]:before {
		content: "{$label lead VAT}";
	}
	.bs-gridcell[data-field=TotalInclVAT]:before {
		content: "{$label lead TotalInclVAT}";
	}
	.bs-gridcell[data-field=Info]:before {
		content: "{$label lead Info}";
	}
	.bs-gridcell[data-field=NextContact]:before {
		content: "{$label lead NextContact}";
	}
	.bs-gridcell[data-field=NotInterested]:before {
		content: "{$label lead NotInterested}";
	}
</style>
<table {$grid_hiddenattr} data-pageid="{$pageid}" data-brick="grid" class="table {$grid_classes} bs-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" >
	<thead>
										{BEGIN grid_header}
								<tr class="rnr-toprow {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																		
									{BEGIN CompanyName_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$CompanyName_class}" data-field=CompanyName>
									{BEGIN CompanyName_fieldheader}
																				<span {$CompanyName_orderlinkattrs}>
											{$label lead CompanyName}
										</span>
									{END CompanyName_fieldheader}
									</th>
									{END CompanyName_fieldheadercolumn}
									
									
									
									
									{BEGIN ID_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$ID_class}" data-field=ID>
									{BEGIN ID_fieldheader}
																				<span {$ID_orderlinkattrs}>
											{$label lead ID}
										</span>
									{END ID_fieldheader}
									</th>
									{END ID_fieldheadercolumn}
									
									
									
									
									{BEGIN TelNoAndEmailAddress_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$TelNoAndEmailAddress_class}" data-field=TelNoAndEmailAddress>
									{BEGIN TelNoAndEmailAddress_fieldheader}
																				<span {$TelNoAndEmailAddress_orderlinkattrs}>
											{$label lead TelNoAndEmailAddress}
										</span>
									{END TelNoAndEmailAddress_fieldheader}
									</th>
									{END TelNoAndEmailAddress_fieldheadercolumn}
									
									
									
									
									{BEGIN RenewalDateOfCurrentContract_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$RenewalDateOfCurrentContract_class}" data-field=RenewalDateOfCurrentContract>
									{BEGIN RenewalDateOfCurrentContract_fieldheader}
																				<span {$RenewalDateOfCurrentContract_orderlinkattrs}>
											{$label lead RenewalDateOfCurrentContract}
										</span>
									{END RenewalDateOfCurrentContract_fieldheader}
									</th>
									{END RenewalDateOfCurrentContract_fieldheadercolumn}
									
									
									
									
									{BEGIN DateSeen_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$DateSeen_class}" data-field=DateSeen>
									{BEGIN DateSeen_fieldheader}
																				<span {$DateSeen_orderlinkattrs}>
											{$label lead DateSeen}
										</span>
									{END DateSeen_fieldheader}
									</th>
									{END DateSeen_fieldheadercolumn}
									
									
									
									
									{BEGIN NextContact_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$NextContact_class}" data-field=NextContact>
									{BEGIN NextContact_fieldheader}
																				<span {$NextContact_orderlinkattrs}>
											{$label lead NextContact}
										</span>
									{END NextContact_fieldheader}
									</th>
									{END NextContact_fieldheadercolumn}
									
									
									
									
									{BEGIN Info_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$Info_class}" data-field=Info>
									{BEGIN Info_fieldheader}
																				<span {$Info_orderlinkattrs}>
											{$label lead Info}
										</span>
									{END Info_fieldheader}
									</th>
									{END Info_fieldheadercolumn}
									
									
									
									
									{BEGIN NotInterested_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$NotInterested_class}" data-field=NotInterested>
									{BEGIN NotInterested_fieldheader}
																				<span {$NotInterested_orderlinkattrs}>
											{$label lead NotInterested}
										</span>
									{END NotInterested_fieldheader}
									</th>
									{END NotInterested_fieldheadercolumn}
									
									
									
									
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

	</thead>
	<tbody>	
		{BEGIN grid_row}
<tr class="{$rowclass} bs-gridrow" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
	{BEGIN listIcons_column}
	<td class="bs-gridicons" iEditCont="all" {$rowstyle} {$recordattrs}>
		{BEGIN edit_column}
	{BEGIN edit_link}
			<a class="glyphicon glyphicon-pencil" {$editlink_attrs} title="Edit"></a>
	{END edit_link}
	{END edit_column}

		{BEGIN inlineedit_column}
	{BEGIN inlineedit_link}
			<a class="glyphicon glyphicon-edit" {$inlineeditlink_attrs} title="Inline Edit"></a>
	{END inlineedit_link}
	{END inlineedit_column}

	
		{BEGIN view_column}
	{BEGIN view_link}
			<a class="glyphicon glyphicon-search" {$viewlink_attrs} title="View"></a>
	{END view_link}
	{END view_column}
	</td>	
	{END listIcons_column}	

		{BEGIN checkbox_column}
	<td  iEditCont="checkBox" class="bs-gridcheckbox" {$rowstyle} {$recordattrs}>
	{BEGIN checkbox}
	<input type="checkbox" {$checkbox_attrs}>
	{END checkbox}
	</td>
	{END checkbox_column}

	

	{BEGIN CompanyName_fieldcolumn}
	<td class="bs-gridcell {$CompanyName_class}"  data-field=CompanyName {$rowstyle} {$recordattrs}>
		{$CompanyName_value}
	</td>
{END CompanyName_fieldcolumn}


	{BEGIN ID_fieldcolumn}
	<td class="bs-gridcell {$ID_class}"  data-field=ID {$rowstyle} {$recordattrs}>
		{$ID_value}
	</td>
{END ID_fieldcolumn}


	{BEGIN TelNoAndEmailAddress_fieldcolumn}
	<td class="bs-gridcell {$TelNoAndEmailAddress_class}"  data-field=TelNoAndEmailAddress {$rowstyle} {$recordattrs}>
		{$TelNoAndEmailAddress_value}
	</td>
{END TelNoAndEmailAddress_fieldcolumn}


	{BEGIN RenewalDateOfCurrentContract_fieldcolumn}
	<td class="bs-gridcell {$RenewalDateOfCurrentContract_class}"  data-field=RenewalDateOfCurrentContract {$rowstyle} {$recordattrs}>
		{$RenewalDateOfCurrentContract_value}
	</td>
{END RenewalDateOfCurrentContract_fieldcolumn}


	{BEGIN DateSeen_fieldcolumn}
	<td class="bs-gridcell {$DateSeen_class}"  data-field=DateSeen {$rowstyle} {$recordattrs}>
		{$DateSeen_value}
	</td>
{END DateSeen_fieldcolumn}


	{BEGIN NextContact_fieldcolumn}
	<td class="bs-gridcell {$NextContact_class}"  data-field=NextContact {$rowstyle} {$recordattrs}>
		{$NextContact_value}
	</td>
{END NextContact_fieldcolumn}


	{BEGIN Info_fieldcolumn}
	<td class="bs-gridcell {$Info_class}"  data-field=Info {$rowstyle} {$recordattrs}>
		{$Info_value}
	</td>
{END Info_fieldcolumn}


	{BEGIN NotInterested_fieldcolumn}
	<td class="bs-gridcell {$NotInterested_class}"  data-field=NotInterested {$rowstyle} {$recordattrs}>
		{$NotInterested_value}
	</td>
{END NotInterested_fieldcolumn}

	{BEGIN endrecord_block}
	<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
	{END endrecord_block}
									
	{END grid_record}

</tr>
{END grid_row}
	</tbody>
	<tfoot>
										
	</tfoot>
</table>



{END grid_block}



</div>
{END container_grid}






</div>
{END container_center}



{BEGIN container_pagination}
<div {$pagination_chiddenattr} data-pageid="{$pageid}" data-container="pagination" class="  text-center col-md-12 "> 

{BEGIN pagination_block}
<div {$pagination_hiddenattr} data-pageid="{$pageid}" data-brick="pagination">
{$pagination}
</div>
{END pagination_block}



</div>
{END container_pagination}


			</div>
			<div class="bs-right">
				
			</div>
		</div>
		
		{$footer}
	{END body}
	</body>
</html>
