<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="CompanyName">
	{$CompanyName_editcontrol}
	</control>
	<control 
	field="TelNoAndEmailAddress">
	{$TelNoAndEmailAddress_editcontrol}
	</control>
	<control 
	field="RenewalDateOfCurrentContract">
	{$RenewalDateOfCurrentContract_editcontrol}
	</control>
	<control 
	field="DateSeen">
	{$DateSeen_editcontrol}
	</control>
	<control 
	field="NextContact">
	{$NextContact_editcontrol}
	</control>
	<control 
	field="Info">
	{$Info_editcontrol}
	</control>
	<control 
	field="NotInterested">
	{$NotInterested_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
