.preview .runner-s-fields > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #6F6F6F
}
.preview .runner-s-fields > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-row.style1 > *.runner-cc a
{
color: #6F6F6F
}
.preview .runner-s-fields > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #353535
}
.preview .runner-s-fields > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-row.style2 > *.runner-cc a
{
color: #353535
}
.preview .runner-s-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-fields > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-toprow > *.runner-cc a
{
color: #6F6F6F
}
.preview .runner-s-fields > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-fields > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-fields > * > * > .runner-row > *.runner-cc a
{
color: #6F6F6F
}
.preview .runner-s-fields  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-fields  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 490px);
}
.preview .runner-s-disabled-fields > * > * > .runner-toprow.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-toprow.style1 > *.runner-cc a
{
color: #C5C5C5
}
.preview .runner-s-disabled-fields > * > * > .runner-row.style1 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-row.style1 > *.runner-cc a
{
color: #C5C5C5
}
.preview .runner-s-disabled-fields > * > * > .runner-toprow.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-toprow.style2 > *.runner-cc a
{
color: #B3B3B3
}
.preview .runner-s-disabled-fields > * > * > .runner-row.style2 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-row.style2 > *.runner-cc a
{
color: #B3B3B3
}
.preview .runner-s-disabled-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview .runner-s-disabled-fields > * > * > .runner-toprow > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-toprow.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-toprow > *.runner-cc a
{
color: #C5C5C5
}
.preview .runner-s-disabled-fields > * > * > .runner-row.style3 > *.runner-cc a,
.preview .runner-s-disabled-fields > * > * > .runner-row > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-row.style3 > *.runner-cc a,
.preview  .runner-wrapper .runner-s-disabled-fields > * > * > .runner-row > *.runner-cc a
{
color: #C5C5C5
}
.preview .runner-s-disabled-fields  span.runner-btnframe > .runner-btnright,
.preview  .runner-wrapper .runner-s-disabled-fields  span.runner-btnframe > .runner-btnright
{
clip:rect(auto auto auto 490px);
}
