body.page-list5
{
padding-top:10px; padding-left:10px;
}
.page-list5 .rnr-c-bigblock,
  .rnr-pagewrapper .page-list5 .rnr-c-bigblock,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-bigblock
{
margin-bottom:5px;
}
.page-list5 .rnr-c-bigblock,
  .rnr-pagewrapper .page-list5 .rnr-c-bigblock,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-bigblock
{
min-width:100px;
}
.page-list5 .rnr-c-recordcontrols,
  .rnr-pagewrapper .page-list5 .rnr-c-recordcontrols,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-recordcontrols
{
margin-bottom:5px;
}
.page-list5 .rnr-c-recordcontrols,
  .rnr-pagewrapper .page-list5 .rnr-c-recordcontrols,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-recordcontrols
{
min-width:100px;
}
.page-list5 .rnr-b-recordcontrols_new,
  .rnr-pagewrapper .page-list5 .rnr-b-recordcontrols_new,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-recordcontrols_new
{
white-space: nowrap;
}
.page-list5 .rnr-b-recordcontrols_new,
  .rnr-pagewrapper .page-list5 .rnr-b-recordcontrols_new,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-recordcontrols_new
{
text-align: left;
}
.page-list5 .rnr-b-recordcontrols_new > *,
  .rnr-pagewrapper .page-list5 .rnr-b-recordcontrols_new > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-recordcontrols_new > *
{

}
.page-list5 .rnr-b-recordcontrol_hidden,
  .rnr-pagewrapper .page-list5 .rnr-b-recordcontrol_hidden,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-recordcontrol_hidden
{
white-space: nowrap;
}
.page-list5 .rnr-b-recordcontrol_hidden,
  .rnr-pagewrapper .page-list5 .rnr-b-recordcontrol_hidden,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-recordcontrol_hidden
{
text-align: left;
}
.page-list5 .rnr-b-recordcontrol_hidden > *,
  .rnr-pagewrapper .page-list5 .rnr-b-recordcontrol_hidden > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-recordcontrol_hidden > *
{

}
.page-list5 .rnr-b-toplinks_hidden,
  .rnr-pagewrapper .page-list5 .rnr-b-toplinks_hidden,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-toplinks_hidden
{
white-space: nowrap;
}
.page-list5 .rnr-b-toplinks_hidden,
  .rnr-pagewrapper .page-list5 .rnr-b-toplinks_hidden,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-toplinks_hidden
{
text-align: left;
}
.page-list5 .rnr-b-toplinks_hidden > *,
  .rnr-pagewrapper .page-list5 .rnr-b-toplinks_hidden > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-toplinks_hidden > *
{

}
.page-list5 .rnr-c-message,
  .rnr-pagewrapper .page-list5 .rnr-c-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-message
{
margin-bottom:5px;
}
.page-list5 .rnr-c-message,
  .rnr-pagewrapper .page-list5 .rnr-c-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-message
{
min-width:100px;
}
.page-list5 .rnr-b-message,
  .rnr-pagewrapper .page-list5 .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-message
{
white-space: nowrap;
}
.page-list5 .rnr-b-message,
  .rnr-pagewrapper .page-list5 .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-message
{
text-align: center;
}
.page-list5 .rnr-b-message > *,
  .rnr-pagewrapper .page-list5 .rnr-b-message > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-message > *
{

}
.page-list5 .rnr-c-grid .rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs,
  .rnr-pagewrapper .page-list5 .rnr-c-grid .rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-grid .rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs.rnr-cs
{
width: 10px;
}
.page-list5 .rnr-c-grid .rnr-rs,
  .rnr-pagewrapper .page-list5 .rnr-c-grid .rnr-rs,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-grid .rnr-rs
{
height: 10px;
}
.page-list5 .rnr-c-grid,
  .rnr-pagewrapper .page-list5 .rnr-c-grid,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-grid
{
margin-bottom:5px;
}
.page-list5 .rnr-b-grid,
  .rnr-pagewrapper .page-list5 .rnr-b-grid,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-grid
{
white-space: normal;
}
.page-list5 .rnr-b-grid,
  .rnr-pagewrapper .page-list5 .rnr-b-grid,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-grid
{
text-align: left;
}
.page-list5 .rnr-b-grid > *,
  .rnr-pagewrapper .page-list5 .rnr-b-grid > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-grid > *
{

}
.page-list5 .rnr-c-pagination,
  .rnr-pagewrapper .page-list5 .rnr-c-pagination,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-pagination
{
margin-bottom:5px;
}
.page-list5 .rnr-c-pagination,
  .rnr-pagewrapper .page-list5 .rnr-c-pagination,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-pagination
{
min-width:100px;
}
.page-list5 .rnr-b-pagination,
  .rnr-pagewrapper .page-list5 .rnr-b-pagination,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-pagination
{
white-space: nowrap;
}
.page-list5 .rnr-b-pagination,
  .rnr-pagewrapper .page-list5 .rnr-b-pagination,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-pagination
{
text-align: center;
}
.page-list5 .rnr-b-pagination > *,
  .rnr-pagewrapper .page-list5 .rnr-b-pagination > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-pagination > *
{

}
body.page-list5 .rnr-center
{
padding-right: 5px;
}
.page-list5 .rnr-c-left,
  .rnr-pagewrapper .page-list5 .rnr-c-left,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-left
{
margin-bottom:5px;
}
.page-list5 .rnr-c-left,
  .rnr-pagewrapper .page-list5 .rnr-c-left,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-left
{
min-width:100px;
}
.page-list5 .rnr-b-vmenu,
  .rnr-pagewrapper .page-list5 .rnr-b-vmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vmenu
{
white-space: nowrap;
}
.page-list5 .rnr-b-vmenu,
  .rnr-pagewrapper .page-list5 .rnr-b-vmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vmenu
{
text-align: left;
}
.page-list5 .rnr-b-vmenu > *,
  .rnr-pagewrapper .page-list5 .rnr-b-vmenu > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vmenu > *
{

}
.page-list5 .rnr-b-vsearch1,
  .rnr-pagewrapper .page-list5 .rnr-b-vsearch1,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vsearch1
{
white-space: nowrap;
}
.page-list5 .rnr-b-vsearch1,
  .rnr-pagewrapper .page-list5 .rnr-b-vsearch1,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vsearch1
{
text-align: left;
}
.page-list5 .rnr-b-vsearch1 > *,
  .rnr-pagewrapper .page-list5 .rnr-b-vsearch1 > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vsearch1 > *
{

}
.page-list5 .rnr-b-vsearch2,
  .rnr-pagewrapper .page-list5 .rnr-b-vsearch2,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vsearch2
{
white-space: nowrap;
}
.page-list5 .rnr-b-vsearch2,
  .rnr-pagewrapper .page-list5 .rnr-b-vsearch2,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vsearch2
{
text-align: left;
}
.page-list5 .rnr-b-vsearch2 > *,
  .rnr-pagewrapper .page-list5 .rnr-b-vsearch2 > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vsearch2 > *
{

}
.page-list5 .rnr-b-search_saving_buttons,
  .rnr-pagewrapper .page-list5 .rnr-b-search_saving_buttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-search_saving_buttons
{
white-space: nowrap;
}
.page-list5 .rnr-b-search_saving_buttons,
  .rnr-pagewrapper .page-list5 .rnr-b-search_saving_buttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-search_saving_buttons
{
text-align: left;
}
.page-list5 .rnr-b-search_saving_buttons > *,
  .rnr-pagewrapper .page-list5 .rnr-b-search_saving_buttons > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-search_saving_buttons > *
{

}
.page-list5 .rnr-b-vdetails_found,
  .rnr-pagewrapper .page-list5 .rnr-b-vdetails_found,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vdetails_found
{
white-space: nowrap;
}
.page-list5 .rnr-b-vdetails_found,
  .rnr-pagewrapper .page-list5 .rnr-b-vdetails_found,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vdetails_found
{
text-align: left;
}
.page-list5 .rnr-b-vdetails_found > *,
  .rnr-pagewrapper .page-list5 .rnr-b-vdetails_found > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vdetails_found > *
{

}
.page-list5 .rnr-b-vpage_of,
  .rnr-pagewrapper .page-list5 .rnr-b-vpage_of,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vpage_of
{
white-space: nowrap;
}
.page-list5 .rnr-b-vpage_of,
  .rnr-pagewrapper .page-list5 .rnr-b-vpage_of,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vpage_of
{
text-align: left;
}
.page-list5 .rnr-b-vpage_of > *,
  .rnr-pagewrapper .page-list5 .rnr-b-vpage_of > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vpage_of > *
{

}
.page-list5 .rnr-b-vrecsperpage,
  .rnr-pagewrapper .page-list5 .rnr-b-vrecsperpage,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vrecsperpage
{
white-space: nowrap;
}
.page-list5 .rnr-b-vrecsperpage,
  .rnr-pagewrapper .page-list5 .rnr-b-vrecsperpage,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vrecsperpage
{
text-align: left;
}
.page-list5 .rnr-b-vrecsperpage > *,
  .rnr-pagewrapper .page-list5 .rnr-b-vrecsperpage > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-vrecsperpage > *
{

}
.page-list5 .rnr-b-searchpanel,
  .rnr-pagewrapper .page-list5 .rnr-b-searchpanel,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-searchpanel
{
white-space: nowrap;
}
.page-list5 .rnr-b-searchpanel,
  .rnr-pagewrapper .page-list5 .rnr-b-searchpanel,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-searchpanel
{
text-align: left;
}
.page-list5 .rnr-b-searchpanel > *,
  .rnr-pagewrapper .page-list5 .rnr-b-searchpanel > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-searchpanel > *
{

}
.page-list5 .rnr-b-filterpanel,
  .rnr-pagewrapper .page-list5 .rnr-b-filterpanel,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-filterpanel
{
white-space: nowrap;
}
.page-list5 .rnr-b-filterpanel,
  .rnr-pagewrapper .page-list5 .rnr-b-filterpanel,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-filterpanel
{
text-align: left;
}
.page-list5 .rnr-b-filterpanel > *,
  .rnr-pagewrapper .page-list5 .rnr-b-filterpanel > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-filterpanel > *
{

}
body.page-list5  > * > * > .rnr-left
{
min-width:260px;
}
body.page-list5 .rnr-left
{
padding-right: 5px;
}
.page-list5 .rnr-c-master,
  .rnr-pagewrapper .page-list5 .rnr-c-master,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-master
{
margin-bottom:5px;
}
.page-list5 .rnr-b-masterinfo,
  .rnr-pagewrapper .page-list5 .rnr-b-masterinfo,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-masterinfo
{
white-space: nowrap;
}
.page-list5 .rnr-b-masterinfo,
  .rnr-pagewrapper .page-list5 .rnr-b-masterinfo,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-masterinfo
{
text-align: left;
}
.page-list5 .rnr-b-masterinfo > *,
  .rnr-pagewrapper .page-list5 .rnr-b-masterinfo > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-masterinfo > *
{

}
.page-list5 .rnr-c-toplinks,
  .rnr-pagewrapper .page-list5 .rnr-c-toplinks,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-toplinks
{
margin-bottom:5px;
}
.page-list5 .rnr-c-toplinks,
  .rnr-pagewrapper .page-list5 .rnr-c-toplinks,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-c-toplinks
{
min-width:100px;
}
.page-list5 .rnr-b-loggedas,
  .rnr-pagewrapper .page-list5 .rnr-b-loggedas,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-loggedas
{
white-space: nowrap;
}
.page-list5 .rnr-b-loggedas,
  .rnr-pagewrapper .page-list5 .rnr-b-loggedas,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-loggedas
{
text-align: left;
}
.page-list5 .rnr-b-loggedas > *,
  .rnr-pagewrapper .page-list5 .rnr-b-loggedas > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-loggedas > *
{

}
.page-list5 .rnr-b-languages,
  .rnr-pagewrapper .page-list5 .rnr-b-languages,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-languages
{
white-space: nowrap;
}
.page-list5 .rnr-b-languages,
  .rnr-pagewrapper .page-list5 .rnr-b-languages,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-languages
{
text-align: left;
}
.page-list5 .rnr-b-languages > *,
  .rnr-pagewrapper .page-list5 .rnr-b-languages > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-list5 .rnr-b-languages > *
{

}
body.page-list5 .rnr-top
{
padding-right: 5px;
}
