body.page-preview
{
padding-top:10px; padding-left:10px;
}
.page-preview .rnr-c-1,
  .rnr-pagewrapper .page-preview .rnr-c-1,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-1
{
margin-bottom:5px;
}
.page-preview .rnr-c-1,
  .rnr-pagewrapper .page-preview .rnr-c-1,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-1
{
min-width: 100px;
}
.page-preview .rnr-b-viewtabfields,
  .rnr-pagewrapper .page-preview .rnr-b-viewtabfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewtabfields
{
white-space: nowrap;
}
.page-preview .rnr-b-viewtabfields,
  .rnr-pagewrapper .page-preview .rnr-b-viewtabfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewtabfields
{
text-align: right;
}
.page-preview .rnr-b-viewtabfields > *,
  .rnr-pagewrapper .page-preview .rnr-b-viewtabfields > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-viewtabfields > *
{

}
body.page-preview .rnr-bare
{
padding-right: 5px;
}
